@charset 'utf-8';


// 张树垚 2015-12-18 15:40:06 创建
// H5微信端 --- component-paypass


.paypass {

	$width: 290px;
	$p2: ''; // 第二种效果

	@include square($width, 46px);
	margin: 0 auto;
	position: relative;

	&-2 {
		$p2: & + '';
		overflow: hidden;
	}

	&-title {
		text-align: center;
		font-size: 16px;
		color: $g-gray;
		margin-top: 70px;
		margin-bottom: 20px;
	}
	&-input {
		@include atlwh(0, -10%, 120%, 100%); // ios光标浮现
		z-index: 100;
		opacity: 0; // ios光标浮现
		font-size: 0; // ios光标浮现
		color: transparent; // ios光标浮现
		line-height: 50px; // ios光标浮现
		text-indent: -20px; // ios光标浮现
	}
	&-box {
		@extend %afull;
		display: flex;
		border: 1px solid $g-blue-border;
		box-sizing: border-box;
		border-radius: $g-radius;
		background-color: $g-white;
		#{$p2} & {
			border-radius: 0;
			border-color: #8c8c8c;
		}
	}
	&-item {
		flex: 1;
		height: 100%;
		border-right: 1px solid $g-light;
		box-sizing: border-box;
		position: relative;
		&:last-child {
			border-right: none;
		}
		&.on {
			&:after {
				content: '';
				@include square(25%);
				@include atl(50%, 50%);
				@include t3d(-50%, -50%);
				background-color: $g-black;
				border-radius: 50%;
			}
		}
	}
	&-button {
		margin-top: $g-margin-top-button;
	}
}


