.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


/*---滚动条默认显示样式--*/

::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    height: 50px;
    outline-offset: -2px;
    outline: 2px solid #fff;
    -webkit-border-radius: 4px;
    border: 2px solid #fff;
}


/*---鼠标点击滚动条显示样式--*/

::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
    height: 50px;
    -webkit-border-radius: 4px;
}


/*---滚动条大小--*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


/*---滚动框背景样式--*/

::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "微软雅黑";
    background-color: #f6f6f6;
}
.topbar .content {
    max-width: 1200px;
    margin: 0 auto;
    color: #cccccc;
    height: 100%;
    line-height: 28px;
    font-size:1.2rem;
}

.topbar .content span {
    color: #cccccc;
    font-size: 12px;
}

.topbar .content span:nth-child(1) {
    /*color:blue;*/
}
.topbar .content span:nth-child(2) {
    /*color:red;✔✘*/
}
.login_regist{
    width:80px;
    float:right;
    right: 0px;
    text-align:right;
}
.login_regist a{
    text-decoration:none;
    color: #cccccc;
}
.login_regist div{
    display:inline;
}
.login_regist_vertical:after{
        content: '|';
    color: #838383;
    width: 2px;
    position: relative;
    bottom: 1px;
}

.topnav {
        width: 100%;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px #888888;
}

.topbanner {
    height: 440px;
    width: 100%;
    position: relative;
}

.report_forms{
    background-color: #ffffff;
    display:flex;
}
.containerwraper{
    margin-left: 20px;
    width: 73%;
    border-right: 1px dotted #cccccc;
}
.containerinnerwrapper{
    max-width:100%;
}

.myassets{
        width: 27%;
    height: 100px;
    background-color: #ffffff;
    padding: 0 20px;
}

.myassetstop{
        height: 83px;
    border-bottom: 1px solid #e9e9e9;
}
.navcontent {
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
    position: relative;
}

.navlogo {
    height: 100%;
    width: 156px;
    position: absolute;
}
.navlogo img {
    cursor: pointer;
    position: absolute;
    top: 17px;
}
.rightfunction {
    display: flex;
    float: right;
    position: relative;
    top: 34px;
}
.feature {
    width: 116px;
    color: #777777;
    font-size: 1.6rem;
    cursor: pointer;
    text-decoration:none;
    
}
.index_on {
    color:#0bbeee;
}
.bottom {
    width: 100%;
    height: 372px;
    background-color: #282828;
}



.bottom h3 {
    font-size: 1.6rem;
    color: #999999;
}

.bottom a {
    text-decoration: none;
    color: #999999;
    display: inline-block;
    width: auto;
    height: 20px;
    line-height: 20px;
    margin-right: 30px;
    font-size: 1.4rem;
}



.bottom_up {
    height: 148px;
    border-bottom: 1px solid #333333;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.bottom_up .links {
    width: 200px;
    height: 100%;
    flex: 1;
}

.bottom_down {
    max-width: 1200px;
    margin: 0 auto;
    height: 223px;
    position: relative;
}

.bottom_down h3 {
    margin-top: 20px;
}

.links {
    position: relative;
}

.links div:nth-of-type(1) {
    position: absolute;
    top: 76px;
}

.links div:last-child {
    position: absolute;
    bottom: 18px;
}

.bottom h3 {}

.first h3,
.second h3,
.third h3,
.fourth h3 {
    margin-top: 40px;
}

.bottom_down .bottom_down_up div {
    width: 200px;
    float: left;
    margin-top: 24px;
    color: #666666;
}

.bottom_down_up {
    height: 100px;
    border-bottom: 1px solid #333;
}

.bottom_down_down {
    height: 123px;
    position: relative;
}

.bottom_down_down p {
    color: #666666;
    position: absolute;
    top: 24px;
}

.list_report {
    height: 1228px;
    width: 100%;
}

.list_report_wraper {
    max-width: 1200px;
    margin: 0 auto;
    height: 470px;
    display: flex;
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}
.list_report_wraper-history {
    max-width: 1200px;
    margin: 0 auto;
    height: 950px;
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.quoted_price_top,
.report_forms {
    max-width: 1200px;
    margin: 0 auto;
}

.quoted_price_top_wrapper{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #ffffff;
    margin: 0 20px;
    border-bottom: 1px solid #e6e6e6;
}

.quoted_price_top {
        display: flex;
    height: 70px;
    margin-top: 14px;
    background-color: #ffffff;
}

.quot_price {
    flex: 0.15;
    text-align: center;
    position: relative;
}

.quot_price div:nth-child(1) {
    top: 15px;
    font-size: 1.4rem;
    position: relative;
    color: #565656;
}

.quot_price div:nth-child(2) {
    top: 18px;
    font-size: 2.0rem;
    position: relative;
    /* color: #333333; */
    font-weight: 600;
}

.quoted_price_fourth div:last-child {
    color: #dd0900;
}

.quoted_price_fivth div:last-child {
    color: #00951c;
}
.leftchart,.rightchart{
    width: 70px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    cursor:pointer;
}
.leftchart{
    margin-left: 20px;
}

.leftright_bottomon{
    border-bottom: 2px solid #ccc;
}

.buy_order {
    flex: 1;
    margin-right: 18px;
}

.sell_order {
    flex: 1;
    margin-right: 18px;
}

.order_record {
    flex: 0.375;
}

.orderlist {
    /* height: 1200px; */
    overflow-y: scroll;
}

.buyin_soldout_wraper{
    flex: 0.625;
    padding: 0 20px;
    display:flex;
    font-size: 1.2rem;
}
.buyin{
    flex:0.5;
    padding-right:10px;
    position:relative;
}
.buyin:after{
    content: ' ';
    width: 0px;
    height: 424px;
    border: 1px dotted #e6e6e6;
    position: absolute;
    right: 0px;
    top: 23px;
    border-left: none;
}
.header_top{
        background-color: #f5f5f5;
    height: 36px;
    line-height: 36px;
    display: flex;
}

.soldout{
    flex:0.5;
    padding-left: 10px;
    position:relative;
}

.soldout .list_header{
    color: #00951c;
}
.buyin_sec .header_top div:nth-child(1),.soldout_sec .header_top div:nth-child(1){
    flex: 0.45;
    text-align: center;
}
.buyin_sec .header_top div:nth-child(2),.soldout_sec .header_top div:nth-child(2){
    flex: 0.55;
    text-align: center;
}

.buyin_sec .header_top div span,.soldout .header_top div span{
    height: 28px;
    line-height: 22px;
    display: block;
    width: 70px;
    margin: 0 auto;
    margin-top: 8px;
    cursor:pointer;
}
.border_bottom_on{
    border-bottom: 2px solid #bababa;
}
.buy_order_list,
.sell_order_list,
.order_record_list {
    display: table;
    width: 100%;
}
.w_b{
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.w_b_l, .w_b_r, .w_b_l em, .w_b_r em{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    float: left;
    margin-left:12px;
}
.w_b_l em{
    margin-right:4px;
    color: #333333;
}
.w_b_l em:nth-child(1){
    float:left;
    margin-left:5px;
    margin-right:0px;
    color: #777777;
}
.w_b_r em{
    margin-right:4px;
    color: #dd0900;
}
.w_b_r em:nth-child(1){
    float:left;
    margin-left:5px;
    margin-right:0px;
    color: #777777;
}

.buyin_limitprices div:nth-child(2) div{
    display: flex;
    margin-bottom:12px;
}
.buyin_limitprices div:nth-child(2) div div:nth-child(1){
    flex: 0.2;
    margin-left: 30px;
    height: 36px;
    line-height: 36px;
    position:relative;
}

.buyin_limitprices div:nth-child(2) div div:nth-child(1) label{
    position:absolute;
    right: 16px;
}

.buyin_limitprices div:nth-child(2) div div:nth-child(2){
    flex:0.8;
}

.buyin_limitprices div:nth-child(2) div div:nth-child(2){
    flex:0.8;
}

.buyin_limitprices div:nth-child(2) div div:nth-child(2) input{
    padding-left: 14px;
}
#sale_scale_limited,#slider_marketprice_sale{
    height: 8px;
    width: 150px;
    flex: none;
    margin-left: 6px;
    cursor: pointer;
    top: 14px;
    position: relative;
}

#slider_limited_price,#slider_marketprice{
    height: 8px;
    width: 160px;
    flex: none;
    margin-left: 0;
    margin-top: 15px;
    cursor:pointer;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
    border-bottom-right-radius:0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{
    border-bottom-left-radius:0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{
    border-top-right-radius:0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{
    border-top-left-radius:0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border: 1px solid #cccccc;
    font-weight: 400;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    color:#cccccc;
    border-radius:50%;
    cursor:pointer;
    left:2%;
    outline:none;
}

.saleprice{
    color:#00951c;
}

.buyprice{
    color:#dd0900;
}
.line_between{
    margin:20px 0;
}
.table_row_line{
    display: inline-block;
    border: 1px solid #eee;
    width: 100%;
}
.dotted_input{
    width: 172px;
    border:none;
}
.msg{
    float:left;color:red;margin:10px 0 0 3px;
}
.buying_btn,.sale_btn{
    width: 252px;
    height: 36px;
    background-color: #dd0900;
    margin-left: 31px;
    line-height: 36px;
    color: white;
    text-align: center;
    font-size:1.4rem;
    cursor:pointer;
}
.sale_btn{
    background-color:#00951c;
}


.market_price_buying_btn,.market_price_sale_btn{
    width: 252px;
    height: 36px;
    background-color: #dd0900;
    margin-left: 42px;
    line-height: 36px;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    cursor: pointer;
    top: 380px;
    position: absolute;
}

.market_price_sale_btn{
        position: relative;
    top: 28px;
    background-color: #00951c;
}

#slider_marketprice_value,#sale_slider_marketprice_value{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left:13px;
    vertical-align: text-bottom;
}

#slider_marketprice{
        height: 8px;
    width: 150px;
    margin-left: 6px;
    display:inline-block;
}

.buyin_marketprices_p{
    height: 94px;
    padding: 20px 12px;
    line-height: 22px;
    color: #999999;
}

#buyin_slider_value,#sale_slider_value{
    line-height: 36px;
    text-align: right;
    right: 0;
    margin-left: 14px;
}
.form_wrapper{
    overflow:hidden;
}
.form_wrapper_leftdiv,.form_wrapper_rightdiv{
    box-sizing:border-box;
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box; 
    float:left;
}
.form_wrapper_leftdiv{
    width:110px;
}
.form_wrapper_rightdiv{
    width:200px;
}
.form_wrapper_rightdiv div input{
    padding-left:14px;
    height:30px;
}
.jyeinput{
    border: none;
    width: 172px;
}
.form_wrapper_leftdiv div {
    text-align: right;
    color: #424242;
}
.form_wrapper_leftdiv div,.form_wrapper_rightdiv div{
    height: 36px;
    line-height: 36px;
    padding-right: 20px;
    margin: 12px 0;
}


#sale_slider_marketprice_value{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 170px;
}

/* ui-state-default ui-corner-all*/
/* .ui-slider-handle{
    border:1px solid red;
} */
#slide a:hover{
    color:none;
}

.buy_order_list {
    display: table;
    width: 100%;
    border: 1px solid #e6e6e6;
}

.tabhover{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    background-color:#ffffff;
}

.sell_order_list {
    display: table;
    width: 100%;
}
.messagenum_area .msg_num{
    color:#cccccc;
}
.order_record_list {
        display: table;
    width: 100%;
    /* margin-top: 18px; */
}
.buy_order_list .table_row .table_con:first-child {
    color: #dd0900;
}

.buy_order_list .table_row .table_con:last-child {
    max-width: 192px;
    word-wrap: break-word;
}

.sell_order_list .table_row .table_con:first-child {
    color: #00951c;
}

.sell_order_list .table_row .table_con:last-child {
    max-width: 192px;
}

.table_con{
    width:90px;
}

.quoted_price_first {
    
}

.quoted_price_first div:nth-child(2){
    /* color:#dd0900; */
}
.fivth {
    width: 200px;
    height: 100%;
    color: #999999;
    padding-top: 76px;
}

.fivth span:first-child {
    font-size: 1.4rem;
}

.fivth span:last-child {
    font-size: 1.6rem;
}

.table_header {
    height: 66px;
    line-height: 66px;
    display: table;
    width: 100%;
}

.table_row {
    /* display: table-row; */
    height: 36px;
}

.table_con {
    padding-top: 16px;
}

.header_con,
.table_con {
    display: table-cell;
    text-align: center;
    width: 108px;
}

.list_header {
    height: 66px;
    line-height: 66px;
    padding-left: 20px;
    color: #dd0900;
    font-size: 1.8rem;
}

.table_header .header_con {
    background-color: #ffffff;
    text-align: center;
    color: #999999;
}

.loginarea,
.afterlogin {
    width: 286px;
    height: 320px;
    background-color: #112b32;
    z-index: 2;
    position: absolute;
    top: -377px;
    right: 0;
    opacity: 0.8;
}

.loginarea_maxwidth {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.loginarea h3 {
    height: 34px;
    left: 8%;
    position: absolute;
    top: 28px;
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: 600;
}

.loginarea div {
    position: absolute;
    height: 38px;
    width: 84%;
    left: 8%;
}

.loginarea div input {
    height: 36px;
    width: 100%;
    border: none;
    overflow: hidden;
}

#thecumulativevolume_floor {
    background: url('../images/index_goopal_logo.png') no-repeat center left;
    padding-left: 15px;
    top: 25px;
    position: re;
    top: 18px;
    font-size: 2.0rem;
    position: relative;
    color: #333333;
    font-weight: 600;
}

.loginarea div:nth-child(2) {
    top: 62px;
}

.loginarea div:nth-child(2) input,
.loginarea div:nth-child(3) input {
    width: 95%;
    padding-left: 5%;
}

.loginarea div:nth-child(3) {
    top: 114px;
}

.loginarea div:nth-child(3) b {
    color: #d2590f;
    top: 43px;
    position: absolute;
}

.loginarea div:nth-child(4) {
    top: 176px;
    width: 84%;
}

.loginarea div:nth-child(4) b {
    color: #d2590f;
    top: 45px;
    left: 0px;
    position: absolute;
}

.loginarea div:nth-child(4) input {
    width: 51%;
    float: left;
    padding-left: 5%;
}

.loginarea div:nth-child(4) span {
    display: block;
    float: right;
    right: 0px;
    width: 40%;
    height: 38px;
    line-height: 38px;
    background-color: #fff;
}

.loginarea div:nth-child(5) {
    top: 244px;
    margin: 0;
    height: 38px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 1.4rem;
    background-color: #0bbeee;
    border: none;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
    line-height: 38px;
}

.loginarea div:nth-child(6) {
    bottom: 0px;
    font-size: 1.2rem;
}

.loginarea a {
    text-decoration: none;
    padding-top: 10px;
}
.loginarea b{
    font-size:1.2rem;
}

.quot_price:after {
    content: ' ';
    width: 0px;
    height: 50px;
    border: 1px solid #e6e6e6;
    position: absolute;
    right: 8px;
    top: 10px;
    border-left: none;
}
.myassetstop_all{
    text-align:center;
}
.myassetstop_all div{
    margin-top:22px;
}
.myassetstop_all i{
    width: 16px;
    height: 12px;
    display: inline-block;
    top: 1px; 
    position: relative;
    cursor: pointer;
    background: url("../images/floor_no_eye.png") 0px 0px no-repeat;
}

.top_cny_i{
        background: url('../images/floor_cny_money_logo.png') no-repeat 0 0;
    width: 16px;
    height: 12px;
    display: inline-block;
    top: 34px;
    left: 103px;
    position: absolute;
    cursor: pointer;
}
.top_nutlet_i{
        background: url('../images/floor_g_deal_logo.png') no-repeat 0 0;
    width: 16px;
    height: 12px;
    display: inline-block;
    top: 36px;
    left: 30px;
    position: relative;
    cursor: pointer;
}
.bottom_cny_i{
        background: url('../images/floor_cny_money_logo.png') no-repeat 0 0;
    width: 16px;
    height: 12px;
    display: inline-block;
    top: 34px;
    left: 40px;
    position: relative;
    cursor: pointer;
}
.bottom_nutlet_i{
    background: url('../images/floor_g_deal_logo.png') no-repeat 0 0;
    width: 16px;
    height: 12px;
    display: inline-block;
    top: 36px;
    position: relative;
    cursor: pointer;
    left: 30px;
}

.myassetbottom > div{
    float: left;
    width: 50%;
    height: 150px;
    text-align: center;
    color:#777777;
    position:relative;
}

.myassetbottom > div:nth-child(1):after,.myassetbottom > div:nth-child(3):after{
    content: '';
    width: 0px;
    height: 45px;
    border: 1px dotted #e6e6e6;
    position: absolute;
    right: 0px;
    top: 34px;
    border-left: none;
}

.myassetbottom > div > span{
        top: 34px;
    position: absolute;
    left: 36px;
}
.myassetbottom{
    height: 300px;
    background-color: #ffffff;
    position:relative;
}
.ioneshow,.itwoshow,.ithreeshow,.ifourshow{
    width:100%;
}

.myassetbottom > div > div{
        position: absolute;
    top: 72px;
    /* left: 66px; */
    display: block;
    text-align: center;
}

.quoted_price_sixth:after {
    content: none;
}

.loginarea div:nth-child(6) a:nth-child(1) {
    text-decoration: underline;
    float: left;
    color: #0ab6e5;
}

.loginarea div:nth-child(6) a:nth-child(2) {
    float: right;
    color: #ffffff;
}

.logineduser {
    top: 26px;
    position: absolute;
    color: #0ca8d2;
    height: 72px;
    border-bottom: 1px solid #565656;
    width: 84%;
    left: 8%;
}

.top_em {
    font-size: 1.6rem;
}

.bottom_em {
    /* color: #ffffff;
    margin-right:6px; */
        color: #ffffff;
}

.usertop {
    height: 30px;
    line-height: 30px;
    padding-left: 4%;
}

.userbottom {
    height: 40px;
    padding-left: 4%;
    color: #ffffff;
    margin-top:5px;
}

.userbottom div{
    display: inline;
}
.userbottom div:after{
    content: '';
    border: 1px solid #bfbfbf;
    margin-right: 8px;
    margin-left:6px;
}

.eye_i {
    /* background: url('./eye.png') no-repeat 0 0; */
    background:url('../images/floor_no_eye.png') no-repeat 0 0;
    width: 16px;
    height: 12px;
    background-size: 16px 12px;
    display: inline-block;
    left: 20px;
    position: relative;
    font-size: 1.6rem;
    cursor: pointer;
}

.bottom_em_i {
    background: url('../images/floor_already_authentication.png') no-repeat 0 0;
    width: 23px;
    height: 15px;
    background-size: 23px 15px;
    display: inline-block;
    left: 8px;
    position: relative;
    font-size: 1.6rem;
    cursor: pointer;
    top: 3px;
}

.myfinancial {
    position: absolute;
    top: 100px;
    width: 84%;
    left: 8%;
    height: 150px;
}

.loginout {
    width: 84%;
    height: 36px;
    line-height: 36px;
    bottom: 30px;
    border-radius: 3px;
    position: absolute;
    left: 8%;
    color: #ffffff;
    background-color: #0bbeee;
    text-align: center;
    font-size: 1.4rem;
    cursor: pointer;
}

.totalassets {
    display: table;
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-size: 1.4rem;
    text-align: center;
}

.leftassets {
    display: table-cell;
    width: 50%;
}

.rightassets {
    display: table-cell;
    width: 50%;
}

.rightassets_i {
    background: url('../images/floor_g_deal_logo.png') no-repeat 0 0;
    width: 18px;
    height: 14px;
    position: absolute;
    left: 78px;
    top: 1px;
}

.lf_asset_top,
.lf_asset_center,
.lf_asset_bottom,
.rg_asset_top,
.rg_asset_center,
.rg_asset_bottom {
    position: relative;
}

.lf_asset_top,
.rg_asset_top {
    top: 30px;
    position: relative;
}
.rg_asset_top{
    left:-8%;
}
.lf_asset_center,
.rg_asset_center {
    top: 50px;
}

.lf_asset_bottom,
.rg_asset_bottom {
    top: 66px;
}

.recharge,
.withdraw {
    width: 56px;
    height: 28px;
    line-height: 28px;
    border-radius: 2px;
    left: 32px;
    cursor: pointer;
}

.bottom_em_wraper:after {
    content: '';
    border: 1px solid #ffffff;
    margin-left: 16px;
    border-left: none;
}

.recharge {
    background-color: #ffffff;
    color: black;
}

.withdraw {
    background-color: #0bbeee;
}
.new_color{
    color:#dd0900;
}
.quoted_price_firsti{
        background: url('../images/floor_arrow_rise.png') no-repeat 0 0;
    width: 10px;
    background-size: 100% 100%;
    position: absolute;
    top: 2px;
    height: 16px;
    right: 45px;
}
.quoted_price_sixth{
    flex:0.25;
}

::-webkit-input-placeholder {
    color:#cccccc;
}
:-moz-placeholder {
    color:#cccccc;
}
::-moz-placeholder {
    color:#cccccc;
}
:-ms-input-placeholder {
    color:#cccccc;
}

.soldout:after{
    content: ' ';
    height: 424px;
    border: 1px dotted #e6e6e6;
    position: absolute;
    right: -10px;
    top: 23px;
    border-left: none;
}

/*委托表格*/
.entrust-table-title{
    width:1200px;height:25px;background:#F6F6F6;
}
.history-entrust-table-title{
    width:1200px;height:40px;line-height:40px;background:#F6F6F6;
}
.entrust-table-title span:nth-child(1), .history-entrust-table-title span:nth-child(1){
    float: left;
    font-size: 1.4rem;
    font-weight: bold;
}
.entrust-table-title span:nth-child(2), .history-entrust-table-title span:nth-child(2){
    float: right;
}
.entrust-table-title span:nth-child(2) a, .history-entrust-table-title span:nth-child(2) a{
    text-decoration: none;
    color:#44C0FD;
    padding-right: 10px;
}
/*表格样式*/
.entrust-table{
    width:1200px;padding:20px;background:#fff;
    margin-bottom: 20px;
}
.aside-table td{
    font-size: 12px; 
    padding: 15px;
    vertical-align: middle; 
}
.aside-table-thead td {
    border-bottom: 1px solid #ccc; 
    background: #FAFAFA;
}
.aside-table-tbody tr:hover {
    background: #FAFAFA; 
}

/*暂无记录*/
.no-record-td{
    height:350px;vertical-align:middle;text-align:center;
}
.no-record-td:hover{
    background: #fff;
}
.no-record-picture{
    background: url(../images/floor_no-record.png) no-repeat left center;
    padding-left:30px;
    width:80px;
    height:50px;
    line-height: 50px;
    margin-left:500px;
}


/*当前委托 历史委托 new*/
.topline{
    width:100%;
    height: 56px;
    border-bottom: 2px solid #e6e6e6;
}
.tab-li{
    margin: 28px 0 0 28px;
    margin-bottom: 0px;
    color: #333333;
    font-size: 1.4rem;
    display: inline-block;
    height: 28px;
    cursor:pointer;
}
.bottomon{
    border-bottom: 2px solid #bababa;
}
.moreCheck{
    color:#44C0FD;
    text-decoration: none;
    float: right;
    margin:30px 26px 0 0;
}
.entrust-side-table{
    margin:30px;
}
/* 当前委托 历史委托 历史-分页样式 页码样式 */
.PageCode {
  padding: 15px 20px;
  color: #000;
  text-align: right;
  font-size: 13px; }

.PageCode a {
  display: inline-block;
  color: #000000;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  margin: 0 2px;
  border-radius: 4px; }

.PageCode a:hover {
  text-decoration: none;
  background-color: #eee;
  color: #000; }

a {
  text-decoration: none; }

.inputNum {
  width: 20px;
  text-align: center;
  font-size: 7px; }

.btn-fenye {
  cursor: pointer;
  padding: 2px 7px; }

/*撒单*/
.saDan{
    width:60px;
    height:30px;
    line-height: 30px;
    background: #44C0FD;
    color:#fff;
    text-align: center;
    cursor: pointer;
}


#floor_popDiv {
    width: 0;
    height: 0;
    position: fixed;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    z-index: 2;
}
#floor_bg {
    background-color: #333333;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    position: fixed !important;  
    position: absolute;
}

.note_div {
    width: 320px;
    height: 230px;
    margin-left: -160px;
    margin-top: -115px;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 0 43px;
    position: relative;
}
#slider_limited_price span,#sale_scale_limited span,#slider_marketprice span,#slider_marketprice_sale span{
    z-index:0;
}
.note_div h3{
    top: 38px;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 600;
}
#sel_div_password{
    width: 240px;
    height: 28px;
}
.payment_error{
    color: #ff6600;
    display: block;
    top: 4px;
    width:244px;
    position: relative;
}
.note_div img{
    position: absolute;
    top: 42px;
    right: 36px;
    cursor: pointer;
}
.sure_btn{
        width: 240px;
    height: 36px;
    color: white;
    position: absolute;
    top: 150px;
    background: #0bbeee;
    border-radius: 5px;
    font-size: 1.4rem;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}
.sure_btn1{
    width: 110px;
    height: 36px;
    color: white;
    background: #0bbeee;
    border-radius: 5px;
    font-size: 1.4rem;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}
.confirm{
    position: absolute;
    top: 140px;
    left:45px;
}
.cancle{
    position: absolute;
    top: 140px;
    left:165px;
}
.sel_div{
        position: absolute;
    top: 80px;
}
.sel_div select{
    width: 240px;
    height: 28px;
}

.bottom_em_wraper:after {
    content: '';
    border: 1px solid #ffffff;
    margin-left: 16px;
    border-left: none;
}
.timeshareblock .btn_choosed{
    background-color: #44c0fd;
}

.timeshareblock{
    text-align:center;
}
.timeshareblock a{
    text-decoration: none;
    height: 28px;
    line-height: 28px;
    background-color: #999999;
    color: white;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    padding: 0 12px;
}
.timeshareblock a:hover{

}

/*滑块*/
.slider_container{
    position:relative;
    width:220px;
    height:50px;
}
#red, #green {
    width:150px;
    flex: none;
    height: 8px;
    position: absolute;
    top:15px;
    left:-23px;
}
#red .ui-slider-range, #green .ui-slider-range { 
    background: #ef2929; 
    flex: none;
    position: absolute;
    left:-30px; 
    height:8px;
}
#red .ui-slider-handle , #green .ui-slider-handle { 
    border-color: #ef2929;border:1px solid #999;
}
#green .ui-slider-range{
    background: #00951c; 
}

/*买入 卖出-限价 滑块数值*/
#amount, #amount2{
    position: absolute;
    top:12px;
    left:165px;
}
/*买入 卖出-市价 滑块数值*/
#amount1, #amount3{
    position: absolute;
    top:9px;
    left:165px;
}

/*选项卡另一面的滑块*/
#red1, #green1 {
    width:150px;
    flex: none;
    height: 8px;
    position: absolute;
    top:11px;
    left:6px;
}
#red1 .ui-slider-range, #green1 .ui-slider-range { 
    background: #ef2929; 
    flex: none;
    position: absolute;
    height:8px;
    top:-2px;
    left:-8px;
}
#green1 .ui-slider-range{
    background: #00951c; 
}
#red1 .ui-slider-handle , #green1 .ui-slider-handle { 
    border-color: #ef2929;border:1px solid #999;
    position: absolute;
    top:-6px;
    left:6px;
}
.slider_container-pos{
    position: absolute;
    width:220px;
    height:50px;
    top:262px;
    left:122px;
}
.slider_container-pos1{
    position: absolute;
    width:220px;
    height:50px;
    top:262px;
    left:114px;
}

.ui-slider-handle,.ui-state-default,.ui-corner-all{
    z-index:0;
}


#thelatestprice_floor{
    background: url('../images/index_arrow_rise.png') no-repeat center right;
    padding-right: 15px;
}