$fontSize:16px;
@mixin widthAndHeight($widthPx, $heightPx){
    width:$widthPx;
    height:$heightPx;
}
@mixin rotate($deg){
    transform:rotate($deg);
    -ms-transform:rotate($deg);     
    -moz-transform:rotate($deg);    
    -webkit-transform:rotate($deg); 
    -o-transform:rotate($deg); 
} 
@mixin transition($second, $All){
    transition: $second $All;
    -webkit-transition: $second $All;
    -moz-transition: $second $All;
    -o-transition: $second $All;
}
.transition{
    transition: 0.4s all;-webkit-transition: 0.4s all;-moz-transition: 0.4s all;
    -o-transition: 0.4s all;
}

@mixin borderRadius($radius){
    border-radius: $radius; 
    -moz-border-radius: $radius; 
    -webkit-border-radius: $radius;
}
@mixin heightLineHeight($hlh){
    height:$hlh;
    line-height: $hlh;
}  
@mixin PosTopLeft($absolutePos, $topPx, $leftPx){
    position: $absolutePos;
    top:$topPx;
    left:$leftPx;
}
@mixin PosTopRight($absolutePos, $topPx, $rightPx){
    position: $absolutePos;
    top:$topPx;
    right:$rightPx;
}

.header{
    z-index:2;
    position: relative;
    @include widthAndHeight(100%,50px);
    background-color: #000000;
    &-div{
        position: relative;
        display:flex;
        width:50px;
        @include heightLineHeight(50px);
        float:left;
        color:#ffffff;
        font-size:$fontSize;
        &-icon{
            padding-top:16px;
            @include heightLineHeight(50px);
            cursor:pointer;
            color:#8A8A8A;
            &:hover{
                color:#fff;
            };
        }
        &-span{
            width:15px;
            @include heightLineHeight(15px);
            @include borderRadius(50%);
            background-color: red;
            font-size:6px;
            text-align:center;
            @include PosTopLeft(absolute, 5px, 8px);
        }
        &-showHide{
            @include PosTopRight(absolute, 53px, 30px);
            @include widthAndHeight(200px,200px);
            border:1px solid #ccc;
            background:#fff url(../../../images/home/toTop.png) no-repeat fixed 0 0;
            color:#000;
            font-size: 13px;
            display: none;
            &-liFirst{
                background: #eee;
                @include heightLineHeight(35px);
                padding-left:10px;
                border-botom:1px solid #000;
                &-span{
                    color:red;
                    font-weight: bold;
                }
            }
            &-liBottom{
                background: #eee;
                @include heightLineHeight(35px);
                padding-left:10px;
                border-botom:1px solid #000;
                font-size:8px;
                text-align: right;
            }
            &-li{
                padding-left:17px;
                @include heightLineHeight(20px);
                font-size:10px;
                height: 40px;
                padding-top:6px;
                &-span{
                     margin-left:80px;font-weight:bold;color:red;
                }
            }
            & li:hover{
                background:#eee;
                cursor: pointer;
            }
        }
    }
    & .right-1{
        height:255px;
    }
    & .div-1{
        width:74%;
        &-img{  
            padding-left:3px;
            @include PosTopLeft(absolute, 15px, 0px);
        }
        &-span{
            color:#fff;
            padding-left:25px;
        }
    }
    & .div-2{
        cursor: pointer;
        &-name{
            margin-left:13px;
        }
        &-btn{
            background:none;
            outline: none;
            border:none;
            @include heightLineHeight(50px);
            color:#ffffff;
            font-size:14px;
            cursor: pointer;
            margin-left:26px;
        }
        &-hello{
            width:30px;
        }
    }
}


/***
Progress Bars
***/

.progress {  
      border:1px solid red; 
      @include widthAndHeight(160px,5px);
      &-bar{
        background-color: red;
        @include widthAndHeight(50%,5px);
      }
}

.changeColor-2{
    color:#05CE3E;
}
.changeColor-bg-2{
    background-color:#05CE3E;
}
.changeColor-border-2{
    border:1px solid #05CE3E;
}

.changeColor-3{
    color:#069dd5;
}
.changeColor-bg-3{
    background-color:#069dd5;
}
.changeColor-border-3{
    border:1px solid #069dd5;
}


@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?ei70u9');
    src:    url('fonts/icomoon.eot?ei70u9#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?ei70u9') format('truetype'),
        url('fonts/icomoon.woff?ei70u9') format('woff'),
        url('fonts/icomoon.svg?ei70u9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cny:before {
    content: "\e902";
}
.icon-bitcoin:before {
    content: "\e901";
}
.icon-undo:before {
    content: "\e909";
}
.icon-user-tie:before {
    content: "\e90b";
}
.icon-search:before {
    content: "\e903";
}
.icon-enlarge:before {
    content: "\e905";
}
.icon-lock:before {
    content: "\e907";
}
.icon-unlocked:before {
    content: "\e908";
}
.icon-warning:before {
    content: "\e900";
}
.icon-cross:before {
    content: "\e904";
}
.icon-checkmark:before {
    content: "\e90a";
}
.icon-exit:before {
    content: "\e906";
}


.container{
    width:100%;  //made height auto 
    height:auto;
    overflow:hidden;
}
.nav{
    float:left;
    background-color: #3D3D3D;
    @include widthAndHeight(220px,553px);
    padding-bottom:2000px;
    margin-bottom:-2000px;
    color:#fff; 
    font-size:13px;  
    &-form{
        text-align:center;
        position: relative;
        margin:20px;
        &-control{
            @include heightLineHeight(25px);
            width:150px;
            @include borderRadius(3px);
            outline: none;
        }
        & .btn{
            @include PosTopLeft(absolute, 9px, 145px);
            width:20px;
            background:none;
            border:none;
            color:#ccc;
            cursor:pointer;
            outline:none;  
        }
    }
}
.div2{padding-left:30px;@include heightLineHeight(40px);cursor:pointer;
      background: url(../../../images/home/collapsed.gif) no-repeat 110px center;
    &:hover{
      background:url(../../../images/home/collapsed.gif) #575757 no-repeat 110px center;
    }
}
.div2-1{padding-left:50px;@include heightLineHeight(40px);cursor:pointer;color:#000;
      background: url(../../../images/home/collapsed.gif) #ccc no-repeat 110px center;
}
.div2-2{padding-left:30px;@include heightLineHeight(40px);cursor:pointer;background-color:#e02222;}
.div3{display:none;}
.div3 li{@include heightLineHeight(30px);text-align: center;background:#eee;
    &:hover{
            background:#fff;
        };
    & a{color:#000000;display: block;
        &:hover{
            background-color:#fff;
        }
    }
}
.active{background:#999;}

.aside{
    padding-bottom:2000px;
    margin-bottom:-2000px;
    margin-left:245px;
    width:80%;
    & h1{
        font-size:18px;
        margin-top: 25px;
    }
    &-div{
        background: #eee;
        @include heightLineHeight(35px);
        font-size:14px;
        padding-left:10px;
        &-spanRight{
            float: right;
            width:65px;
            background-color: #0362FD;
            padding-left:30px;
            color: #fff;
            cursor:pointer;
            position: relative;            
            &-div{  
                text-align: center;              
                display:none;
                width:100px;
                @include PosTopRight(absolute, 41px, 0Px);
                color: #000;
                border:1px solid #ccc;
                padding:15px;
                background-color: #ffffff;
                & li:hover{
                    background:#eee;
                }
            }
            &-span{
                @include PosTopRight(absolute, 9px, 25Px);
                @include rotate(180deg);
            }
        }
    }
    &-table{
        margin-top:8px;
        border-color: #ccc;
        border:1px solid #ccc;
        &-thead{
            background-color: #eee;
            & td{
                padding:10px;
            }
            &-select{
                margin-top:-3px;
                border:none;
                background-color: #eee; 
                outline:none;
                padding:0;
            }
        }
        &-tbody{
            & tr:hover{
                background:#F3F3F3;
            };
            & td{
                padding:10px;
            }
            
        }
    }
    
}

.footer{
    @include widthAndHeight(100%,40px);
    background-color: #000;
    &-div{
        @include heightLineHeight(40px);
        float:left;
        color:#ffffff;
        font-size:12px;
    }
}

.frameHtml{
    margin-left:23px;
    width:80%;
    float:left;
}

@media screen and (max-width:1280px){
    .frameHtml{
        margin-left:10px;
        width:78%;
    }
}
@media screen and (max-width:1000px){
    .frameHtml{
        margin-left:10px;
        width:74%;
    }
}
