body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:20px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:530px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:530px;
}
#u2 {
  position:absolute;
  left:2px;
  top:257px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:60px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:60px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:5px;
  width:50px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:550px;
  top:30px;
  width:30px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:627px;
  top:31px;
  width:27px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:701px;
  top:31px;
  width:53px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:590px;
  top:31px;
  width:27px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:0px;
  top:490px;
  width:810px;
  height:40px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:88px;
  top:502px;
  width:27px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:140px;
  top:502px;
  width:66px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:216px;
  top:502px;
  width:53px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:39px;
  top:502px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:279px;
  top:502px;
  width:40px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:664px;
  top:31px;
  width:27px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:764px;
  top:28px;
  width:20px;
  height:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:10px;
  top:215px;
  width:810px;
  height:140px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:140px;
}
#u32 {
  position:absolute;
  left:2px;
  top:62px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:10px;
  top:370px;
  width:810px;
  height:130px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:130px;
}
#u34 {
  position:absolute;
  left:2px;
  top:57px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:70px;
  top:218px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:70px;
  top:255px;
  width:295px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:70px;
  top:325px;
  width:178px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:412px;
  top:289px;
  width:138px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:404px;
  top:255px;
  width:216px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:70px;
  top:383px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:70px;
  top:415px;
  width:190px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:70px;
  top:441px;
  width:115px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:70px;
  top:467px;
  width:106px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:70px;
  top:289px;
  width:180px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:10px;
  top:95px;
  width:810px;
  height:100px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:100px;
}
#u56 {
  position:absolute;
  left:2px;
  top:42px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:70px;
  top:110px;
  width:55px;
  height:22px;
  font-size:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:160px;
  top:110px;
  width:70px;
  height:70px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u60 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:280px;
  top:110px;
  width:70px;
  height:70px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u62 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:396px;
  top:110px;
  width:70px;
  height:70px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u64 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:510px;
  top:110px;
  width:70px;
  height:70px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u66 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:620px;
  top:110px;
  width:70px;
  height:70px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u68 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
