body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:20px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:1930px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:1930px;
}
#u2 {
  position:absolute;
  left:2px;
  top:957px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:60px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:60px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:10px;
  top:5px;
  width:50px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:627px;
  top:31px;
  width:27px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:701px;
  top:31px;
  width:53px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:590px;
  top:31px;
  width:27px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:664px;
  top:31px;
  width:27px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:10px;
  top:80px;
  width:810px;
  height:142px;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:142px;
}
#u16 {
  position:absolute;
  left:2px;
  top:63px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:28px;
  top:94px;
  width:572px;
  height:106px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:106px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:652px;
  top:179px;
  width:100px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u20 {
  position:absolute;
  left:677px;
  top:119px;
  width:50px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:781px;
  top:50px;
  width:20px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:250px;
  width:810px;
  height:440px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:440px;
}
#u25 {
  position:absolute;
  left:2px;
  top:212px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:350px;
  top:260px;
  width:129px;
  height:37px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:40px;
  top:325px;
  width:140px;
  height:140px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u29 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:450px;
  top:325px;
  width:140px;
  height:140px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u31 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:650px;
  top:325px;
  width:140px;
  height:140px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u33 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:250px;
  top:325px;
  width:140px;
  height:140px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u35 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:40px;
  top:520px;
  width:140px;
  height:140px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u37 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:450px;
  top:520px;
  width:140px;
  height:140px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u39 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:650px;
  top:520px;
  width:140px;
  height:140px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u41 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:250px;
  top:520px;
  width:140px;
  height:140px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u43 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:85px;
  top:350px;
  width:50px;
  height:50px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:77px;
  top:424px;
  width:66px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:295px;
  top:350px;
  width:50px;
  height:50px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u49 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:287px;
  top:424px;
  width:66px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:495px;
  top:350px;
  width:50px;
  height:50px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u53 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:487px;
  top:424px;
  width:66px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:695px;
  top:350px;
  width:50px;
  height:50px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u57 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:695px;
  top:540px;
  width:50px;
  height:50px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u59 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:495px;
  top:540px;
  width:50px;
  height:50px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u61 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:295px;
  top:540px;
  width:50px;
  height:50px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u63 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:85px;
  top:540px;
  width:50px;
  height:50px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u65 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:10px;
  top:730px;
  width:810px;
  height:240px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:240px;
}
#u67 {
  position:absolute;
  left:2px;
  top:112px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:90px;
  top:790px;
  width:140px;
  height:140px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u69 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:600px;
  top:790px;
  width:140px;
  height:140px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u71 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:350px;
  top:790px;
  width:140px;
  height:140px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u73 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:382px;
  top:743px;
  width:65px;
  height:37px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:135px;
  top:810px;
  width:50px;
  height:50px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u77 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:645px;
  top:810px;
  width:50px;
  height:50px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u79 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:395px;
  top:810px;
  width:50px;
  height:50px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u81 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:144px;
  top:884px;
  width:40px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:409px;
  top:884px;
  width:22px;
  height:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:630px;
  top:884px;
  width:79px;
  height:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:10px;
  top:1020px;
  width:810px;
  height:240px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:240px;
}
#u89 {
  position:absolute;
  left:2px;
  top:112px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:90px;
  top:1085px;
  width:140px;
  height:140px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u91 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:600px;
  top:1085px;
  width:140px;
  height:140px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u93 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:350px;
  top:1085px;
  width:140px;
  height:140px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u95 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:135px;
  top:1105px;
  width:50px;
  height:50px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u97 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:645px;
  top:1105px;
  width:50px;
  height:50px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u99 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:395px;
  top:1105px;
  width:50px;
  height:50px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u101 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:110px;
  top:1179px;
  width:100px;
  height:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:406px;
  top:1179px;
  width:27px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:656px;
  top:1179px;
  width:27px;
  height:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:388px;
  top:1033px;
  width:65px;
  height:37px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:753px;
  top:944px;
  width:53px;
  height:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:753px;
  top:1230px;
  width:53px;
  height:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:10px;
  top:1380px;
  width:810px;
  height:300px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:300px;
}
#u115 {
  position:absolute;
  left:2px;
  top:142px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:409px;
  top:1410px;
  width:364px;
  height:250px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:250px;
}
#u117 {
  position:absolute;
  left:2px;
  top:117px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:20px;
  top:1410px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:20px;
  top:1470px;
  width:350px;
  height:168px;
  font-size:14px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:168px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:20px;
  top:1624px;
  width:39px;
  height:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:10px;
  top:1720px;
  width:810px;
  height:180px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:180px;
}
#u125 {
  position:absolute;
  left:2px;
  top:82px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:344px;
  top:1738px;
  width:129px;
  height:37px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:48px;
  top:1864px;
  width:178px;
  height:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:48px;
  top:1833px;
  width:190px;
  height:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:48px;
  top:1800px;
  width:321px;
  height:16px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:350px;
  top:1333px;
  width:129px;
  height:37px;
  font-size:32px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:10px;
  top:1910px;
  width:810px;
  height:40px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:40px;
}
#u137 {
  position:absolute;
  left:2px;
  top:12px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:98px;
  top:1922px;
  width:27px;
  height:16px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:150px;
  top:1922px;
  width:66px;
  height:16px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:226px;
  top:1922px;
  width:53px;
  height:16px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:49px;
  top:1922px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:289px;
  top:1922px;
  width:40px;
  height:16px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:830px;
  top:785px;
  width:200px;
  height:100px;
  color:#FF0000;
  text-align:left;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u149 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:830px;
  top:136px;
  width:200px;
  height:29px;
  color:#FF0000;
  text-align:left;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:29px;
}
#u151 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:830px;
  top:1095px;
  width:200px;
  height:100px;
  color:#FF0000;
  text-align:left;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u153 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:840px;
  top:1460px;
  width:200px;
  height:100px;
  color:#FF0000;
  text-align:left;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u155 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:840px;
  top:378px;
  width:200px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u157 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:830px;
  top:31px;
  width:200px;
  height:39px;
  color:#FF0000;
  text-align:left;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:39px;
}
#u159 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
