@charset 'utf-8';


// 张树垚 2015-12-29 19:29:47 创建
// H5微信端 --- components-block


.block {
	$img: $g-components + '/block/images';
	border-top: $g-border;
	border-bottom: $g-border;
	background-color: $g-white;
	margin-bottom: 5px;
	&:first-child {
		margin-top: $g-margin-top;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&-item {
		@include height(48px);
		margin-left: $g-padding;
		padding-right: $g-padding;
		border-bottom: $g-border;
		display: flex;
		align-items: center;
		position: relative;
		// transition: $g-transition;
		&:last-child {
			border-bottom: none;
		}
		// &:active { // 左边缺一截
		// 	background-color: $g-light;
		// }
	}
	&-text {
		display: flex;
		padding: 0 $g-padding;
	}
	&-out {
		@extend .block-item;
		border-bottom: none;
		margin-top: 8px;
	}
	&-label {
		flex: 1;
		font-size: 16px;
		color: $g-input;
	}
	&-arrow {
		margin-left: 12px;
		@include sprite($img + '/arrow.png', 9px, 15px);
	}
}
