<!-- 关于 -->
<div class="setting-about">
	<div class="setting-about-icon"></div>
	<div class="setting-about-title">果仁宝</div>
	<div class="block">
		<a href="#!/view/setting-us" class="block-item">
			<div class="block-label">关于我们</div>
			<div class="block-arrow"></div>
		</a>
		<a href="#!/view/setting-feedback" class="block-item">
			<div class="block-label">反馈</div>
			<div class="block-arrow"></div>
		</a>
	</div>
	<div class="block">
		<a href="#!/view/setting-agreement" class="block-item">
			<div class="block-label">果仁宝服务协议</div>
			<div class="block-arrow"></div>
		</a>
	</div>
</div>



