@charset 'utf-8';


// 张树垚 2015-12-31 14:55:24 创建
// H5微信端 --- 设置页面


.setting {

	$img: $g-views + '/setting/images';

	@extend .view-style;

	&-about {
		@extend .setting;
		&-icon {
			@include sprite($img + '/1.png', 54px);
			margin: 22px auto 0;
		}
		&-title {
			margin-top: 8px;
			margin-bottom: 24px;
			font-size: 16px;
			color: $g-input;
			text-align: center;
		}
	}
	&-us {
		@extend .setting;
		font-size: 11px;
		line-height: 16px;
		&-scroll {
			padding-bottom: $g-padding-bottom;
		}
		&-head {
			font-size: 12px;
			margin-left: $g-padding;
			margin-bottom: 24px;
			border-bottom: $g-border;
			overflow: hidden;
			padding: 16px 1px;
			line-height: 20px;
			&-img {
				float: left;
				@include sprite($img + '/1.png', 38px);
				margin-right: 16px;
			}
		}
		&-title {
			margin-top: 18px;
			margin-left: 10px;
			margin-bottom: 1em;
			font-weight: bold;
		}
		&-paragraph {
			color: $g-gray;
			margin: 0 $g-padding 1em;
		}
	}
	&-feedback {
		@extend .setting;
		&-box {
			@extend %afull;
			display: flex;
			flex-direction: column;
			box-sizing: border-box;
			padding: 15px $g-padding 64px;
		}
		&-main {
			flex: 1;
			position: relative;
		}
		&-text {
			@extend %afull;
			resize: none;
			line-height: 1.6;
		}
		&-button {
			margin-top: $g-margin-top-button;
		}
	}
	&-agreement {
		@extend .setting;
		line-height: 16px;
		color: $g-gray;
		font-size: 11px;
		&-scroll {
			padding: 0 $g-padding $g-padding-bottom;
		}
		&-title {
			text-align: center;
			font-size: 12px;
			margin-top: 23px;
			margin-bottom: 15px;
		}
		&-label {
			color: $g-dark;
			margin-top: 16px;
		}
		&-paragraph {
			margin-top: 8px;
		}
	}
	&-address {
		@extend .setting;
		&-box {
			@extend .block;
			margin-top: 5px!important;
			text-align: center;
			padding-top: 36px;
			padding-bottom: 18px;
		}
		&-main {
			padding: 0 50px;
			font-weight: bold;
			word-break: break-all;
			line-height: 20px;
		}
		&-tip {
			color: $g-ash;
			margin-top: 12px;
		}
	}
}
