<!-- 关于我们 -->
<div class="setting-us">
	<div class="setting-us-scroll">
		<div class="setting-us-head"><span class="setting-us-head-img"></span><span class="bold">果仁宝科技有限公司</span><br>www.goopal.com</div>
		<div class="setting-us-title">【公司概述】</div>
		<div class="setting-us-paragraph">北京果仁宝科技有限公司是服务于网络游戏、电子商务、贸易等领域的数字资产服务平台，致力于为用户提供“快捷、安全、保值”的数字资产服务。果仁宝团队秉承“认可、参与、成就、分享”的创业理念以及“用户至上”的准则，在数字资产服务行业不断创新成长。<br>目前，果仁宝主要提供网络游戏领域的充值、交易、提现等数字资产服务，在游戏移动支付市场已与国内数家主流游戏公司建立合作，其他创新衍生产品及服务也在陆续研发、测试与试运行之中。</div>
		<div class="setting-us-title">【公司理念】</div>
		<div class="setting-us-paragraph">认可、参与、成就、分享</div>
		<div class="setting-us-title">【公司愿景】</div>
		<div class="setting-us-paragraph">让果仁宝的产品和服务遍布全球，推动goopal技术在世界范围自由共享。</div>
		<div class="setting-us-title">【产品介绍】</div>
		<div class="setting-us-paragraph">“果仁宝”是由北京果仁宝科技有限公司打造的全球数字资产服务平台。果仁宝系列产品服务于数字资产、游戏交易、电商渠道等众多领域，为全球企业用户及个人用户提供快捷、安全的优质服务。</div>
		<div class="setting-us-title">【产品特色】</div>
		<div class="setting-us-paragraph">秒速转付：玩转资产心意必达。果仁宝为用户提供最迅捷的服务，交易、转账、支付秒速完成！</div>
		<div class="setting-us-paragraph">极致安全：三重安保全程护航。信息全加密，动态校验保无忧，更有7*24一对一客服安全服务！</div>
		<div class="setting-us-paragraph">资产保值：积分在手恒久保值。果仁宝积分不会被货币贬值波及，能带给用户更保值的支付体验！</div>
	</div>
</div>
