@charset 'utf-8';


// 张树垚 2015-12-20 11:22:45 创建
// H5微信端 --- 个人首页


@import '../../../source/scss/main';

@import '../../views/view';
@import '../../views/authentication/authentication';
@import '../../views/password/password';

@import '../../dialogs/dialog';
@import '../../dialogs/success/success';
@import '../../dialogs/alert/alert';

body {
	background-color: $g-background;
}


.security {

	$img: $g-pages + '/security/images';
	@extend %fade-in;
	overflow: hidden;
	padding-bottom: $g-padding-bottom;
}
