@charset "utf-8";
body{ font:12px/2 sans-serif, Arial, Verdana; background:#f8f8f8;}
body,h1,h2,h3,h4,input,ul,li,ol,dl,dd,dt,span,img,div,a,p,strong,em,b,u,i,address{padding:0; margin:0; list-style:none; border:0;}
.top{ width:70%; margin:50px auto; margin-bottom:0;}
img{ width:100%;}
.red_bag{ width:41%; margin:40px auto; margin-bottom:35px;}
.money_infor{ text-align:center; color:#DE655F;}
.money_infor p:nth-child(1){ font-size:25px; line-height:1em;}
.money_infor p:nth-child(1) span{ font-size:35px;}
.money_infor p:nth-child(2){ margin-bottom:30px; font-size:20px;}
.money_infor p:nth-child(3){ color:#999999;}
.money_infor_none{ color:#DE655F; text-align:center; font-size:20px;}
#need_follow .red_bag{ width:70%;}
.resize{ position:fixed; top:0px; left:0px; height:100%; width:100%; background:#000; display:none;}
.resize img{ width:100%; position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%);}
