@charset 'utf-8';

// 张树垚 2016-02-24 16:06:35 创建
// H5微信端 --- view-bill 账单详情分页


.bill {

	$img: $g-views + '/bill/images';

	@extend .view-style;

	&-scroll { // 滚动
		@extend %rw;
		padding-bottom: $g-padding-bottom;
	}
	&-green { // 绿色
		color: $g-green-bill;
	}
	&-box { // 订单
		$h: 2px;
		position: relative;
		margin-top: 5px;
		padding: 5px $g-padding 28px;
		background-color: $g-white;
		font-size: 14px;
		color: $g-ash;
		border-top: $g-border;
		border-bottom: $h solid $g-background;
		&:after {
			content: '';
			display: block;
			@include atlw(100%);
			height: $h;
			background: url('../images/purchase-1.png') repeat-x;
			background-size: auto $h;
		}
	}
	&-head { // 头部
		$w: 26px;
		@include height(50px);
		border-bottom: $g-border;
		text-align: center;
		font-size: 16px;
		color: $g-dark;
		&.no-border {
			border-bottom: none;
			margin-bottom: -20px;
		}
		&:before {
			content: '';
			@include inline-block(middle);
			margin-right: 10px;
		}
		&.success {
			&:before {
				@include sprite($img + '/1.png', $w);
			}
		}
		&.fail {
			&:before {
				@include sprite($img + '/2.png', $w);
			}
		}
		&.going {
			&:before {
				@include sprite($img + '/3.png', $w);
			}
		}
		&.close {
			&:before {
				@include sprite($img + '/4.png', $w);
			}
		}
	}
	&-wait { // 等待支付
		border: $g-border;
		border-radius: $g-radius;
		overflow: hidden;
		line-height: 50px;
		padding: 15px $g-padding 0;
		margin-top: 8px;
		margin-bottom: 24px;
		&-left {
			float: left;
			color: $g-dark;
			font-size: 14px;
		}
		&-right {
			float: right;
			color: $g-red;
			font-size: 22px;
		}
	}
	&-get { // 获得果仁
		@extend .font-money;
		border-bottom: $g-border;
		&-number {
			margin-top: 32px;
			margin-bottom: 18px;
		}
		&-label {
			font-size: 12px;
			margin-bottom: 18px;
		}
	}
	&-target { // 转账目标
		$height: 56px;
		line-height: 1;
		&-left {
			float: left;
			@include square(50%, $height);
			position: relative;
		}
		&-right {
			height: $height;
			float: left;
			margin-left: -18px;
		}
		&-bottom {
			clear: both;
			border-top: $g-border;
			border-bottom: $g-border;
			height: 5px;
			background-color: $g-background;
			margin-left: - $g-padding;
			margin-right: - $g-padding;
		}
		&-img {
			@include atr(10px, 32px);
			// @include square(35px);
			border-radius: 50%;
			overflow: hidden;
		}
		&-icon {
			@include sprite(null, 34px);
			display: block;
			border-radius: 50%;
			&.address { // 钱包地址
				@include sprite($img + '/7.png')
			}
			&.wallet { // 我的钱包
				@include sprite($img + '/5.png');
			}
			&.market { // 果仁市场
				@include sprite($img + '/6.png');
			}
		}
		&-name {
			font-size: 14px;
			color: $g-dark;
			margin-top: 12px;
		}
		&-address {
			font: 10px $g-font-num;
			color: $g-ash;
			margin-top: 6px;
		}
	}
	&-stage { // 转账阶段
		$init: $g-silver;
		$finish: #2acea2;
		$line: '';
		height: 2px;
		background-color: $init;
		margin: 35px 6px 0;
		position: relative;
		&:before {
			content: '';
			display: block;
			@include atl(-2px);
			@include square(6px);
			background-color: $init;
			border-radius: 50%;
			z-index: 1;
		}
		&:after {
			content: '';
			display: block;
			@include atr(-5px);
			@include sprite($img + '/8.png', 12px);
			z-index: 1;
		}
		&-line {
			$line: & + '';
			@include square(0, 100%);
			background-color: $finish;
		}
		&.half {
			&:before {
				background-color: $finish;
			}
			#{$line} {
				width: 50%;
			}
		}
		&.finish {
			&:before {
				background-color: $finish;
			}
			#{$line} {
				width: 100%;
			}
			&:after {
				@include sprite($img + '/9.png', 12px);
			}
		}
	}
	&-desc { // 转账阶段描述
		color: $g-silver;
		line-height: 1;
		margin-top: 20px;
		overflow: hidden;
		padding-bottom: 30px;
		border-bottom: $g-border;
		&-left {
			float: left;
			margin-left: 5px;
		}
		&-right {
			float: right;
			margin-right: 5px;
			text-align: right;
		}
		&-name {
			font-size: 14px;
			&.green {
				color: #2acea2;
			}
		}
		&-time {
			font-size: 10px;
			margin-top: 8px;
		}
	}
	&-reason { // 失败原因
		@include height(68px);
		border-bottom: $g-border;
	}
	&-pay { // 支付金额和果仁
		overflow: hidden;
		border-bottom: $g-border;
		padding: 16px 0;
		&-box {
			clear: both;
			padding-top: 10px;
			.bill-num {
				font-size: 14px;
			}
		}
		&-item {
			@include height(24px);
			margin-left: 28px;
			margin-right: 10px;
			position: relative;
			&:before {
				content: '';
				display: block;
				@include square(0, 100%);
				border-left: 1px $g-ash dotted;
				@include atl(-15px, -13px);
			}
			&:after {
				content: '';
				display: block;
				@include square(5px);
				border-radius: 50%;
				background-color: $g-green-bill;
				@include atl(9px, -15px);
				z-index: 1;
			}
		}
	}
	&-money { // 支付金额
		@include height(46px);
		border-bottom: $g-border;
		margin-bottom: 12px;
	}
	&-label { // 左侧文字
		float: left;
		font-size: 14px;
	}
	&-num { // 右侧文字
		float: right;
		font-size: 16px;
		font-family: $g-font-num;
	}
	&-detail { // 细节
		margin-top: 12px;
		font-size: 14px;
		color: $g-ash;
		&-item {
			line-height: 28px;
			overflow: hidden;
		}
		&-left {
			float: left;
			width: 4em;
			text-align: justify;
			text-align-last: justify;
		}
		&-right {
			float: right;
			width: 60%;
			text-align: right;
			// &:first-line {
			// 	text-align: right;
			// }
			// &:first-letter {
			// 	font-size: 20px;
			// }
		}
	}
	&-more { // 更多
		text-align: center;
		margin-top: 30px;
	}
	&-tip { // 底部提示
		line-height: 1.5;
		text-align: center;
	}
}

