<div class="bill scroll" ms-controller="bill">
	<div class="view-box">
		<div class="bill-scroll">
			<div class="bill-box">
				<!--交易状态 转帐进行中 转帐成功 关闭-->
				<div class="bill-head" ms-class="{{headClass}}" ms-class-1="no-border:(type==='TRANSFER_IN'||type==='TRANSFER_OUT')">
					{{headContent}}
				</div>
				<div class="bill-wait" ms-visible="waitForPay">
					<div class="bill-wait-left">等待支付(¥)</div>
					<div class="bill-wait-right">-{{orderMoney|fix}}</div>
				</div>
				<!--买果仁成功-->
				<div class="bill-get" ms-visible="gopNum">
					<div class="bill-get-number">+{{gopNum|floorFix}}</div>
					<div class="bill-get-label">获得果仁(G)</div>
				</div>
				<!--转入转出果仁-->
				<div class="bill-get" ms-visible="transferNum">
					<div class="bill-get-number">{{transferSign}}{{transferNum|floorFix}}</div>
					<div class="bill-get-label ash" ms-visible="type==='TRANSFER_OUT'">手续费 {{poundage|fix}}</div>
				</div>
				<!--用户信息-->
				<div class="bill-target" ms-visible="type==='TRANSFER_IN'||type==='TRANSFER_OUT'">
					<div class="bill-target-left">
						<div class="bill-target-img">
							<div class="bill-target-icon" ms-visible="!transferImg" ms-class="{{transferIcon}}"></div>
							<img alt="" class="bill-target-icon" ms-visible="transferImg" ms-attr-src="transferImg">
						</div>
					</div>
					<div class="bill-target-right">
						<div class="bill-target-name">{{transferName|omit}}</div>
						<div class="bill-target-address">{{transferAddress}}</div>
					</div>
					<div class="bill-target-bottom"></div>
				</div>
				<!--进度条-->
				<div class="bill-stage" ms-visible="type==='TRANSFER_OUT'&&transferStage" ms-class="{{transferStage}}">
					<div class="bill-stage-line"></div>
				</div>
				<!--转帐时间-->
				<div class="bill-desc" ms-visible="type==='TRANSFER_OUT'&&transferStage&&(transferStart||transferOver)">
					<div class="bill-desc-left">
						<div class="bill-desc-name green">提交成功</div>
						<div class="bill-desc-time">{{transferStart}}</div>
					</div>
					<div class="bill-desc-right">
						<div class="bill-desc-name" ms-class="green:transferStage=='finish'">转账成功</div>
						<div class="bill-desc-time">{{transferOver}}</div>
					</div>
				</div>
				<div class="bill-reason" ms-visible="failReason">
					<div class="fl">失败原因</div>
					<div class="fr red">{{failReason|html}}</div>
				</div>
				<!-- <div class="bill-reason" ms-visible="closeReason">
					<div class="fl">关闭原因</div>
					<div class="fr red">{{closeReason|html}}</div>
				</div> -->
				<!--金额相关-->
				<div class="bill-pay" ms-visible="orderMoney&&!buyMoney"><!--买果仁-->
					<div class="bill-label" ms-class-1="ash:status==='FAILURE'" ms-class-2="dark:status!=='FAILURE'">订单金额(¥)</div>
					<div class="bill-num dark">-{{orderMoney|abs|fix}}</div>
					<div class="bill-pay-box" ms-visible="status==='SUCCESS'&&(payMoney||payGop)">
						<div class="bill-pay-item" ms-visible="payMoney">
							<div class="bill-label">支付金额11</div>
							<div class="bill-num">-{{payMoney|fix}}</div>
						</div>
						<div class="bill-pay-item" ms-visible="payGop">
							<div class="bill-label">使用<span class="bill-green">{{payGop|floorFix}}</span>个果仁</div>
							<div class="bill-num">-{{(orderMoney-payMoney)|fix}}</div>
						</div>
					</div>
				</div>
				
				<div class="bill-pay" ms-visible="status==='SUCCESS'&&buyMoney">
					<div class="bill-label ash">支付金额(¥)</div>
					<div class="bill-num dark">-{{buyMoney|fix}}</div>
				</div>
				<div class="bill-money" ms-visible="rebate">
					<div class="bill-label dark">获得返利(G)</div>
					<div class="bill-num blue">+{{rebate|floorFix}}</div>
				</div>
				<!--帐单相关信息-->
				<div class="bill-detail">
					<div class="bill-detail-item" ms-visible="transferFailReason">
						<div class="bill-detail-left">失败原因</div>
						<div class="bill-detail-right red">{{transferFailReason}}</div>
					</div>
					<div class="bill-detail-item" ms-visible="productDesc">
						<div class="bill-detail-left">商品信息</div>
						<div class="bill-detail-right dark" ms-class="ash:status==='CLOSE'">{{productDesc}}</div>
					</div>
					<div class="bill-detail-item" ms-visible="gopPrice">
						<div class="bill-detail-left">成交价</div>
						<div class="fl">(¥)</div>
						<div class="bill-detail-right blue">{{gopPrice|fix}}</div>
					</div>
					<!-- <div class="bill-detail-item" ms-visible="payType">
						<div class="bill-detail-left">支付方式</div>
						<div class="bill-detail-right" ms-class-1="ash:status==='CLOSE'" ms-class-2="dark:status!=='CLOSE'">{{payType}}</div>
					</div> -->
					<div class="bill-detail-item" ms-visible="type==='BUY_IN'||type==='PAY'">
						<div class="bill-detail-left">收款方</div>
						<div class="bill-detail-right" ms-class-1="ash:status==='CLOSE'" ms-class-2="dark:status!=='CLOSE'">北京果仁宝科技有限公司</div>
					</div>
					<div class="bill-detail-item" ms-visible="transferTime">
						<div class="bill-detail-left">到账时间</div>
						<div class="bill-detail-right ash">{{transferTime}}</div>
					</div>
					<div class="bill-detail-item" ms-visible="orderTime">
						<div class="bill-detail-left">交易时间</div>
						<div class="bill-detail-right dark">{{orderTime}}</div>
					</div>
					<div class="bill-detail-item" ms-visible="closeTime">
						<div class="bill-detail-left">关闭时间</div>
						<div class="bill-detail-right ash">{{closeTime}}</div>
					</div>
					<div class="bill-detail-item" ms-visible="submitTime">
						<div class="bill-detail-left">提交时间</div>
						<div class="bill-detail-right" ms-class-1="ash:status==='FAILURE'" ms-class-2="dark:status!=='CLOSE'">{{submitTime}}</div>
					</div>
					<div class="bill-detail-item" ms-visible="createTime">
						<div class="bill-detail-left">创建时间</div>
						<div class="bill-detail-right" ms-class-1="ash:status==='CLOSE'" ms-class-2="dark:status!=='CLOSE'">{{createTime}}</div>
					</div>
					<div class="bill-detail-item" ms-visible="orderCode">
						<div class="bill-detail-left">订单号</div>
						<div class="bill-detail-right ash">{{orderCode}}</div>
					</div>
					<div class="bill-detail-item" ms-visible="serialNum&&!transferTime">
						<div class="bill-detail-left">流水号</div>
						<div class="bill-detail-right ash">{{serialNum|html}}</div>
					</div>
					<div class="bill-detail-item" ms-visible="type==='TRANSFER_IN'||type==='TRANSFER_OUT'">
						<div class="bill-detail-left">转账说明</div>
						<div class="bill-detail-right ash">{{transferDesc}}</div>
					</div>
				</div>
			</div>
			<div class="text-button"><span class="button" ms-visible="ifReturnHome" ms-click="returnHome">回到首页</span></div>
			<div class="text-button"><span class="button" ms-visible="ifFinishButton" ms-click="finish">完成</span></div>
			<div class="text-button"><span class="button" ms-visible="ifPayButton" ms-click="gotoPay">前往支付</span></div>
			<!-- <div class="text-button"><span class="button" ms-visible="ifRePayButton" ms-click="rePay">重新支付</span></div> -->
			<div class="text-button"><span class="button white" ms-visible="ifSetNickname" ms-click="setNickname">设置备注名</span></div>
			<div class="bill-more"><span class="blue" ms-visible="ifShowMore" ms-click="showMore">更多</span></div>
			<div class="bill-more"><span class="blue" ms-visible="ifClose" ms-click="close">关闭</span></div>
			<div class="bill-tip" ms-visible="ifTip">如有疑问，请联系果仁宝客服<br><a class="a-blue" href="tel:400-184-9696">400-184-9696</a></div>
		</div>
	</div>
</div>