@charset 'utf-8';


// 张树垚 2016-01-07 18:05:56 创建
// H5微信端 --- dialog-paypass支付浮层


.dialog-paypass {
	@extend .dialog-style;
	&-box {
		height: 184px;
		@extend .dialog-bottom;
	}
	&-main {
		margin-top: 30px;
	}
	&-forget {
		text-align: right;
		font-size: 14px;
		margin-top: 8px;
	}
}
