.transition, .PageCode a {
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -o-transition: 0.4s all; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?ei70u9");
  src: url("fonts/icomoon.eot?ei70u9#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?ei70u9") format("truetype"), url("fonts/icomoon.woff?ei70u9") format("woff"), url("fonts/icomoon.svg?ei70u9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cny:before {
  content: "\e902"; }

.icon-bitcoin:before {
  content: "\e901"; }

.icon-undo:before {
  content: "\e909"; }

.icon-user-tie:before {
  content: "\e90b"; }

.icon-search:before {
  content: "\e903"; }

.icon-enlarge:before {
  content: "\e905"; }

.icon-lock:before {
  content: "\e907"; }

.icon-unlocked:before {
  content: "\e908"; }

.icon-warning:before {
  content: "\e900"; }

.icon-cross:before {
  content: "\e904"; }

.icon-checkmark:before {
  content: "\e90a"; }

.icon-exit:before {
  content: "\e906"; }

.aside {
  height: auto; }
  .aside h1 {
    font-size: 18px;
    margin-top: 25px; }
  .aside-div {
    background: #eee;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    padding-left: 10px; }
    .aside-div-spanLeft {
      width: 300px; }
    .aside-div-spanRight {
      float: right;
      width: 300px;
      padding-left: 30px;
      color: #fff;
      cursor: pointer;
      position: relative; }
    .aside-div-input {
      margin-top: -4px;
      height: 25px;
      line-height: 25px;
      border: none;
      width: 150px; }
    .aside-div-select {
      height: 25px;
      line-height: 25px;
      border: none;
      outline: none;
      margin-top: -4px; }
    .aside-div-searchBtn {
      height: 26px;
      line-height: 26px;
      width: 65px;
      border: none;
      outline: none;
      margin-top: -4px;
      background-color: #0362FD;
      color: #ffffff;
      cursor: pointer; }
  .aside-table {
    margin-top: 8px;
    border-color: #ccc;
    border: #ccc;
    border: 1px solid #ccc; }
    .aside-table-thead {
      background-color: #eee; }
      .aside-table-thead td {
        padding: 10px;
        border-color: #ccc; }
      .aside-table-thead-select {
        margin-top: -3px;
        border: none;
        background-color: #eee;
        outline: none;
        padding: 0; }
    .aside-table-tbody tr:hover {
      background: #F3F3F3; }
    .aside-table-tbody td {
      padding: 10px;
      border-color: #ccc; }
  .aside-span {
    float: right;
    width: 100%;
    height: 30px;
    text-align: center; }
    .aside-span-ul {
      margin-top: 10px;
      margin-left: 45%; }
      .aside-span-ul li {
        float: left;
        padding: 5px 10px;
        width: 40px;
        border: 1px solid #eee;
        text-align: center;
        display: block;
        cursor: pointer; }
        .aside-span-ul li:hover {
          background: #eee; }

.select {
  width: 75px;
  height: 35px;
  padding-left: -30px;
  position: relative; }

.set {
  width: 80px;
  margin-left: -30px;
  line-height: 35px;
  text-align: center; }

.set-icon {
  width: 30px;
  position: absolute;
  left: 75px;
  top: 0px; }

.new {
  width: 103px;
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  display: none;
  text-align: center;
  left: 0px; }

.select ul li {
  width: 103px;
  line-height: 30px;
  color: #000; }

.select ul li:hover {
  background: #CCC;
  color: #FFF; }

.PageCode {
  padding: 15px 20px;
  color: #ccc;
  text-align: center; }

.PageCode a {
  display: inline-block;
  color: #428bca;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  border: 1px solid #ddd;
  margin: 0 2px;
  border-radius: 4px;
  vertical-align: middle; }

.PageCode a:hover {
  text-decoration: none;
  border: 1px solid #428bca;
  background-color: #428bca;
  color: #fff; }

.btnConfirm {
  padding: 2px 6px;
  cursor: pointer; }

.mydiv {
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
  z-index: 4;
  width: 300px;
  height: 170px;
  left: 50%;
  /*FF IE7*/
  top: 50%;
  /*FF IE7*/
  position: relative;
  margin-left: -150px !important;
  /*FF IE7  */
  margin-top: -85px !important;
  /*FF IE7*/
  margin-top: 0px;
  position: fixed !important;
  /*FF IE7*/
  position: absolute;
  /*IE6*/
  _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/ document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);
  /*IE5 IE5.5*/ }

dl, dt, dd {
  padding: 10px; }

dt {
  margin-top: 33px;
  padding-left: 18px;
  text-align: left; }

.btn-a {
  width: 170px;
  height: 25px;
  line-height: 25px; }

.btn-b {
  width: 70px;
  height: 30px;
  background: #0362FD;
  outline: none;
  border: 0;
  color: #fff;
  cursor: pointer; }

.btnClose {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 10px;
  right: 10Px;
  cursor: pointer; }

.bg {
  background-color: #ccc;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /*FF IE7*/
  filter: alpha(opacity=50);
  /*IE*/
  opacity: 0.5;
  /*FF*/
  z-index: 3;
  position: fixed !important;
  /*FF IE7*/
  position: absolute;
  /*IE6*/
  _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/ document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);
  /*IE5 IE5.5*/ }

.icon-undo {
  color: green;
  cursor: pointer; }

.icon-unlocked {
  color: red;
  cursor: pointer; }

.icon-lock {
  color: red;
  cursor: pointer; }

/*# sourceMappingURL=guoRenInput.css.map */
