@charset 'utf-8';


// 张树垚 2015-12-13 12:54:23 创建
// views 通用 css


.view {

	$time: .5s; // 动画时间, 暂时全部弃用
	$height: 400px; // 补充露底

	@include fixed(0, 100%);
	z-index: $g-index-view;
	@include square(100%);
	@include t3d(0);

	&.on { // 页面制作时使用, 不作为js标记
		left: 0;
	}
	&.hide {
		// transition: $time;
		@include t3d(100%);
		&-immediately {
			@include t3d(100%);
		}
	}
	&-style {

		@extend %afull;
		@include t3d(0);
		background-color: $g-background;

		&:before, &:after {
			content: '';
			display: block;
			@include absolute('lw');
			background-color: $g-background;
			height: $height;
		}
		&:before {
			top: - $height;
		}
		&:after {
			bottom: - $height;
		}

		&.scroll {
			overflow-x: hidden;
			overflow-y: auto;
		}

		&.show {
			// transition: $time;
			@include t3d(-100%);
			&-immediately {
				@include t3d(-100%);
			}
		}
		&.hide {
			// transition: $time;
			@include t3d(0);
			&-immediately {
				@include t3d(0);
			}
		}
	}
	&-box {
		@include absolute('tlr');
		overflow-x: hidden;
		overflow-y: auto;
	}
}


