@charset 'utf-8';


// 张树垚 2015-12-27 15:57:15 创建
// H5微信端 --- 微信授权跳转页


@import '../../../source/scss/main';


@import '../../views/view';
@import '../../views/login/login';
@import '../../views/password/password';

@import '../../dialogs/dialog';
@import '../../dialogs/alert/alert';


.index {

	$img: $g-pages + '/index/images';

	text-align: center;
	padding: $g-padding-bottom 0;
	font-weight: bold;
	font-size: 20px;

	&-select {
		@extend .view-style;
		&-picture {
			margin: 34px auto 0;
			@include square(85px);
			border-radius: 50%;
			border: 1px solid $g-white;
			box-shadow: 0px 0px 5px $g-gray;
			overflow: hidden;
			>img {
				border-radius: 50%;
				@extend .img-f;
			}
		}
		&-name {
			margin-top: 10px;
			text-align: center;
			@extend %text-overflow;
			font-size: $g-font-input;
			font-weight: bold;
			color: $g-dark;
		}
		&-welcome {
			margin-top: 4px;
			text-align: center;
			@extend %text-overflow;
			font-size: $g-font-normal;
			color: $g-gray;
		}
		&-main {
			font-size: $g-font-input;
			margin-top: 68px;
			border-top: $g-border;
			border-bottom: $g-border;
			background-color: $g-white;
			&-item {
				@include height(48px);
				border-bottom: $g-border;
				margin-left: $g-margin;
				position: relative;
				display: block;
				&:last-child {
					border-bottom: none;
				}
				&:after {
					content: '';
					@include atr(16px, $g-margin);
					@include sprite($img + '/1.png', 9px, 15px);
				}
			}
		}
	}
}

