<!-- 添加银行卡 -->
<div class="bankcard-append" ms-controller="bankcard-append">
	<div class="bankcard-append-box">
		<div class="text-tip-top">请使用您本人的银联储蓄卡</div>
		<div class="block">
			<div class="block-text">
				<label for="bankcard-append-number" class="text">
					<div class="text-label">卡号</div>
					<div class="text-box"><input id="bankcard-append-number" name="bankcard-append-number" type="tel" class="text-input" autocomplete="off" placeholder="银行卡号" minlength="16" maxlength="19" data-text="close" ms-on-input="check" ms-duplex="cardNo"></div>
					<div class="text-close" ms-on-click="clear('cardNo')"></div>
					<div class="text-alert"></div>
				</label>
			</div>
		</div>
		<div class="bankcard-append-line">
			<div class="text-label">卡类型</div>
			<div class="text-box banknameAndcardtypestr">{{bankName}} {{cardTypeStr}}</div>
		</div>
	</div>
	<div class="bankcard-append-box">
		<!-- <div class="text-tip-top">姓名和银行卡信息不匹配</div>
		<div class="text-tip-top">非常抱歉，果仁宝暂不支持本张银行卡，请更换一张</div>
		<div class="text-tip-top">检测到该卡预留手机号为 **** **** 3224</div> -->
		<div class="block">
			<div class="block-text">
				<label for="bankcard-append-phone" class="text">
					<div class="text-label">手机号</div>
					<div class="text-box"><input id="bankcard-append-phone" name="bankcard-append-phone" type="tel" class="text-input" autocomplete="off" placeholder="银行卡预留手机号" maxlength="11" data-text="close" ms-on-input="checkPhone" ms-duplex="phone"></div>
					<div class="text-close" ms-on-click="clear('phone')"></div>
					<div class="text-alert"></div>
				</label>
			</div>
		</div>
	</div>
	<div class="text-button"><span class="button" ms-class="disabled:checked" ms-click="bankcard_add_next_click">下一步</span></div>
</div>