@charset 'utf-8';


// 张树垚 2015-12-17 15:14:41 创建
// H5微信端 -- sass-mixin


@mixin sprite($url: null, $width: null, $height: $width) { // 精灵图
	@if type-of($url) != 'null' {
		background-image: url($url); /* @meta {"sprite": {"h5": true}} */
	}
	@if isNull($width) != true {
		background-size: $width $height;
		width: $width;
		height: $height;
	}
}

