@charset 'utf-8';


// 张树垚 2015-12-17 15:14:41 创建
// H5微信端 -- sass-mixin


@mixin sprite($url: null, $width: null, $height: $width) { // 精灵图
	@if type-of($url) != 'null' {
		background-image: url($url); /* @meta {"sprite": {"h5": true}} */
	}
	@if isNull($width) != true {
		background-size: $width $height;
		width: $width;
		height: $height;
	}
}


@mixin font($name, $url) {
	@font-face {font-family: $name;
		src: url($url + '/' + $name + '.eot'); // IE9
		src: url($url + '/' + $name + '.eot?#iefix') format('embedded-opentype'), // IE6-IE8
		url($url + '/' + $name + '.woff') format('woff'), // chrome、firefox
		url($url + '/' + $name + '.ttf') format('truetype'), // chrome、firefox、opera、Safari, Android, iOS 4.2+
		url($url + '/' + $name + '.svg#' + $name) format('svg'); // iOS 4.1-
	}
}

