<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="format-detection"content="telephone=no, email=no"/>
	<title>立方体demo</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<div class="screen">
		
		<div class="page">
			<div class="page_cube">
				<div class="page1">111</div>
				<div class="page2">222</div>
				<div class="page3">333</div>
				<div class="page4">444</div>
				<div class="page5"></div>
				<div class="page6"></div>
			</div>
		</div>

		<div class="box">
			<div class="box_cube">
				<div class="box1">111</div>
				<div class="box2">222</div>
				<div class="box3">333</div>
				<div class="box4">444</div>
				<div class="box5">555</div>
				<div class="box6">666</div>
				<div class="box7">777</div>
				<div class="box8">888</div>
				<div class="box9">999</div>
			</div>
		</div>

	</div>

	<script>
	// var now = 0;
	// page_box.style.webkitTransition = ".4s all linear";
	// var timer = setInterval(function() {
	// 	now += 90;
	// 	requestAnimationFrame(function() {
	// 		page_box.style.webkitTransform = "rotateX(" + now +"deg)";
	// 	});
	// }, 2500);
	</script>
</body>
</html>