.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


/*---滚动条默认显示样式--*/

::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    height: 50px;
    outline-offset: -2px;
    outline: 2px solid #fff;
    -webkit-border-radius: 4px;
    border: 2px solid #fff;
}


/*---鼠标点击滚动条显示样式--*/

::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
    height: 50px;
    -webkit-border-radius: 4px;
}


/*---滚动条大小--*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


/*---滚动框背景样式--*/

::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "微软雅黑";
    background-color: #f6f6f6;
}


.topbar .content {
    max-width: 1200px;
    margin: 0 auto;
    color: #cccccc;
    height: 100%;
    font-size:1.2rem;
}

.topbar .content span {
    color: #cccccc;
    font-size: 12px;
}

.topbar .content span:nth-child(1) {
    /*color:blue;*/
}
.topbar .content span:nth-child(2) {
    /*color:red;✔✘*/
}
.login_regist{
    width:80px;
    float:right;
    right: 0px;
    text-align:right;
}
.login_regist a{
    text-decoration:none;
    color:#999999;
}
.login_regist div{
    display:inline;
}
.login_regist_vertical:after{
        content: '|';
    color: #838383;
    width: 2px;
    position: relative;
    bottom: 1px;
}

.topnav {
        width: 100%;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px #888888;
}

.topbanner {
    height: 440px;
    width: 100%;
    position: relative;
}

.report_forms{
    background-color: #ffffff;
    display:flex;
}
.containerwraper{
    margin-left: 20px;
    width: 73%;
    border-right: 1px dotted #cccccc;
}
.containerinnerwrapper{
    max-width:100%;
}

.myassets{
        width: 27%;
    height: 100px;
    background-color: #ffffff;
    padding: 0 20px;
}

.myassetstop{
        height: 83px;
    border-bottom: 1px solid #e9e9e9;
}
.navcontent {
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
    position: relative;
}

.navlogo {
    height: 100%;
    width: 156px;
    position: absolute;
}
.navlogo img {
    cursor: pointer;
    position: absolute;
    top: 17px;
}
.rightfunction {
    display: flex;
    float: right;
    position: relative;
    top: 34px;
}
.feature {
    width: 116px;
    color: #777777;
    font-size: 1.6rem;
    cursor: pointer;
}
.index_on {
    color:#0bbeee;
}
.bottom {
    width: 100%;
    height: 372px;
    background-color: #282828;
}

.bottom h3 {
    font-size: 1.6rem;
    color: #999999;
}
.bottom a {
    text-decoration: none;
    color: #999999;
    display: inline-block;
    width: auto;
    height: 20px;
    line-height: 20px;
    margin-right: 30px;
    font-size: 1.4rem;
}
.bottom_up {
    height: 148px;
    border-bottom: 1px solid #333333;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
.bottom_up .links {
    width: 200px;
    height: 100%;
    flex: 1;
}
.bottom_down {
    max-width: 1200px;
    margin: 0 auto;
    height: 223px;
    position: relative;
}
.bottom_down h3 {
    margin-top: 20px;
}
.links {
    position: relative;
}
.links div:nth-of-type(1) {
    position: absolute;
    top: 76px;
}
.links div:last-child {
    position: absolute;
    bottom: 18px;
}
.bottom h3 {}
.first h3,
.second h3,
.third h3,
.fourth h3 {
    margin-top: 40px;
}
.bottom_down .bottom_down_up div {
    width: 200px;
    float: left;
    margin-top: 24px;
    color: #666666;
}
.bottom_down_up {
    height: 100px;
    border-bottom: 1px solid #333;
}
.bottom_down_down {
    height: 123px;
    position: relative;
}
.bottom_down_down p {
    color: #666666;
    position: absolute;
    top: 24px;
}
.quoted_price_top,
.report_forms {
    max-width: 1200px;
    margin: 0 auto;
}
.quoted_price_top_wrapper{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #ffffff;
    margin: 0 20px;
    border-bottom: 1px solid #e6e6e6;
}
.quoted_price_top {
        display: flex;
    height: 70px;
    margin-top: 14px;
    background-color: #ffffff;
}
.fivth {
    width: 200px;
    height: 100%;
    color: #999999;
    padding-top: 76px;
}
.fivth span:first-child {
    font-size: 1.4rem;
}
.fivth span:last-child {
    font-size: 1.6rem;
}
.center_content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 14px;
}
.leftside{
    width: 180px;
    height: 1280px;
    flex: 0.2;
    margin-right:14px;
    margin-bottom:50px;
    background-color: #ffffff;
}
.rightside{
    width: 100%;
    height: 1280px;
    background-color: #ffffff;
    flex: 0.8;
    padding: 0 34px;
    font-size:1.2rem;
}

.ls_tab{
    height: 94px;
    line-height: 94px;
    color: #333333;
    text-align: center;
    cursor:pointer;
    font-size:1.4rem;
    display:block;
    text-decoration:none;
}
.ls_tab_on {
    background-color: #fafafa;
    font-weight: 600;
}

.topline{
        margin: 28px 0 18px 0;
    border-bottom: 2px solid #e6e6e6;
}
.rmbxh{
    color: #333333;
    font-size: 1.4rem;
    display: inline-block;
    height: 28px;
    top: 2px;
    position: relative;
    cursor:pointer;
}
.rmbtx{
    color: #333333;
    font-size: 1.4rem;
    display: inline-block;
    height: 28px;
    top: 2px;
    position: relative;
    margin-left:30px;
    cursor:pointer;
}
.bottomon{
    border-bottom: 2px solid #bababa;
}

.intro p{
    line-height: 24px;
    padding-left: 20px;
    background-color: #fafafa;
    padding-top:18px;
}
.intro p em{
    color:#ff6600;
}
.topline b{
    float: right;
    bottom: 2px;
    position: relative;
}
.topline b em:nth-child(1){
    font-size:1.2rem;
}
.topline b em:nth-child(2){
    font-size:1.2rem;
}
#total_assets{
    font-size: 1.8rem;
    color: #ff6600;
}

.right_reg_side_content{
        display: flex;
    margin-top: 40px;
    position: relative;
    margin-left: 20px;
}

.rg_lf_label{
    flex:0.21;
}
.rg_lf_label .label_div{
        height: 32px;
    line-height: 32px;
    margin-bottom: 26px;
    text-align: right;
    margin-right: 20px;
    color: #424242;
}


.regist_input_div{
    height:58px;
    position:relative;
    z-index: 1;
}
.heightauto{
    height: auto;
    min-height: 58px;
    color: #424242;
}
.regist_input_div span{
    display: block;
    float: left;
    position: absolute;
    top: 32px;
    margin-top: 5px;
    color: #ff6600;
}
.regist_rg_input{
        height: 32px;
    width: 240px;
    border: 1px solid #d6d6d6;
    padding-left: 14px;
    box-sizing: border-box;
    float:left;
}
.build_remit_btn{
        height: 32px;
    line-height: 32px;
    background-color: #0bbeee;
    border-radius: 4px;
    width: 240px;
    position: absolute;
    /*top: 305px;*/
    color: #ffffff;
    cursor: pointer;
    text-align: center;
}
/*.Withdrawalsbtn{
    top:355px;
}*/
.handlingcharget{
    height:48px;
    line-height: 30px;
}
.heightA1{
    height: 52px;
    line-height: 62px;
    text-align: right;
    margin-right: 20px;
    color: #424242;
}
.heightA2{
    height: 42px;
    line-height: 42px;
    text-align: right;
    margin-right: 20px;
    color: #424242;
}
.heightA3{
    height: 32px;
    line-height: 32px;
    text-align: right;
    margin-right: 20px;
    color: #424242;
}
.heightA4{
    height: 75px;
    line-height: 75px;
    text-align: right;
    margin-right: 20px;
    color: #424242;
}

/* 添加 查看更多 */
.aside-table-div{
   width:100%;
   position: absolute;
   margin-bottom:10px;
   top: 380px;
   left:-10px;
}
.Withdrawalstable{
   width:100%;
   margin-bottom:10px;
}
.renMinBiInput{
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 12px;
    margin: 30px 0;
}
.renMinBiInput span{
    color: #333333;
    font-size: 1.4rem;
}
.renMinBiInput span:nth-child(2){
    float: right;
    color: #333333;
    font-size: 1.2rem;
}
.renMinBiInput a{
    text-decoration: none;
}
/*表格样式*/
.aside-table td{
    font-size: 12px; 
    padding: 15px;
    vertical-align: middle; 
}
.aside-table-thead td {
    background-color: #FAFAFA;
    border-bottom: 1px solid #ccc; 
}
.aside-table-tbody tr:hover {
    background: #FAFAFA; 
}
/* 添加 查看更多 */


.accountholder_tip{
    height: 32px;
    line-height: 32px;
    position: relative;
    left: 20px;
}

.accountholder_tipafter{
    width: 16px;
    height: 16px;
    content: url(tips_img.png);
    cursor: pointer;
    left: 0px;
    display: inline;
}
.tipscontent{
    border: 1px solid #b0b5b6;
    width: 256px;
    position: absolute;
    right: -126px;
    display: inline-block;
    bottom: 30px;
    background-color: #f6f6f6;
    padding: 10px 10px;
    border-radius:2px;
    line-height: 20px;
    text-indent: 2rem;
}

.bankcard,.handlingcharget{
    padding-top:10px;
    border:none;
    color:#777777;
}
.addBankCard{
    color:#0bbeee;
    height: 50px;
    line-height: 50px;
    padding-left:20px;
}

.handlingcharget em{
    margin-right:8px;
}
.moreCheck{
    color:blue;
}

/* 历史记录页面样式 -分页样式 页码样式 */
.PageCode {
  padding: 15px 20px;
  color: #000;
  text-align: right;
  font-size: 13px; }

.PageCode a {
  display: inline-block;
  color: #000000;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  margin: 0 2px;
  border-radius: 4px; }

.PageCode a:hover {
  text-decoration: none;
  background-color: #eee;
  color: #000; }

a {
  text-decoration: none; }

.inputNum {
  width: 20px;
  text-align: center;
  font-size: 7px; }

.btn-fenye {
  cursor: pointer;
  padding: 2px 7px; }

  /*弹出层样式表*/
  .mydiv {
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
  z-index: 3;
  width: 600px;
  height: 420px;
  left: 50%;
  top: 50%;
  border-radius: 8px;
  position: relative;
  margin-left: -300px;
  margin-top: -215px;
  position: fixed !important;
  position: absolute;
}
  .mydiv1 {
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
  z-index: 3;
  width: 600px;
  height: 420px;
  left: 50%;
  top: 50%;
  border-radius: 8px;
  position: relative;
  margin-left: -300px;
  margin-top: -215px;
  position: fixed !important;
  position: absolute;
}
.bg {
  background-color: #3A3A3A;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  position: fixed !important;  
  position: absolute;
}

/*弹出层里面的 样式*/
.mydiv-ul-1 ul, .mydiv1-ul-1 ul{
    margin-top:50px;
}
.mydiv-ul-1 li, .mydiv1-ul-1 li{
    width:280px;
    float: left;
    padding-top:30px;
}
.mydiv-ul-1 li:nth-child(odd), .mydiv1-ul-1 li:nth-child(odd){
    width:300px;
    text-align: left;
    padding-left:90px;
}
.mydiv-ul-1 li:nth-child(even), .mydiv1-ul-1 li:nth-child(even){
    text-align: right;
    padding-right:60px;
}
.mydiv-ul-1 li:nth-child(1), .mydiv1-ul-1 li:nth-child(1){
    font-weight: bold;
    text-align: left;
    padding-left:50px;
}
.mydiv-ul-1 li:nth-child(2), .mydiv1-ul-1 li:nth-child(2){
    float:right; 
    color:#999;
}
.mydiv-ul-1 li:last-child, .mydiv1-ul-1 li:last-child{
    color:orange; 
}

.mydiv p, .mydiv1 p{
    float: left;
    width:100%;
    text-align: center;
    margin-top:45px;
}
.mydiv p span, .mydiv1 p span{
    color:orange;
}

.mydiv div, .mydiv1 div{
    float: left;
    width:400px;
    text-align: center;
    margin-top:20px;
    margin-left:110px;
}

.mydiv .span-btn, .mydiv1 .span-btn1{
    width:240px;
    height:40px;
    line-height: 40px;
    background: #0bbeee;
    color:#fff;
    border-radius: 6px;
    float: left;
    cursor: pointer;
}
.mydiv .span-text, .mydiv1 .span-text1{
    width:120px;
    height:40px;
    line-height: 40px;
    float: left;
    cursor: pointer;
    color:#0bbeee;
}
.phonePos input{
    position: absolute;
    left:252px;
    top: -30px;
}
.phonePos label{
    position: absolute;
    left:280px;
    top: -28px;
    width:100px;
    color:#999;
}

.regist_rg_input-btn{
    height: 32px;
    width: 115px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    text-align: center;
    float:left;
    outline: none;
    cursor: pointer;
    background: #EEE;
}
.regist_rg_input-btn:hover{
    border: 1px solid #bbb;
}
.regist_rg_input-VerificationCode{
    height: 32px;
    width: 115px;
    border: 1px solid #d6d6d6;
    padding-left: 14px;
    box-sizing: border-box;
    float:left;
    margin-right:10px;
}

/*人民币提现管理 果仁提现管理*/
.bankIdCard{
    width:240px;
    height:50px;
    line-height: 50px;
    border:1px solid #ccc;
    float: left;
    padding-left:147px;
}
.ICBC{
    background: url(../images/ICBC.png) no-repeat 20px center;
}
.CBC{
    background: url(../images/CBC.png) no-repeat top left;
}
.BC{
    background: url(../images/BC.png) no-repeat top left;
}
.CMB{
    background: url(../images/CMB.png) no-repeat top left;
}
.ABC{
    background: url(../images/ABC.png) no-repeat top left;
}
.PSBC{
    background: url(../images/PSBC.png) no-repeat top left;
}
.Withdrawal{
    width:100%;
}

.Withdrawal td{
    height:50px;
    vertical-align: middle;
}
.td-top{
    vertical-align:top;
}
.Withdrawal td:nth-child(odd){
    padding:8px;
    vertical-align: middle;
}
.msg{
    color:#ff6600;
}
.checkBankCard{
    float:left;margin-top:20px;
}