.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


/*---滚动条默认显示样式--*/

::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    height: 50px;
    outline-offset: -2px;
    outline: 2px solid #fff;
    -webkit-border-radius: 4px;
    border: 2px solid #fff;
}


/*---鼠标点击滚动条显示样式--*/

::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
    height: 50px;
    -webkit-border-radius: 4px;
}


/*---滚动条大小--*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


/*---滚动框背景样式--*/

::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "微软雅黑";
    background-color: #f6f6f6;
}

.topbar .content {
    max-width: 1200px;
    margin: 0 auto;
    color: #cccccc;
    height: 100%;
    line-height: 30px;
    font-size:1.2rem;
}

.topbar .content span {
    color: #cccccc;
    font-size: 12px;
}

.topbar .content span:nth-child(1) {
    /*color:blue;*/
}
.topbar .content span:nth-child(2) {
    /*color:red;✔✘*/
}
.login_regist{
    width:80px;
    float:right;
    right: 0px;
    text-align:right;
}
.login_regist a{
    text-decoration:none;
    color:#999999;
}
.login_regist div{
    display:inline;
}
.login_regist_vertical:after{
        content: '|';
    color: #838383;
    width: 2px;
    position: relative;
    bottom: 1px;
}

.topnav {
        width: 100%;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px #888888;
}

.topbanner {
    height: 440px;
    width: 100%;
    position: relative;
}

.report_forms{
    background-color: #ffffff;
    display:flex;
}
.containerwraper{
    margin-left: 20px;
    width: 73%;
    border-right: 1px dotted #cccccc;
}
.containerinnerwrapper{
    max-width:100%;
}

.myassets{
        width: 27%;
    height: 100px;
    background-color: #ffffff;
    padding: 0 20px;
}

.myassetstop{
        height: 83px;
    border-bottom: 1px solid #e9e9e9;
}
.navcontent {
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
    position: relative;
}

.navlogo {
    height: 100%;
    width: 156px;
    position: absolute;
}
.navlogo img {
    cursor: pointer;
    position: absolute;
    top: 17px;
}
.rightfunction {
    /* display: flex;
    float: right;
    position: relative; */
    top: 34px;
}
.feature {
    width: 116px;
    color: #777777;
    font-size: 1.6rem;
    cursor: pointer;
}
.index_on {
    color:#0bbeee;
}
.quoted_price_top,
.report_forms {
    max-width: 1200px;
    margin: 0 auto;
}
.quoted_price_top_wrapper{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #ffffff;
    margin: 0 20px;
    border-bottom: 1px solid #e6e6e6;
}
.quoted_price_top {
        display: flex;
    height: 70px;
    margin-top: 14px;
    background-color: #ffffff;
}
.fivth {
    width: 200px;
    height: 100%;
    color: #999999;
    padding-top: 76px;
}
.fivth span:first-child {
    font-size: 1.4rem;
}
.fivth span:last-child {
    font-size: 1.6rem;
}
.center_content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 14px;
}
.leftside{
    width: 180px;
    height: 730px;
    flex: 0.2;
    margin-right:14px;
    margin-bottom:50px;
    background-color: #ffffff;
}
.rightside{
    width: 100%;
    height: 730px;
    background-color: #ffffff;
    flex: 0.8;
    padding: 0 34px;
    font-size:1.2rem;
}

.ls_tab{
    height: 94px;
    line-height: 94px;
    color: #333333;
    text-align: center;
    cursor:pointer;
    font-size:1.4rem;
    display:block;
    text-decoration:none;
}
.ls_tab_on {
    background-color: #fafafa;
    font-weight: 600;
}

.topline{
        margin: 28px 0 18px 0;
    border-bottom: 2px solid #e6e6e6;
}
.rmbxh{
    color: #333333;
    font-size: 1.4rem;
    display: inline-block;
    height: 28px;
    top: 2px;
    position: relative;
    cursor:pointer;
}
.rmbtx{
    color: #333333;
    font-size: 1.4rem;
    display: inline-block;
    height: 28px;
    top: 2px;
    position: relative;
    margin-left:30px;
    cursor:pointer;
}
.bottomon{
    border-bottom: 2px solid #bababa;
}
.intro {
    width:100%;
    background-color: #fafafa;
}
.intro p{
    padding-left: 20px;
    color: #b4b4b4;
    height: 50px;
    line-height: 50px;
}
.intro em{
    color:#ff6600;
}

.goopaladdress{
    height: 84px;
    background-color: #ffcd01;
    border-radius: 8px;
    margin-top:24px;
    position:relative;
}

.goopaladdress span:nth-child(1){
    display: inline;
    position: relative;
    top: 20px;
    margin-left: 34px;
    color:#ffffff;
}
.goopaladdress span:nth-child(2){
    display: inherit;
    position: relative;
    top: 30px;
    margin-left: 34px;
    color:#ffffff;
}
.goopaladdress span:nth-child(2){
    display: inherit;
    position: relative;
    top: 30px;
    margin-left: 34px;
}
.goopaladdress img{
    position: absolute;
    right: 55px;
    top: 34px;
    cursor:pointer;
}
.topline{
    position: relative;
}
.back{
    position: absolute;
    top:10px;
    right:10px;
}
.topline b{
    float: right;
    bottom: 2px;
    position: relative;
}
.topline b em:nth-child(1){
    font-size:1.2rem;
}
.topline b em:nth-child(2){
    font-size:1.2rem;
}
#total_assets{
    font-size: 1.8rem;
    color: #ff6600;
}

.right_reg_side_content{
    margin-top: 40px;
    position: relative;
    margin-left: 20px;
}

.rg_lf_label{
    float: left;
}
.rg_lf_label .label_div{
        height: 32px;
    line-height: 32px;
    margin-bottom: 26px;
    text-align: right;
    margin-right: 20px;
    color: #424242;
}


.regist_input_div{
    height:58px;
    position:relative;
}
.regist_input_div span{
    display: block;
    float: left;
    position: absolute;
    top: 32px;
    margin-top: 5px;
    color: #ff6600;
}
.regist_rg_input{
        height: 32px;
    width: 240px;
    border: 1px solid #d6d6d6;
    padding-left: 14px;
    box-sizing: border-box;
    float:left;
}
.regist_rg_input-addressWord{
    height: 32px;
    width: 320px;
    font-size:1.2rem;
    color:#999;
    border: none;
    background: none;
    outline: none;
    box-sizing: border-box;
    float:left;
}
.regist_rg_input-select{
    height: 32px;
    width: 115px;
    border: 1px solid #d6d6d6;
    padding-left: 14px;
    box-sizing: border-box;
    float:left;
    margin-right:10px;
}
.bankIp-select{
    position: absolute;
    left:250px;
}
.regist_rg_input-btn{
    height: 32px;
    width: 115px;
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    text-align: center;
    float:left;
    color:#fff;
    outline: none;
    cursor: pointer;
    background: #0bbeee;
}
.regist_rg_input-btn:hover{
    border: 1px solid #bbb;
}
.regist_rg_input-VerificationCode{
    height: 32px;
    width: 115px;
    border: 1px solid #d6d6d6;
    padding-left: 14px;
    box-sizing: border-box;
    float:left;
    margin-right:10px;
}
.regist_rg_input-address{
        height: 32px;
    width: 480px;
    border: 1px solid #d6d6d6;
    padding-left: 14px;
    box-sizing: border-box;
    float:left;
}
.build_remit_btn{
        height: 32px;
    line-height: 32px;
    background-color: #0bbeee;
    border-radius: 4px;
    width: 240px;
    position: absolute;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
}
.accountholder_tip{
    height: 32px;
    line-height: 32px;
    position: relative;
    left: 20px;
}

.accountholder_tipafter{
    width: 16px;
    height: 16px;
    content: url(../images/center_tips_img.png);
    cursor: pointer;
    left: 0px;
    display: inline;
}
.tipscontent{
    border: 1px solid #b0b5b6;
    width: 256px;
    position: absolute;
    right: -126px;
    display: inline-block;
    bottom: 30px;
    background-color: #f6f6f6;
    padding: 10px 10px;
    border-radius:2px;
}

.bankcard,.handlingcharget{
    padding-top:10px;
    border:none;
    color:#777777;
}

.handlingcharget em{
    margin-right:8px;
}

/*人民币提现管理 果仁提现管理*/
.bankIdCard{
    margin-top:20px;
    width:288px;
    height:160px;
    border:1px solid #ccc;
    border-radius: 6px;
    position: relative;
    float: left;
    margin-right: 8px;
}
.bankIdCard-end{
    margin-right:0px;
}
.bankIdCard-bankLogoName{
    height:60px;
    width:140px;
    line-height: 20px;
    padding-left:5px;
}
.bankIdCard-Code{
    position: absolute;
    left:140px;
    top:20px;
}
.bankIdCard-CardAndBg{
    position: absolute;
    left:213px;
    top:16px;
    width:56px;
    height:20px;
    background-image: url(../images/center_withdraw-bankBg.png);
    padding-left:13px;
    padding-top:4px;
    color:#fff;
}
.bankIdCard-hr{
    width:275px;
    position: absolute;
    top:47px;
    left:6px;
    border:1px dashed #ccc;
}
.bankIdCard-Name{
    position: absolute;
    left:18px;
    top:74px;
    width:156px;
    height:20px;
    color:#999;
}
.bankIdCard-del{
    position: absolute;
    left:246px;
    top:74px;
    width:156px;
    height:20px;
    color:#0BBEEE;
    cursor: pointer;
}
.bankIdCard-address{
    position: absolute;
    left:18px;
    top:105px;
    width:255px;
    line-height:19px;
    color:#999;
}
.bankIdCard-add{
    text-align: center;
    line-height: 50px;
    margin-top:55px;
    font-size:1.5rem;
    cursor: pointer;
    width:250px;
    float:left;
}
.bankIdCard-add-1{
    text-align: center;
    line-height: 50px;
    margin-top:55px;
    font-size:1.5rem;
    width:300px;
    float:left;
}
.bankIdCard-addCard{
    border:none;
    margin-right: 0px;
}
.bankIdCard-add p{
    font-size:5rem;
    font-weight: bold;
    color:#0BBEEE;
}
.moreCheck{
    color:blue;
    float:right;
    cursor: pointer;
}
/*果仁提现管理*/
.nutOutputManager{
    width:100%;
    height:80px;
    background: #FAFAFA;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
}
.nutOutputManager-even{
    background: none;
    border-bottom: 1px solid #FAFAFA;
}
.nutOutputManager-add{
    width:100%;
    height:30px;
    color:#0BBEEE;
    margin-top:20px;
    text-align: right;
    padding-right:30px;
    cursor: pointer;
}
.nutOutputManager p:nth-child(1){
    color:#999;
    padding:20px 0 0 20px;
}
.nutOutputManager p:nth-child(2){
    padding:12px 0 0 20px;
}
.nutOutputManager-modify{
    position: absolute;
    top:30px;
    right:80px;
    background: url(../images/center_modify.png) no-repeat center center;
    width:20px;
    height: 20px;
    cursor: pointer;
}
.nutOutputManager-del{
    position: absolute;
    top:30px;
    right:30px;
    background: url(../images/center_del.png) no-repeat center center;
    width:20px;
    height: 20px;
    cursor: pointer;
}
.ICBC{
    background: url(../images/center_ICBC.png) no-repeat 10px 15px;
}
.CBC{
    background: url(../images/center_CBC.png) no-repeat 10px 15px;
}
.BC{
    background: url(../images/center_BC.png) no-repeat 10px 15px;
}
.CMB{
    background: url(../images/center_CMB.png) no-repeat 10px 15px;
}
.ABC{
    background: url(../images/center_ABC.png) no-repeat 10px 15px;
}
.PSBC{
    background: url(../images/center_PSBC.png) no-repeat 10px 15px;
}

/*果仁地址修改*/
.nutOutputManager .input{
    outline:none;
    border:0;
    background:none;
}
.gopAddressManAdd, .msg-nut-address, .msg-nut-paypwd, .msg-nut-identifyingCode{
    margin-left: 69px;
}
.msg-nut-name{
    color:#999;
    margin-left: 69px;
}
#nut-name{
    width:330px;margin-right:10px;
}