html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    font-family: "Microsoft Yahei, Helvetica, STHeiTi, Arial, sans-serif";
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
}

body {
    line-height: 1;
    margin: 0;
    font-size: 1.3rem;
    color: #333333;
    background-color: white;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    font-family: "Microsoft Yahei";
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*---滚动条默认显示样式--*/

::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    height: 50px;
    outline-offset: -2px;
    outline: 2px solid #fff;
    -webkit-border-radius: 4px;
    border: 2px solid #fff;
}


/*---鼠标点击滚动条显示样式--*/

::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
    height: 50px;
    -webkit-border-radius: 4px;
}


/*---滚动条大小--*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


/*---滚动框背景样式--*/

::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 0;
}

.topbar {
    height: 28px;
    background-color: #282828;
    width: 100%;
    margin: 0 auto;
    line-height: 28px;
}

.topbar .content {
    max-width: 1200px;
    margin: 0 auto;
    color: #cccccc;
    height: 100%;
    line-height: 28px;
    font-size: 1.2rem;
}

.topbar .content span {
    color: #cccccc;
    font-size: 12px;
}

.topbar .content span:nth-child(1) {
    /*color:blue;*/
}

.topbar .content span:nth-child(2) {
    /*color:red;✔✘*/
}

.login_regist {
    width: 80px;
    float: right;
    right: 0px;
    text-align: right;
}

.login_regist a {
    text-decoration: none;
    color: #999999;
}

.login_regist div {
    display: inline;
}


/* .login_regist_vertical:after{
    content: '|';
    color: #838383;
    width: 2px;
    position: relative;
    bottom: 1px;
} */

.topnav {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px #888888;
}

.topbanner {
    height: 440px;
    width: 100%;
    position: relative;
}

.login_regist_vertical:after {
    content: '|';
    color: #838383;
    width: 2px;
    position: relative;
    bottom: 1px;
}

.feature {
    width: 116px;
    color: #777777;
    font-size: 1.6rem;
    cursor: pointer;
    text-decoration: none;
    text-align:right;
}

.index_on {
    color: #0bbeee;
}

.feature:hover {
    color: #0bbeee;
}

.bottom {
    width: 100%;
    height: 372px;
    background-color: #282828;
}

.bottom h3 {
    font-size: 1.6rem;
    color: #999999;
}

.bottom a {
    text-decoration: none;
    color: #999999;
    display: inline-block;
    width: auto;
    height: 20px;
    line-height: 20px;
    margin-right: 30px;
    font-size: 1.4rem;
}

.bottom_up {
    height: 148px;
    border-bottom: 1px solid #333333;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.bottom_up .links {
    width: 200px;
    height: 100%;
    flex: 1;
}

.bottom_up a:hover {
    color: #0bbeee;
}

.bottom_down {
    max-width: 1200px;
    margin: 0 auto;
    height: 223px;
    position: relative;
}

.bottom_down h3 {
    margin-top: 20px;
}

.links {
    position: relative;
}

.links div:nth-of-type(1) {
    position: absolute;
    top: 76px;
}

.links div:last-child {
    position: absolute;
    bottom: 18px;
}

.bottom h3 {}

.first h3,
.second h3,
.third h3,
.fourth h3 {
    margin-top: 40px;
}

.bottom_down .bottom_down_up div {
    width: 200px;
    float: left;
    margin-top: 24px;
    color: #666666;
}

.bottom_down_up {
    height: 100px;
    border-bottom: 1px solid #333;
}

.bottom_down_down {
    height: 123px;
    position: relative;
}

.bottom_down_down p {
    color: #666666;
    position: absolute;
    top: 24px;
}


/****顶部通栏****/

#newinfor {
    position: absolute;
    bottom: 12px;
    height: 16px;
    line-height: 16px;
    color: #333333;
}

.message_flow {
    margin: 0 10px;
}

#newinfor_result {
    position: absolute;
    bottom: 12px;
    color: #ff6600;
    right: 0px;
    height: 16px;
    line-height: 16px;
}

.popup_message_box {}

.message_flow {
    height: 52px;
}

.message_flow p {
    line-height: 26px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.login_header {
    float: right;
    color: #cccccc;
}

.message_content_p {
    color: #565656;
    position: relative;
    top: 6px;
}

.message_date_p {
    color: #999999;
    float: right;
    margin-right: 10px;
}

.second_message_flow {
    border-top: 1px dotted #cccccc;
}

.login_header >div {
    display: inline;
}

.login_header >div:nth-child(2) {
    display: inline-block;
    padding: 0 6px;
    cursor: pointer;
    position: relative;
}

.login_header span {
    color: #cccccc;
}

.login_header em {
    color: #cccccc;
}

.login_regist {
    width: 80px;
    float: right;
    right: 0px;
    text-align: right;
}

.messnumarea_font_color {
    color: #333333;
}

.login_regist a,
.login_header a {
    text-decoration: none;
    color: #cccccc;
}

.popup_message_box {
    background-color: #ffffff;
    width: 260px;
    height: 178px;
    z-index: 3;
    position: absolute;
    right: 0px;
    display: none;
}

.newinfo_div {
    color: #333333;
    margin: 0 10px;
    border-bottom: 1px solid #e6e6e6;
    height: 44px;
    position: relative;
}

.popup_message_box a {
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    color: #0bbeee;
    right: 0px;
    position: absolute;
}

.login_header {
    display: block;
    float: right;
    color: #cccccc;
}

.rightfunction {
    display: flex;
    float: right;
    position: absolute;
    top: 34px;
    right: 0px;
}

.popDiv {
    width: 0;
    height: 0;
    position: fixed;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    z-index: 1000;
}

.bg {
    background-color: #333333;
    opacity: 0.8;
    z-index: 1;
    position: absolute;
    top: 0;
    z-index: 100;
}

.popup_loginarea {
    width: 322px;
    height: 336px;
    margin-left: -161px;
    margin-top: -168px;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 0 43px;
    position: relative;
}

.popup_loginarea h3 {
    top: 30px;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    left: 112px;
}

.close_btn {
    position: absolute;
    top: 24px;
    right: 36px;
    cursor: pointer;
}

.popup_divblock {
    height: 56px;
    line-height: 56px;
    width: 240px;
}

.popup_input {
    height: 32px;
    line-height: 32px;
    width: 220px;
    padding-left: 15px;
    font-family: "Microsoft Yahei";
}

.first_input_div {
    top: 60px;
    position: absolute;
}

.second_input_div {
    top: 120px;
    position: absolute;
}

.err_tips_one {
    height: 20px;
    position: relative;
    top: -26px;
    color: #ff6600;
    display: none;
}

#authcode {
    position: absolute;
    top: 188px;
    width: 240px;
}

.authcodecls {
    height: 32px;
    line-height: 32px;
    width: 51%;
    float: left;
    padding-left: 5%;
    font-family: "Microsoft Yahei";
}

.error_tips {
    position: absolute;
    top: 48px;
    height: 20px;
    color: #ff6600;
    line-height: 20px;
    display: none;
}

.autocode_tips {
    color: #ff6600;
    position: absolute;
    left: 0px;
    top: 32px;
}

.popup_login_btn {
    width: 240px;
    height: 36px;
    color: white;
    position: absolute;
    top: 252px;
    background: #0bbeee;
    border-radius: 5px;
    font-size: 1.4rem;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}

.bottom_div {
    position: absolute;
    top: 290px;
}

.freesignup {
    color: #0bbeee;
    display: inline-block;
    float: left;
}

.forgotpassword {
    color: #cccccc;
    float: right;
    position: relative;
    right: 0px;
    left: 130px;
    display: inline-block;
}

.turnoverbefore {
    background: url('../images/head_goopal_logo.png') no-repeat 0 0;
    width: 7px;
    height: 12px;
    display: inline-block;
    position: relative;
    top: 1px;
    right: 1px;
}

.loc_img_topbar {
    display: block;
    padding-top: 0px;
    width: 33%;
    float: left;
    margin-left: 4%;
    padding-top: 0px;
}

input::-webkit-input-placeholder {
    color: #999 !important;
}

input:-moz-placeholder {
    color: #999 !important;
}

input::-moz-placeholder {
    color: #999 !important;
}

input:-ms-input-placeholder {
    color: #999 !important;
}

.bottom_down_down a{
    margin-right:0px;
}
.bottom_a{
    text-decoration:underline;
}
.bottomimg{
    position: relative;
    top: 3px;
    left: 0px;
    margin-right: 4px;
}