

<!-- footer 底部 -->
<div class="footer">
	<div class="footer-box">
		<a href="#" class="footer-a">关于我们</a>
		<span class="footer-s">|</span>
		<a href="#" class="footer-a">官方微博</a>
		<span class="footer-s">|</span>
		<a href="#" class="footer-a">官方微信</a>
		<span class="footer-s">|</span>
		<a href="#" class="footer-a">招贤纳士</a>
		<span class="footer-s">|</span>
		<a href="#" class="footer-a">联系我们</a>
		<i class="footer-i">果仁宝版权所有 2014-2015 ICP证:</i>
		<br>
		<a href="#" class="footer-a">数字果仁</a>
		<span class="footer-s">|</span>
		<a href="#" class="footer-a">果仁控股</a>
		<span class="footer-s">|</span>
		<a href="#" class="footer-a">神州数字</a>
		<span class="footer-s">|</span>
		<a href="#" class="footer-a">比特帮</a>
		<span class="footer-s">|</span>
		<a href="#" class="footer-a">谷壳宝</a>
		<span class="footer-s">|</span>
		<a href="#" class="footer-a">BTCtrade</a>
		<span class="footer-s">|</span>
		<a href="#" class="footer-a">游戏瓶</a>
	</div>
</div>
