.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.topnav {
    width: 100%;
    height: 80px;
    background-color: #f8fdff;
}

.topbanner {
    height: 440px;
    width: 100%;
    position: relative;
}

.navcontent {
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
    position: relative;
}

.navlogo {
    height: 100%;
    width: 156px;
    position: absolute;
}

.navlogo img {
    cursor: pointer;
    position: absolute;
    top: 17px;
}

.navlogo:after {
    content: '';
    border: 1px solid #141618;
    cursor: pointer;
    position: absolute;
    bottom: 22px;
    height: 38px;
    left: 184px;
}

.logo_register {
    width: auto;
    height: 22px;
    position: absolute;
    top: 28px;
    left: 204px;
    font-size: 2.0rem;
    line-height: 20px;
}

.bottom {
    width: 100%;
    background-color: #000000;
}

.bottom_down_down {
    height: 60px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.bottom_down_down p {
    color: #999999;
    position: relative;
    top: 45px;
    text-align: center;
    font-size: 1.2rem;
}

.right_login_register {
    float: right;
}

.right_login_register a {
    text-decoration: none;
    color: #949494;
}

.right_login_register a:nth-child(1) {
    margin-right: 10px;
}

.right_login_register a:nth-child(3) {
    margin-left: 12px;
}

.centercontent {
    background: url("../images/mine_paymentcode_input_bg.png") no-repeat 0 0;
    width: 100%;
    background-size:100% 100%;
    height: 588px;
}

.registercontent {
    height: 480px;
    max-width: 1200px;
    background-color: #ffffff;
    position: relative;
    top: 48px;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
}

.left_reg_side {
    flex: 0.316;
    background-color: #0bbeee;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.left_reg_side hr {
    border: 0;
    border-bottom: 1px solid #96def4;
    margin-top: 170px;
    width: 70%;
}

.right_reg_side {
    flex: 0.684;
    text-align: center;
    margin: 0 auto;
    font-size:1.2rem;
}
.right_reg_side p {
    margin-top: 20px;
    font-size: 1.2rem;
}
.right_reg_side b {
    margin-top: 10px;
    display: block;
    font-size: 1.2rem;
    color: #ff8042;
}
.reset_login_password_step_1,
.reset_login_password_step_2,
.reset_login_password_step_3 {
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 164px;
    margin: 0 auto;
    width: auto;
    left: 130px;
    padding: 0 20px;
    background-color: #0bbeee;
    z-index: 10;
    font-size: 1.4rem;
}

#confirmPwd{
    width:240px;
}

.reset_login_password_step_1 {}
.reset_login_password_step_2 {
    left: 140px;
}
.reset_login_password_step_3 {
    left: 142px;
}
.reset_login_password_tips{
    margin-top: 40px;
    color: #ffffff;
    z-index: 10;
    font-size: 1.2rem;
    text-align: center;
}
.right_reg_side_content {
    height: 460px;
    display: flex;
}
.rg_lf_label {
    flex: 0.36;
    position: relative;
}
.two_rg_lf_label {
    flex: 0.36;
    position: relative;
}
.rg_rg_input {
    flex: 0.64;
    position: relative;
}
.two_rg_rg_input{
    flex: 0.64;
    position: relative;
}

.label_username,
.label_idcard {
    width: 100px;
    height: 20px;
}
.label_idcard {
    width: 100px;
    height: 20px;
    float: right;
    top: 224px;
    position: relative;
}
.label_username {
    width: 100px;
    height: 20px;
    float: right;
    top: 170px;
    right: 0px;
    position: absolute;
}
.label_username label,
.label_idcard label {
    float: right;
    margin-right: 20px;
    display: inline-block;
    cursor:pointer;
}
.regist_input_username,.regist_input_idcard{
    height: 32px;
    width: 240px;
    border: 1px solid #0bbeee;
    padding-left: 14px;
    box-sizing: border-box;
}
.regist_input_u_div,.regist_input_i_div{
    position: absolute;
    height: 32px;
    box-sizing: border-box;
}
.regist_input_u_div{
    top: 160px;
}
.regist_input_i_div{
    top:215px;
}
.regist_input_u_div span,.regist_input_i_div span{
    display: block;
    height: 18px;
    line-height: 18px;
    text-align: left;
    color: #ff6600;
    margin-top: 2px;
}
.submitbtn{
    color: #ffffff;
    position: absolute;
    top: 280px;
    width: 240px;
    background-color: #0bbeee;
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    cursor:pointer;
}
.rg_rg_skip{
    text-decoration: none;
    color: #0bbeee;
    position: relative;
    top: 336px;
    display: block;
    width: 240px;
    height: 32px;
    line-height: 32px;
}

/*rg_lf_label  第二个表单*/
.rg_lf_label .label_div{
    height: 32px;
    line-height: 32px;
    margin-bottom: 26px;
    text-align: right;
    padding-right: 20px;
    color: #424242;
}
.rg_lf_label div:first-child {
    margin-top:126px;
}
.two_rg_lf_label .label_div{
    height: 32px;
    line-height: 32px;
    margin-bottom: 26px;
    text-align: right;
    padding-right: 20px;
    color: #424242;
}
.two_rg_lf_label div:first-child {
    margin-top:126px;
}

.rg_rg_input div:first-child {
    margin-top:126px;
}

.two_rg_rg_input div:first-child {
    margin-top:126px;
}

.regist_input_div{
    height:58px;
    position:relative;
}
.regist_input_div span{
    display: none;
    float: left;
    position: absolute;
    top: 32px;
    margin-top: 5px;
    color: #ff6600;
    left:0px;
}
.regist_rg_input{
        height: 32px;
    width: 240px;
    border: 1px solid #d6d6d6;
    padding-left: 14px;
    box-sizing: border-box;
    float:left;
}
.next_step_btn{
    height: 32px;
    line-height: 32px;
    background-color: #0bbeee;
    border-radius: 5px;
    width: 240px;
    position: absolute;
    top:260px;
    color: #ffffff;
    cursor:pointer;
}
.next_step_btn_one,.next_step_btn_two{
    height: 32px;
    line-height: 32px;
    background-color: #0bbeee;
    border-radius: 5px;
    width: 240px;
    position: absolute;
    top:260px;
    color: #ffffff;
    cursor:pointer;
}
.cancelbtn{
        left: 110px;
    position: absolute;
    top: 310px;
    text-decoration: none;
    color: #6bcff2;
    text-align: center;
}

.correct{
    width: 100%;
    display: flex;
}
.correct_left{
    flex:0.46;
}
.correct_left img{
    position: absolute;
    top: 190px;
}
.correct_right{
    flex: 0.54;
}

.correct_right_top div:nth-child(1){
    font-size: 2.4rem;
    color: #0bbeee;
    position: absolute;
    top: 186px;
}

.correct_right_top div:nth-child(2){
    color: #a8a8a8;
    position: absolute;
    top: 222px;
}

.correct_right a{
        display: block;
    width: 106px;
    height: 28px;
    background-color: #0bbeee;
    text-decoration: none;
    line-height: 28px;
    color: #ffffff;
    border-radius: 5px;
    top: 260px;
    position: absolute;
}

/* .edit_yanzhengma input{
    width:240px;
} */

.edit_yanzhengma input{
    width:20%;
}

.edit_yanzhengma div{
    height: 32px;
    width: 100px;
    line-height: 31px;
    float: left;
    margin-left: 34px;
    border: 1px solid #d6d6d6;
        cursor: pointer;
            background-color: #f5f5f5;
}

