@charset 'utf-8';


// 张树垚 2015-12-16 15:17:20 创建
// H5微信端 views-login


.password {

	$img: $g-views + '/password-forget/images';
	$border: 1px solid $g-line;

	@extend .view-style;

	&-main {
		margin-top: $g-margin-top;
		border-top: $border;
		border-bottom: $border;
		background-color: $g-white;
	}
	&-item {
		display: flex;
		position: relative;
		margin-left: $g-margin;
		padding-right: $g-margin;
		border-bottom: $border;
		&:last-child {
			border-bottom: none;
		}
	}
	&-left {
		flex: 1;
	}
	&-right {
		width: 100px;
		margin-left: $g-margin;
		margin-right: - $g-margin;
		line-height: $g-input-height;
		border-left: $border;
		text-align: center;
	}
	&-button {
		margin: $g-margin-top-button $g-margin 0;
	}
	&-success {
		&-box {
			text-align: center;
			margin: 60px $g-margin;
		}
		&-title {
			color: $g-blue;
			font-size: $g-font-big;
			text-indent: .5em;
		}
		&-tip {
			margin-top: 10px;
			color: $g-gray;
		}
		&-button {
			margin-top: 60px;
		}
	}
}



