<div class="password-set password" ms-controller="password-set">
	<div class="password-main">
		<div class="password-item">
			<label class="text" for="password-set-mobile">
				<div class="text-label">新密码</div>
				<div class="text-box"><input id="password-set-mobile" class="text-input" autocomplete="off" placeholder="数字、字母或符号组合" type="password" maxlength="20" data-text="close|eye|safe" ms-on-input="input" ms-duplex="newPass"></div>
				<div class="text-close"></div>
				<div class="text-eye"></div>
				 <div class="text-safe">
					<div class="text-safe-item"></div>
					<div class="text-safe-item"></div>
					<div class="text-safe-item"></div>
				</div>
				<div class="text-tip-bottom">密码必须是6-20位，数字、字母或符号组合</div>
			</label>
	   </div>
	</div>
	<div class="password-button" ms-click="next"><span class="button" ms-class="disabled:!ifNext">下一步</span></div>
</div>