@charset 'utf-8';


// 张树垚 2016-01-12 15:06:10 创建
// H5微信端 --- 修改用户密码


@import '../../../source/scss/main';

@import '../../views/view';
@import '../../views/password/password';

@import '../../dialogs/dialog';


.password {
	$img: $g-pages + '/password/images';
	&-bottom {
		@include ablw(15px);
		text-align: center;
		color: $g-blue;
	}
}

