.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


/*---滚动条默认显示样式--*/

::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    height: 50px;
    outline-offset: -2px;
    outline: 2px solid #fff;
    -webkit-border-radius: 4px;
    border: 2px solid #fff;
}


/*---鼠标点击滚动条显示样式--*/

::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
    height: 50px;
    -webkit-border-radius: 4px;
}


/*---滚动条大小--*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


/*---滚动框背景样式--*/

::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "微软雅黑";
    background-color: #ffffff;
}

.report_forms {
    background-color: #ffffff;
    display: flex;
}

.containerwraper {
    margin-left: 20px;
    width: 73%;
    border-right: 1px dotted #cccccc;
}

.containerinnerwrapper {
    max-width: 100%;
}

.myassets {
    width: 27%;
    height: 100px;
    background-color: #ffffff;
    padding: 0 20px;
}

.myassetstop {
    height: 83px;
    border-bottom: 1px solid #e9e9e9;
}

.navcontent {
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
    position: relative;
}

.navlogo {
    height: 100%;
    width: 156px;
    position: absolute;
}

.navlogo img {
    cursor: pointer;
    position: absolute;
    top: 17px;
}

.feature {
    width: 116px;
    color: #777777;
    font-size: 1.6rem;
    cursor: pointer;
    text-decoration: none;
}

.index_on {
    color: #0bbeee;
}

.quoted_price_top,
.report_forms {
    max-width: 1200px;
    margin: 0 auto;
}

.quoted_price_top_wrapper {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #ffffff;
    margin: 0 20px;
    border-bottom: 1px solid #e6e6e6;
}

.quoted_price_top {
    display: flex;
    height: 70px;
    margin-top: 14px;
    background-color: #ffffff;
}

.center_content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 14px;
}

.topbanner {
    background: url('../images/footer_banner_footer.png') no-repeat center center;
    height: 258px;
    background-size: 100% 100%;
    position: relative;
}
.topbanner span{
    position: absolute;
    left:440px;
    top:70px;
    font-size: 2.0rem;
    color:#fff;
}
.topbanner p{
    position: absolute;
    left:160px;
    top:125px;
    font-size: 1rem;
    color:#fff;
    width:960px;
    line-height: 25px;
}
.topbanner p span{
    font-size: 2rem;
}

.center_indicator {
    width: 100%;
    height: 64px;
    background-color: #ffffff;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
}

.tab {
    float: left;
    margin-right: 42px;
    line-height: 62px;
    position: relative;
    top: 0px;
    font-size: 1.2rem;
    cursor: pointer;
}

.tabcon {
    width: 100%;
}

.tab_on {
    border-bottom: 2px solid #333333;
}

.tab_one_h3 {
    margin-top: 68px;
    font-size: 1.8rem;
    text-align: center;
}

.indicator_wrapper {
    width: 400px;
    margin: 0 auto;
    height: 64px;
}

.tab_one_p1 {
    margin-top: 128px;
    text-align: center;
}

.one1 {
    text-align: center;
    height: 188px;
}

.one1 h3 {
    font-size: 2.0rem;
    position: relative;
    top: 68px;
}

.one1 p {
    position: relative;
    top: 128px;
    font-size: 1.2rem;
}

.one2 {
    text-align: center;
    height: 188px;
}

.one2 h3 {
    font-size: 2.0rem;
    top: 26px;
    position: relative;
}

.one2 p {
    position: relative;
    top: 68px;
    font-size:1.2rem;
}

.one3 {
    text-align: center;
    height: 686px;
}
.one3 h3{
    font-size: 2.0rem;
    top: 26px;
    position: relative;
}
.one3 img{
    position:relative;
    top:50px;
}
.p_1_two, .p_1_two{
    width:950px;
    margin-bottom: 50px;
}
.p_1_two1 h3{
    font-size: 2.0rem;
    margin-bottom:35px;
    height: 50px;
    line-height: 50px;
    margin-top: 40px;
}
.p_1_two1 li{
    float: left;
    text-align: left;
    width:400px;
    margin-bottom:35px;
    height: 50px;
    line-height: 25px;
    padding-left:150px;
}
.p_1_two1 li:nth-child(1){
    background:url(../images/footer_1-1.png) no-repeat 100px center;
}
.p_1_two1 li:nth-child(2){
    background:url(../images/footer_1-2.png) no-repeat 100px center;
}
.p_1_two1 li:nth-child(3){
    margin-right: 0px;
    background:url(../images/footer_1-3.png) no-repeat 100px center;
}
.two_left, .two_left1{
    float: left;
    width:180px;
    background:#fafafa;
}
.two_left li{
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
.two_left1 li{
    display: block;
    text-align: left;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    padding-left:40px;
}
.two-right, .two-right1{
    margin-left:230px;
    height: auto;
}
.two-right h3 , .two-right1 h3{
    font-size: 1.6rem;
    margin-bottom:25px;
    text-align: left;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dashed #ccc;
}
.two-right p, .two-right1 p{
    font-size: 1.2rem;
    text-align: left;
    line-height: 40px;
}
.p_strong{
    font-weight: bold;
}

.p_1{
    width:1000px;
    height:180px;
    border-bottom: 1px solid #e6e6e6;
    text-align:left;
    margin-top:50px;
    padding-left:150px;
}
.p_1 h3 {
    font-size: 2.0rem;
    margin-bottom:25px;
}
.p_1 p {
    font-size: 1.2rem;
    line-height: 20px;
    height:20px;
    color:#666666;
}
.p_1_1{
    background: url(../images/footer_3-1.png) no-repeat 70px top;
}
.p_1_2{
    background: url(../images/footer_3-2.png) no-repeat 70px top;
}
.p_1_3{
    background: url(../images/footer_3-3.png) no-repeat 70px top;
}
.p_1_4{
    background: url(../images/footer_3-4.png) no-repeat 70px top;
}
/*表格样式*/
.aside-table td{
    font-size: 12px; 
    padding: 15px;
    vertical-align: middle; 
}
.aside-table-thead td {
    background: #FAFAFA;
    border:1px solid #eee;
}
.aside-table-tbody td {
    width:20%;
    border:1px solid #eee;
}
.aside-table-tbody tr:nth-child(even) {
    background: #fbfcff;
}
.aside-table-tbody tr:hover {
    background: #FAFAFA; 
}

.li_tab_active{
    background: #eee;
}
.guoCompany{
    text-align: left;
    line-height: 30px;
    margin-bottom: 30px;
}
.imgP{
    margin:30px 0;
}

.bottom {
    width: 100%;
    background-color: #000000;
}

.bottom_down_down {
    height: 60px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.bottom_down_down p {
    color: #999999;
    position: relative;
    top: 45px;
    text-align: center;
    font-size: 1.2rem;
}
.li_tab1{
    text-align: left;
}