<div class="nickname cover" ms-controller="nickname">
    <div class="nickname-text">
    	<label class="text" for="nickname-input">
			<div class="text-label">@@label</div>
			<div class="text-box"><input id="nickname-input" class="text-input" autocomplete="off" placeholder="@@placeholder" type="text" maxlength="16" data-text="close" ms-duplex="nickname"></div>
			<div class="text-close"></div>
		</label>
	</div>
	<div class="nickname-button"><span class="button" ms-click="nicknameClick">完成</span></div>
</div>