.transition, .PageCode a {
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -o-transition: 0.4s all; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?ei70u9");
  src: url("fonts/icomoon.eot?ei70u9#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?ei70u9") format("truetype"), url("fonts/icomoon.woff?ei70u9") format("woff"), url("fonts/icomoon.svg?ei70u9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cny:before {
  content: "\e902"; }

.icon-bitcoin:before {
  content: "\e901"; }

.icon-undo:before {
  content: "\e909"; }

.icon-user-tie:before {
  content: "\e90b"; }

.icon-search:before {
  content: "\e903"; }

.icon-enlarge:before {
  content: "\e905"; }

.icon-lock:before {
  content: "\e907"; }

.icon-unlocked:before {
  content: "\e908"; }

.icon-warning:before {
  content: "\e900"; }

.icon-cross:before {
  content: "\e904"; }

.icon-checkmark:before {
  content: "\e90a"; }

.icon-exit:before {
  content: "\e906"; }

.aside {
  padding-bottom: 2000px;
  margin-bottom: -2000px; }
  .aside h1 {
    font-size: 18px;
    margin-top: 25px; }
  .aside-div {
    background: #eee;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    padding-left: 10px; }
    .aside-div-spanRight {
      float: right;
      width: 65px;
      background-color: #0362FD;
      padding-left: 30px;
      color: #fff;
      cursor: pointer;
      position: relative; }
      .aside-div-spanRight-div {
        text-align: center;
        display: none;
        width: 100px;
        position: absolute;
        top: 41px;
        right: 0Px;
        color: #000;
        border: 1px solid #ccc;
        padding: 15px;
        background-color: #ffffff; }
        .aside-div-spanRight-div li:hover {
          background: #eee; }
      .aside-div-spanRight-span {
        position: absolute;
        top: 9px;
        right: 25Px;
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg); }
  .aside-table {
    margin-top: 8px;
    border-color: #ccc;
    border: 1px solid #ccc; }
    .aside-table-thead {
      background-color: #eee; }
      .aside-table-thead td {
        padding: 10px; }
      .aside-table-thead-select {
        margin-top: -3px;
        border: none;
        background-color: #eee;
        outline: none;
        padding: 0; }
    .aside-table-tbody tr:hover {
      background: #F3F3F3; }
    .aside-table-tbody td {
      padding: 10px; }

.aside {
  height: auto; }
  .aside h1 {
    font-size: 18px;
    margin-top: 25px; }
  .aside-div {
    background: #eee;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    padding-left: 10px; }
    .aside-div-spanLeft {
      width: 300px; }
  .aside-tabList {
    height: 42px;
    margin-top: 8px;
    border-bottom: 1px solid #ccc; }
    .aside-tabList-li {
      width: 100px;
      height: 40px;
      line-height: 40px;
      float: left;
      text-align: center; }
      .aside-tabList-li-active {
        border-top: 2px red solid;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        margin-top: -2px;
        height: 42px; }
    .aside-tabList-div {
      display: block; }
  .aside-tabContent {
    margin-top: 17px;
    height: auto; }
    .aside-tabContent-span {
      display: block; }
      .aside-tabContent-span-li {
        padding: 10px; }
        .aside-tabContent-span-li span {
          margin-right: 15px; }
      .aside-tabContent-span label {
        font-size: 18px;
        margin-right: 10px; }
  .aside-table {
    margin-top: 8px;
    border-color: #ccc;
    border: #ccc;
    border: 1px solid #ccc; }
    .aside-table-thead {
      background-color: #eee; }
      .aside-table-thead td {
        padding: 10px;
        border-color: #ccc; }
      .aside-table-thead-select {
        margin-top: -3px;
        border: none;
        background-color: #eee;
        outline: none;
        padding: 0; }
    .aside-table-tbody tr:hover {
      background: #F3F3F3; }
    .aside-table-tbody td {
      padding: 10px;
      border-color: #ccc; }
  .aside-span {
    float: right;
    width: 100%;
    height: 30px;
    text-align: center; }
    .aside-span-ul {
      margin-top: 10px;
      margin-left: 45%; }
      .aside-span-ul li {
        float: left;
        padding: 5px 10px;
        width: 40px;
        border: 1px solid #eee;
        text-align: center;
        display: block;
        cursor: pointer; }
        .aside-span-ul li:hover {
          background: #eee; }

.select {
  width: 75px;
  height: 35px;
  padding-left: -30px;
  position: relative; }

.set {
  width: 80px;
  margin-left: -30px;
  line-height: 35px;
  text-align: center; }

.set-icon {
  width: 30px;
  position: absolute;
  left: 75px;
  top: 0px; }

.new {
  width: 103px;
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  display: none;
  text-align: center;
  left: 0px; }

.select ul li {
  width: 103px;
  line-height: 30px;
  color: #000; }

.select ul li:hover {
  background: #CCC;
  color: #FFF; }

.PageCode {
  padding: 15px 20px;
  color: #ccc;
  text-align: center; }

.PageCode a {
  display: inline-block;
  color: #428bca;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  border: 1px solid #ddd;
  margin: 0 2px;
  border-radius: 4px;
  vertical-align: middle; }

.PageCode a:hover {
  text-decoration: none;
  border: 1px solid #428bca;
  background-color: #428bca;
  color: #fff; }

.btnConfirm {
  padding: 2px 6px;
  cursor: pointer; }

.tda {
  text-align: center;
  cursor: pointer;
  width: 130px; }

.tda-1 {
  cursor: pointer;
  width: 140px; }

/*# sourceMappingURL=user-info.css.map */
