@charset 'utf-8';


// 张树垚 2015-12-17 15:24:25 创建
// H5微信端 -- 提示框样式


.alert {
	$line-height: 18px;
	@include fixed(40%, 50%);
	line-height: $line-height;
	z-index: $g-index-alert;
	font-size: $g-font-alert;
	background-color: $g-alert;
	border-radius: $g-radius-alert;
	color: $g-white;
	padding: ($g-height-alert - $line-height) / 2 $g-margin;
	@include t3d(-50%, 15%, 0);
	opacity: 0;
	word-break: break-all;
	max-width: 60%;
	// min-width: 40%;
	display: none;
	&.show {
		transition: .25s linear;
		@include t3d(-50%, 0, 0);
		opacity: 1;
	}
	&.hide {
		transition: .25s linear;
		@include t3d(-50%, -15%, 0);
		opacity: 0;
	}
}
