@charset "utf-8";



@import "../../../main";


// 页面设置
	$global_bgc: #fff;
	html,body {
		height: 100%;
		-webkit-tap-highlight-color: transparent;
	}
	body {
		margin: 0;
		font-family: Arial,Verdana;
		background-color: $global_bgc;
	}
// 页面设置 End



// 试用函数
	$set-origin: 640 !default;
	@function set($num: 0, $origin: $set-origin) { // 由比值获取百分比,处理PSD文件
		@return round($num / $origin * 100) * 1%;
	}
	@mixin center($top: 50%) { // 竖直方向焦点位置
		@include absolute($top, "lw");
		@include y(- $top);
	}
	%center { @include center; } // 默认竖直居中
	@function floor-percent($num: 0) { // 将小数转成百分比并去尾
		@return floor(percentage($num));
	}
// 试用函数 End



// 公共样式
	.img {
		@at-root {
			%img {
				position: relative;
				display: block;
			}
			&-w, &_w {
				@extend %img;
				width: 100%;
			}
			&-h, &_h {
				@extend %img;
				height: 100%;
			}
		}
	}
// 公共样式 End



.screen {
	@extend %afull;
	// opacity: 0;
	overflow: hidden;
	@include mediaMinWidth(1000px) {
		position: relative;
		width: 480px;
		margin: 0 auto;
		height: 100%;
	}
}



// 将一个角度映射到[0, 360)区间中
@function getDeg($deg, $limit: 99) {
	$unit: getUnit($deg);
	$deg: removeUnit($deg);
	@if $deg < 0 {
		@for $i from 1 through $limit {
			$now: $deg + 360 * $i;
			@if $now >= 0 {
				@return #{$now + $unit};
			}
		}
	} @else {
		@for $i from 0 through $limit {
			$now: $deg - 360 * $i;
			@if $now < 360 {
				@return #{$now + $unit};
			}
		}
	}
	@return "It`s not a number or so big!";
}

// [0, 360)区间整数的sin值
@function sin($deg) {
	$deg: getDeg(round($deg)); // 去小数,映射
	$_SIN: ("0":0,"1":0.0175,"2":0.0349,"3":0.0523,"4":0.0698,"5":0.0872,"6":0.1045,"7":0.1219,"8":0.1392,"9":0.1564,"10":0.1736,"11":0.1908,"12":0.2079,"13":0.225,"14":0.2419,"15":0.2588,"16":0.2756,"17":0.2924,"18":0.309,"19":0.3256,"20":0.342,"21":0.3584,"22":0.3746,"23":0.3907,"24":0.4067,"25":0.4226,"26":0.4384,"27":0.454,"28":0.4695,"29":0.4848,"30":0.5,"31":0.515,"32":0.5299,"33":0.5446,"34":0.5592,"35":0.5736,"36":0.5878,"37":0.6018,"38":0.6157,"39":0.6293,"40":0.6428,"41":0.6561,"42":0.6691,"43":0.682,"44":0.6947,"45":0.7071,"46":0.7193,"47":0.7314,"48":0.7431,"49":0.7547,"50":0.766,"51":0.7771,"52":0.788,"53":0.7986,"54":0.809,"55":0.8192,"56":0.829,"57":0.8387,"58":0.848,"59":0.8572,"60":0.866,"61":0.8746,"62":0.8829,"63":0.891,"64":0.8988,"65":0.9063,"66":0.9135,"67":0.9205,"68":0.9272,"69":0.9336,"70":0.9397,"71":0.9455,"72":0.9511,"73":0.9563,"74":0.9613,"75":0.9659,"76":0.9703,"77":0.9744,"78":0.9781,"79":0.9816,"80":0.9848,"81":0.9877,"82":0.9903,"83":0.9925,"84":0.9945,"85":0.9962,"86":0.9976,"87":0.9986,"88":0.9994,"89":0.9998,"90":1,"91":0.9998,"92":0.9994,"93":0.9986,"94":0.9976,"95":0.9962,"96":0.9945,"97":0.9925,"98":0.9903,"99":0.9877,"100":0.9848,"101":0.9816,"102":0.9781,"103":0.9744,"104":0.9703,"105":0.9659,"106":0.9613,"107":0.9563,"108":0.9511,"109":0.9455,"110":0.9397,"111":0.9336,"112":0.9272,"113":0.9205,"114":0.9135,"115":0.9063,"116":0.8988,"117":0.891,"118":0.8829,"119":0.8746,"120":0.866,"121":0.8572,"122":0.848,"123":0.8387,"124":0.829,"125":0.8192,"126":0.809,"127":0.7986,"128":0.788,"129":0.7771,"130":0.766,"131":0.7547,"132":0.7431,"133":0.7314,"134":0.7193,"135":0.7071,"136":0.6947,"137":0.682,"138":0.6691,"139":0.6561,"140":0.6428,"141":0.6293,"142":0.6157,"143":0.6018,"144":0.5878,"145":0.5736,"146":0.5592,"147":0.5446,"148":0.5299,"149":0.515,"150":0.5,"151":0.4848,"152":0.4695,"153":0.454,"154":0.4384,"155":0.4226,"156":0.4067,"157":0.3907,"158":0.3746,"159":0.3584,"160":0.342,"161":0.3256,"162":0.309,"163":0.2924,"164":0.2756,"165":0.2588,"166":0.2419,"167":0.225,"168":0.2079,"169":0.1908,"170":0.1736,"171":0.1564,"172":0.1392,"173":0.1219,"174":0.1045,"175":0.0872,"176":0.0698,"177":0.0523,"178":0.0349,"179":0.0175,"180":0,"181":-0.0175,"182":-0.0349,"183":-0.0523,"184":-0.0698,"185":-0.0872,"186":-0.1045,"187":-0.1219,"188":-0.1392,"189":-0.1564,"190":-0.1736,"191":-0.1908,"192":-0.2079,"193":-0.225,"194":-0.2419,"195":-0.2588,"196":-0.2756,"197":-0.2924,"198":-0.309,"199":-0.3256,"200":-0.342,"201":-0.3584,"202":-0.3746,"203":-0.3907,"204":-0.4067,"205":-0.4226,"206":-0.4384,"207":-0.454,"208":-0.4695,"209":-0.4848,"210":-0.5,"211":-0.515,"212":-0.5299,"213":-0.5446,"214":-0.5592,"215":-0.5736,"216":-0.5878,"217":-0.6018,"218":-0.6157,"219":-0.6293,"220":-0.6428,"221":-0.6561,"222":-0.6691,"223":-0.682,"224":-0.6947,"225":-0.7071,"226":-0.7193,"227":-0.7314,"228":-0.7431,"229":-0.7547,"230":-0.766,"231":-0.7771,"232":-0.788,"233":-0.7986,"234":-0.809,"235":-0.8192,"236":-0.829,"237":-0.8387,"238":-0.848,"239":-0.8572,"240":-0.866,"241":-0.8746,"242":-0.8829,"243":-0.891,"244":-0.8988,"245":-0.9063,"246":-0.9135,"247":-0.9205,"248":-0.9272,"249":-0.9336,"250":-0.9397,"251":-0.9455,"252":-0.9511,"253":-0.9563,"254":-0.9613,"255":-0.9659,"256":-0.9703,"257":-0.9744,"258":-0.9781,"259":-0.9816,"260":-0.9848,"261":-0.9877,"262":-0.9903,"263":-0.9925,"264":-0.9945,"265":-0.9962,"266":-0.9976,"267":-0.9986,"268":-0.9994,"269":-0.9998,"270":-1,"271":-0.9998,"272":-0.9994,"273":-0.9986,"274":-0.9976,"275":-0.9962,"276":-0.9945,"277":-0.9925,"278":-0.9903,"279":-0.9877,"280":-0.9848,"281":-0.9816,"282":-0.9781,"283":-0.9744,"284":-0.9703,"285":-0.9659,"286":-0.9613,"287":-0.9563,"288":-0.9511,"289":-0.9455,"290":-0.9397,"291":-0.9336,"292":-0.9272,"293":-0.9205,"294":-0.9135,"295":-0.9063,"296":-0.8988,"297":-0.891,"298":-0.8829,"299":-0.8746,"300":-0.866,"301":-0.8572,"302":-0.848,"303":-0.8387,"304":-0.829,"305":-0.8192,"306":-0.809,"307":-0.7986,"308":-0.788,"309":-0.7771,"310":-0.766,"311":-0.7547,"312":-0.7431,"313":-0.7314,"314":-0.7193,"315":-0.7071,"316":-0.6947,"317":-0.682,"318":-0.6691,"319":-0.6561,"320":-0.6428,"321":-0.6293,"322":-0.6157,"323":-0.6018,"324":-0.5878,"325":-0.5736,"326":-0.5592,"327":-0.5446,"328":-0.5299,"329":-0.515,"330":-0.5,"331":-0.4848,"332":-0.4695,"333":-0.454,"334":-0.4384,"335":-0.4226,"336":-0.4067,"337":-0.3907,"338":-0.3746,"339":-0.3584,"340":-0.342,"341":-0.3256,"342":-0.309,"343":-0.2924,"344":-0.2756,"345":-0.2588,"346":-0.2419,"347":-0.225,"348":-0.2079,"349":-0.1908,"350":-0.1736,"351":-0.1564,"352":-0.1392,"353":-0.1219,"354":-0.1045,"355":-0.0872,"356":-0.0698,"357":-0.0523,"358":-0.0349,"359":-0.0175);
	@return map-get($_SIN, $deg);
}

// [0, 360)区间整数的cos值
@function cos($deg) {
	$deg: getDeg(round($deg)); // 去小数,映射
	$_COS: ("0":1,"1":0.9998,"2":0.9994,"3":0.9986,"4":0.9976,"5":0.9962,"6":0.9945,"7":0.9925,"8":0.9903,"9":0.9877,"10":0.9848,"11":0.9816,"12":0.9781,"13":0.9744,"14":0.9703,"15":0.9659,"16":0.9613,"17":0.9563,"18":0.9511,"19":0.9455,"20":0.9397,"21":0.9336,"22":0.9272,"23":0.9205,"24":0.9135,"25":0.9063,"26":0.8988,"27":0.891,"28":0.8829,"29":0.8746,"30":0.866,"31":0.8572,"32":0.848,"33":0.8387,"34":0.829,"35":0.8192,"36":0.809,"37":0.7986,"38":0.788,"39":0.7771,"40":0.766,"41":0.7547,"42":0.7431,"43":0.7314,"44":0.7193,"45":0.7071,"46":0.6947,"47":0.682,"48":0.6691,"49":0.6561,"50":0.6428,"51":0.6293,"52":0.6157,"53":0.6018,"54":0.5878,"55":0.5736,"56":0.5592,"57":0.5446,"58":0.5299,"59":0.515,"60":0.5,"61":0.4848,"62":0.4695,"63":0.454,"64":0.4384,"65":0.4226,"66":0.4067,"67":0.3907,"68":0.3746,"69":0.3584,"70":0.342,"71":0.3256,"72":0.309,"73":0.2924,"74":0.2756,"75":0.2588,"76":0.2419,"77":0.225,"78":0.2079,"79":0.1908,"80":0.1736,"81":0.1564,"82":0.1392,"83":0.1219,"84":0.1045,"85":0.0872,"86":0.0698,"87":0.0523,"88":0.0349,"89":0.0175,"90":0,"91":-0.0175,"92":-0.0349,"93":-0.0523,"94":-0.0698,"95":-0.0872,"96":-0.1045,"97":-0.1219,"98":-0.1392,"99":-0.1564,"100":-0.1736,"101":-0.1908,"102":-0.2079,"103":-0.225,"104":-0.2419,"105":-0.2588,"106":-0.2756,"107":-0.2924,"108":-0.309,"109":-0.3256,"110":-0.342,"111":-0.3584,"112":-0.3746,"113":-0.3907,"114":-0.4067,"115":-0.4226,"116":-0.4384,"117":-0.454,"118":-0.4695,"119":-0.4848,"120":-0.5,"121":-0.515,"122":-0.5299,"123":-0.5446,"124":-0.5592,"125":-0.5736,"126":-0.5878,"127":-0.6018,"128":-0.6157,"129":-0.6293,"130":-0.6428,"131":-0.6561,"132":-0.6691,"133":-0.682,"134":-0.6947,"135":-0.7071,"136":-0.7193,"137":-0.7314,"138":-0.7431,"139":-0.7547,"140":-0.766,"141":-0.7771,"142":-0.788,"143":-0.7986,"144":-0.809,"145":-0.8192,"146":-0.829,"147":-0.8387,"148":-0.848,"149":-0.8572,"150":-0.866,"151":-0.8746,"152":-0.8829,"153":-0.891,"154":-0.8988,"155":-0.9063,"156":-0.9135,"157":-0.9205,"158":-0.9272,"159":-0.9336,"160":-0.9397,"161":-0.9455,"162":-0.9511,"163":-0.9563,"164":-0.9613,"165":-0.9659,"166":-0.9703,"167":-0.9744,"168":-0.9781,"169":-0.9816,"170":-0.9848,"171":-0.9877,"172":-0.9903,"173":-0.9925,"174":-0.9945,"175":-0.9962,"176":-0.9976,"177":-0.9986,"178":-0.9994,"179":-0.9998,"180":-1,"181":-0.9998,"182":-0.9994,"183":-0.9986,"184":-0.9976,"185":-0.9962,"186":-0.9945,"187":-0.9925,"188":-0.9903,"189":-0.9877,"190":-0.9848,"191":-0.9816,"192":-0.9781,"193":-0.9744,"194":-0.9703,"195":-0.9659,"196":-0.9613,"197":-0.9563,"198":-0.9511,"199":-0.9455,"200":-0.9397,"201":-0.9336,"202":-0.9272,"203":-0.9205,"204":-0.9135,"205":-0.9063,"206":-0.8988,"207":-0.891,"208":-0.8829,"209":-0.8746,"210":-0.866,"211":-0.8572,"212":-0.848,"213":-0.8387,"214":-0.829,"215":-0.8192,"216":-0.809,"217":-0.7986,"218":-0.788,"219":-0.7771,"220":-0.766,"221":-0.7547,"222":-0.7431,"223":-0.7314,"224":-0.7193,"225":-0.7071,"226":-0.6947,"227":-0.682,"228":-0.6691,"229":-0.6561,"230":-0.6428,"231":-0.6293,"232":-0.6157,"233":-0.6018,"234":-0.5878,"235":-0.5736,"236":-0.5592,"237":-0.5446,"238":-0.5299,"239":-0.515,"240":-0.5,"241":-0.4848,"242":-0.4695,"243":-0.454,"244":-0.4384,"245":-0.4226,"246":-0.4067,"247":-0.3907,"248":-0.3746,"249":-0.3584,"250":-0.342,"251":-0.3256,"252":-0.309,"253":-0.2924,"254":-0.2756,"255":-0.2588,"256":-0.2419,"257":-0.225,"258":-0.2079,"259":-0.1908,"260":-0.1736,"261":-0.1564,"262":-0.1392,"263":-0.1219,"264":-0.1045,"265":-0.0872,"266":-0.0698,"267":-0.0523,"268":-0.0349,"269":-0.0175,"270":0,"271":0.0175,"272":0.0349,"273":0.0523,"274":0.0698,"275":0.0872,"276":0.1045,"277":0.1219,"278":0.1392,"279":0.1564,"280":0.1736,"281":0.1908,"282":0.2079,"283":0.225,"284":0.2419,"285":0.2588,"286":0.2756,"287":0.2924,"288":0.309,"289":0.3256,"290":0.342,"291":0.3584,"292":0.3746,"293":0.3907,"294":0.4067,"295":0.4226,"296":0.4384,"297":0.454,"298":0.4695,"299":0.4848,"300":0.5,"301":0.515,"302":0.5299,"303":0.5446,"304":0.5592,"305":0.5736,"306":0.5878,"307":0.6018,"308":0.6157,"309":0.6293,"310":0.6428,"311":0.6561,"312":0.6691,"313":0.682,"314":0.6947,"315":0.7071,"316":0.7193,"317":0.7314,"318":0.7431,"319":0.7547,"320":0.766,"321":0.7771,"322":0.788,"323":0.7986,"324":0.809,"325":0.8192,"326":0.829,"327":0.8387,"328":0.848,"329":0.8572,"330":0.866,"331":0.8746,"332":0.8829,"333":0.891,"334":0.8988,"335":0.9063,"336":0.9135,"337":0.9205,"338":0.9272,"339":0.9336,"340":0.9397,"341":0.9455,"342":0.9511,"343":0.9563,"344":0.9613,"345":0.9659,"346":0.9703,"347":0.9744,"348":0.9781,"349":0.9816,"350":0.9848,"351":0.9877,"352":0.9903,"353":0.9925,"354":0.9945,"355":0.9962,"356":0.9976,"357":0.9986,"358":0.9994,"359":0.9998);
	@return map-get($_COS, $deg);
}

// 画圆(转圈布局)
@mixin circle-round-item(
	$r,					// 半径
	$item_width,		// 子级宽
	$item_height,		// 子级高
	$item_index,		// 当前子级index -- 1,2,3...
	$item_length,		// 子级个数
	$item_start: 0,		// 初始位置偏移 -- 第一个元素默认在最上方,默认为0
	$box_width: 100%,	// 父级宽,默认100%
	$box_height: 100%	// 父级高,默认100%
) {
	$deg: round(($item_index - 1) / $item_length * 360 + $item_start - 90); // 第一个出现位置在9点钟,-90让他到12点钟
	top: $box_height / 2 + $r * sin($deg) - $item_height / 2;
	left: $box_width / 2 - $r * cos($deg) - $item_width / 2;
	width: $item_width;
	height: $item_height;
}


.page {
	@include square(100vw);
	@extend %center;
	box-sizing: border-box;
	border: 1px dotted #888;
	&:before {
		content: "约";
		position: absolute;
		z-index: 10;
		@include pos-c(25%, 25%);
		line-height: 25vw;
		font-size: 10vw;
		text-align: center;
		font-weight: bold;
		border-radius: 50%;
		background-color: #feabb8;
		border: 1px dotted #363636;
	}
	&_box {
		@extend %afull;
		background-color: #92ddfa;
		@include aniframe2(10s linear infinite) {
			0% { @include rotate; }
			100% { @include rotate(360deg); }
		}
	}
	&_item {
		@at-root {
			%item {
				background-color: rgba(#666, 0);
				position: absolute;
				@include aniframe2(10s linear infinite) {
					0% { @include rotate; }
					100% { @include rotate(-360deg); }
				}
				@include box-c-y;
			}
		}
		$length: 3;
		@for $i from 1 through $length {
			&#{$i} {
				@extend %item;
				@include circle-round-item(35%, 40%, 40%, $i, $length);
			}
		}
	}
	&_img { width: 60%; }
	&_word {
		text-align: center;
		font-size: 14px;
		line-height: 1.5em;
		margin-top: 4px;
		color: #444;
		white-space: nowrap;
	}
}







