<div class="nav" @@if(typeof keyboard !== 'undefined'){data-keyboard="@@keyboard"}>
	<div class="nav-item@@if(name==='home'){ on}">
		<a href="@@if(name==='home'){javascript:;}@@if(name!=='home'){home.html}" class="nav-link">
			<div class="nav-icon"><i class="nav-home"></i></div>
			<div class="nav-name">首页</div>
		</a>
	</div>
	<div class="nav-item@@if(name==='wealth'){ on}">
		<a href="@@if(name==='wealth'){javascript:;}@@if(name!=='wealth'){wealth.html}" class="nav-link">
			<div class="nav-icon"><i class="nav-wealth"></i></div>
			<div class="nav-name">财富</div>
		</a>
	</div>
	<div class="nav-item@@if(name==='contacts'){ on}">
		<a href="@@if(name==='contacts'){javascript:;}@@if(name!=='contacts'){contacts.html}" class="nav-link">
			<div class="nav-icon"><i class="nav-contacts"></i></div>
			<div class="nav-name">联系人</div>
		</a>
	</div>
	<div class="nav-item@@if(name==='mine'){ on}">
		<a href="@@if(name==='mine'){javascript:;}@@if(name!=='mine'){mine.html}" class="nav-link">
			<div class="nav-icon"><i class="nav-mine"></i></div>
			<div class="nav-name">我的</div>
		</a>
	</div>
</div>