body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	color: #4e4e4e;
	line-height: 22px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	color: #575757;
}
h1 {
	font-size: 46px;
	font-weight: 600;
	color: #EEEEEE;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 14px;
	color: #777;
	font-weight: 400;
	line-height: 26px;
}
h4 {
	font-size: 16px;
}
a {
	color: #f39c12;
	-webkit-transition: color 300ms, background-color 300ms;
	-moz-transition: color 300ms, background-color 300ms;
	-o-transition: color 300ms, background-color 300ms;
	transition: color 300ms, background-color 300ms;
}
a:hover, a:focus {
	color: #d9890b;
}
ul, ol {
	list-style: none;
}
ul {
	padding: 0;
	margin: 0;
}
hr {
	width: 70px;
	border-top: 4px solid #f39c12;
}
.btn-primary {
	padding: 8px 20px;
	background: #f39c12;
	color: #fff;
	border-radius: 4px;
	border: none;
	margin-top: 10px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover {
	background: #db8c0f;
	outline: none;
	box-shadow: none;
}
a:hover, a:focus {
	color: #111;
	text-decoration: none;
	outline: none;
}
.center h2, .top-center h2 {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 20px;
}
.center h3 {
	font-size: 22px;
	margin-top: 0;
	margin-bottom: 20px;
}
.media>.pull-left {
	margin-right: 20px;
}
.media>.pull-right {
	margin-left: 20px;
}
body > section {
	padding: 70px 0;
}
.center {
	text-align: center;
	padding-bottom: 55px;
}
.top-center {
	background-color: #eeeeee;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 30px;
	border-bottom: 1px solid #fff;
	margin-bottom: 40px;
}
.lead {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}
 @-webkit-keyframes scaleIn {
 0% {
 opacity: 0;
 -webkit-transform: scale(0);
 transform: scale(0);
}
 100% {
 opacity: 1;
 -webkit-transform: scale(1);
 transform: scale(1);
}
}
 @keyframes scaleIn {
 0% {
 opacity: 0;
 -webkit-transform: scale(0);
 -ms-transform: scale(0);
 transform: scale(0);
}
 100% {
 opacity: 1;
 -webkit-transform: scale(1);
 -ms-transform: scale(1);
 transform: scale(1);
}
}
/*************************
*******Header******
**************************/
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}

.navbar>.container .navbar-brand {
	margin-left: 0;
}
.navbar-brand {
	padding: 0;
	margin: 0;
}
.navbar {
	border-radius: 0;
	margin-bottom: 0;
	background: #151515;
	padding: 15px 0;
	padding-bottom: 0;
}
.navbar-nav {
	margin-top: 12px;
}
.navbar-nav>li {
	margin-left: 35px;
	padding-bottom: 28px;
}
.navbar-inverse .navbar-nav > li > a {
	padding: 5px 12px;
	margin: 0;
	border-radius: 3px;
	color: #fff;
	line-height: 24px;
	display: inline-block;
}
.navbar-inverse .navbar-nav > li > a:hover {
	background-color: #f39c12;
	color: #222;
}
.navbar-inverse {
	width:100%;
	border: 0;
	box-shadow: 0 20px 20px rgba(243,156,18,0.3)
}
.navbar-inverse .navbar-brand {
	font-size: 30px;
	line-height: 50px;
	font-weight: 600;
	color: #fff;
}
.navbar-inverse .navbar-brand i.fa {
	color: #f39c12;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #333;
	color: #fff;
}
/*************************
*******Home Page******
**************************/
#main-slide .item img {
	width: 100%;
}
#main-slide .item .slider-content {
	z-index: 0;
	opacity: 0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
}
#main-slide .item.active .slider-content {
	z-index: 0;
	opacity: 1;
	-webkit-transition: opacity 100ms;
	-moz-transition: opacity 100ms;
	-o-transition: opacity 100ms;
	transition: opacity 100ms;
}
#main-slide .item.active .slider-content .logo {
	color: #f39c12;
	font-weight: bold;
}
#main-slide .slider-content {
	top: 50%;
	margin-top: -110px;
	left: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	color: #fff;
}
#main-slide .carousel-indicators {
	bottom: 30px;
}
.carousel-indicators li {
	width: 14px !important;
	height: 14px !important;
	border: 2px solid #fff !important;
	margin: 1px !important;
}
#main-slide .carousel-control.left, #main-slide .carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}
#main-slide .carousel-control.left span {
	padding: 15px;
}
#main-slide .carousel-control.right span {
	padding: 15px;
}
#main-slide .carousel-control .fa-angle-left, #main-slide .carousel-control .fa-angle-right {
	position: absolute;
	top: 40%;
	z-index: 5;
	display: inline-block;
}
#main-slide .carousel-control .fa-angle-left {
	left: 0;
}
#main-slide .carousel-control .fa-angle-right {
	right: 0;
}
#main-slide .carousel-control i {
	background: rgba(0,0,0,.7);
	color: #fff;
	line-height: 36px;
	font-size: 32px;
	padding: 15px 20px;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
#main-slide .slider-content h2 {
	font-size: 60px;
	font-weight: 500;
	text-transform: uppercase;
	color: #eee;
}
#main-slide .slider-content h2.white, #main-slide .slider-content h3.white {
	color: #fff;
}
#main-slide .slider-content h3 {
	font-size: 36px;
	font-weight: 300;
	margin-top: 40px;
	text-align: center;
	color: #eee;
}
.slider.btn {
	padding: 6px 20px;
	margin-top: 60px;
	font-size: 16px;
	line-height: 28px;
	border: 0;
	color: #fff;
	background-color: rgba(243,156,18,0.8);
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.slider.btn.btn-default {
	margin-left: 4px;
	background: #ECECEC
}
.slider.btn:hover {
	background-color: rgba(243,156,18,1);
}
.slider.btn:focus, .slider.btn:active:focus, .slider.btn:active:hover {
	outline: none;
}
#feature {
	background: #f2f2f2;
	padding-bottom: 0px;
}
#feature a {
	color: #f39c12;
	font-weight: bold;
	margin-left: 5px;
	text-transform: uppercase;
}
#feature a:hover {
	color: #444;
}
#feature .btn-primary:hover {
	margin-top: 40px;
	padding: 8px 120px;
	background: #f2f2f2;
	color: #666;
	border-radius: 10px 10px 0 0;
	border: 0;
	box-shadow: 0 -10px 10px #ddd;
}
#inner-page {
	background: #f8f8f8;
	padding-bottom: 0;
	padding-bottom: 20px;
}
.features {
	overflow:hidden;
	padding: 0;
}
.features h3{ color:#fff; display:none; position:absolute; top:-20px; left:0px; width:360px; height:200px; background:#f39c12; opacity:0.9; border-radius:5px; padding:20px;}
.feature-wrap {
	position:relative;
	height:230px;
	margin-bottom: 50px;
	overflow: hidden;
	text-align: center;
}
.feature-wrap h2 {
	margin-top: 10px;
}
.feature-wrap .pull-left {
	margin-right: 25px;
}
.feature-wrap i.fa {
	font-size: 48px;
	height: 110px;
	width: 110px;
	margin: 3px;
	border-radius: 100%;
	line-height: 110px;
	text-align: center;
	background: #ffffff;
	color: #f39c12;
}
#recent-works .col-xs-12.col-sm-4.col-md-4 {
	padding: 15px;
}
#recent-works {
	padding-bottom: 70px;
}
.recent-work-wrap {
	position: relative;
}
#recent-works .readmore {
	color: #f39c12;
	font-weight: bold;
	margin-left: 5px;
	text-transform: uppercase;
}
#recent-works .readmore:hover {
	color: #444;
}
.recent-work-wrap img {
	width: 100%;
}
.recent-work-wrap .recent-work-inner {
	top: 0;
	background: transparent;
	opacity: 1;
	width: 100%;
	border-radius: 0;
	margin-bottom: 0;
	text-align: center;
}
.recent-work-wrap .recent-work-inner h3 {
	margin: 10px 0;
}
.recent-work-wrap .recent-work-inner h3 a {
	font-size: 24px;
	color: #fff;
}
.recent-work-wrap .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 0;
	background: #f39c12;
	color: #fff;
	vertical-align: middle;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
	padding: 30px;
}
.recent-work-wrap .overlay .preview {
	bottom: 0;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	border-radius: 0;
	background: transparent;
	text-align: center;
	color: #fff;
}
.recent-work-wrap:hover .overlay {
	opacity: 0.9;
}
/* Testimonials Section */
#testimonials {
	background: url(../images/testimonial-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #ddd;
	padding: 80px 0;
}
#testimonials H2 {
	color: #ddd;
}
#testimonial {
	padding: 0;
}
#testimonial .item {
	display: block;
	width: 100%;
	height: auto;
}
#testimonial .item p {
	font-weight: 500;
	margin: 0 0 40px 0;
	color: #ddd;
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity=1);
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 20px;
	border-radius: 50%;
	background: #FFFFFF;
	transition: all 0.5s;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);
	opacity: 1;
	background: #f39c12;
}
.owl-theme .owl-controls .owl-page.active span {
	background: #f39c12;
}
#middle {
	background: #f2f2f2;
}
#middle .readmore {
	color: #f39c12;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	margin-top: 30px;
}
#middle .readmore:hover {
	color: #444;
}
#middle h3 {
	color: #4e4e4e;
	font-size: 18px;
	font-weight: 600;
}
#middle i.fa {
	color: #f39c12;
}
#middle .media-body h3 {
	color: #4e4e4e;
	font-size: 18px;
}
.accordion h2 {
	margin-bottom: 25px;
}
.panel-default {
	border-color: transparent;
}
.panel-default>.panel-heading, .panel {
	background-color: #ebebeb;
	border: 0 none;
	box-shadow: none;
}
.panel-default>.panel-heading+.panel-collapse .panel-body {
	background: #f1f1f1;
	color: #4e4e4e;
}
.panel-body {
	padding: 20px;
}
.panel-group .panel+.panel {
	margin-top: 0;
	border-top: 1px solid #d9d9d9;
}
.panel-group .panel {
	border-radius: 8px;
}
.panel-heading {
	border-radius: 0;
}
.panel-title>a {
	color: #4e4e4e;
	font-size: 14px;
}
.accordion-inner img {
	border-radius: 4px;
}
.accordion-inner h4 {
	margin-top: 0;
}
.panel-heading.active {
	background: #ebebeb;
	border-radius: 8px;
}
.panel-heading.active .panel-title>a {
	color: #4e4e4e;
}
a.accordion-toggle i.fa {
	width: 45px;
	line-height: 44px;
	font-size: 20px;
	margin-top: -10px;
	text-align: center;
	margin-right: -15px;
	background: #ebebeb;
	border-radius: 8px;
}
.panel-heading.active a.accordion-toggle i.fa {
	color: #4e4e4e;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.panel-heading.active a.accordion-toggle.collapsed i.fa {
	color: #fff;
}
#get-started {
	padding: 50px 0 60px 0;
	text-align: center;
	background: #eee;
	border-top: 1px solid #fff;
}
/*************************
********* About Us Page CSS ******
**************************/

.about-us {
	padding-bottom: 30px;
}
.about-us h3 {
	color: #4e4e4e;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 30px;
}
.about-us p {
	color: #4e4e4e;
}
.about-us img {
	margin-top: 25px;
}
/*************************
********* Portfolio CSS ******
**************************/
.portfolio-items, .portfolio-filter {
	list-style: none outside none;
	margin: 0 0 40px 0;
	padding: 0;
}
.portfolio-filter > li {
	display: inline-block;
}
.portfolio-filter > li a {
	background: none repeat scroll 0 0 #FFFFFF;
	font-size: 14px;
	font-weight: 400;
	margin-right: 20px;
	text-transform: uppercase;
	transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
	border: 1px solid #F2F2F2;
	outline: none;
	border-radius: 3px;
}
.portfolio-filter > li a:hover, .portfolio-filter > li a.active {
	color: #fff;
	background: #f39c12;
	border: 1px solid #f39c12;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.portfolio-filter .btn-default.active.focus, .portfolio-filter .btn-default.active:focus, .portfolio-filter .btn-default.active:hover, .portfolio-filter .btn-default:active.focus, .portfolio-filter .btn-default:active:focus, .portfolio-filter .btn-default:active:hover {
	color: #fff;
	background-color: #f39c12;
	border-color: #f39c12;
	outline: none;
}
.portfolio-items > li {
	float: left;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.portfolio-item {
	margin: 0;
	padding: 15px;
}
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
/**************************
********* Pricing Table CSS *
**************************/
.pricing-tables {
	padding: 40px 0 80px 0;
	text-align: center;
}
.pricing-tables .pricing-table {
	border: 1px solid #e4e4e4;
	text-align: center;
	position: relative;
	background-color: #fff;
	border-radius: 8px;
}
.pricing-tables .pricing-table:hover {
	z-index: 2;
	box-shadow: 0 0 12px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 12px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,0.1);
	-o-box-shadow: 0 0 12px rgba(0,0,0,0.1);
}
.pricing-tables .highlight-plan {
	margin: -15px 0;
	margin-right: -1px;
	z-index: 1;
}
.pricing-tables .pricing-table.highlight-plan .plan-name {
	background-color: #f39c12;
	padding: 25px 0;
	border-radius: 8px 8px 0 0;
}
.pricing-tables .pricing-table.highlight-plan .plan-name h3 {
	color: #fff;
}
.pricing-tables .pricing-table.highlight-plan .plan-signup {
	background-color: #f39c12;
	padding: 30px 0;
	border-radius: 0 0 8px 8px;
}
.pricing-tables .pricing-table.highlight-plan .plan-signup .btn-system.border-btn {
	border-color: #fff;
	color: #fff;
}
.pricing-table .plan-name {
	padding: 15px 0;
	box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
	-o-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.04) inset;
	border-bottom: 1px solid #eee;
}
.pricing-table .plan-name h3 {
	font-weight: 700;
	color: #666;
	font-size: 22px;
}
.pricing-table .plan-price {
	padding: 25px 0;
}
.pricing-table .plan-price .price-value {
	font-size: 38px;
	line-height: 40px;
	font-weight: 600;
	color: #666;
}
.pricing-table .plan-price .price-value span {
	font-size: 18px;
	font-weight: 300;
	line-height: 18px;
}
.pricing-table .plan-price .interval {
	line-height: 14px;
	color: #999;
	font-size: 13px;
}
.pricing-table.btn-system.border-btn {
	border-color: #f8ba01;
	color: #f8ba01;
}
.pricing-table .plan-list li {
	padding: 8px;
	font-size: 12px;
	border-bottom: 1px solid #eee;
}
.pricing-table .btn-system {
	padding: 5px 15px;
	display: inline-block;
	color: #fff;
	background-color: #f39c12;
	margin-right: 5px;
	font-weight: 300;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	border: 0;
	text-transform: uppercase;
	font-weight: 400;
}
.pricing-table .btn-system:hover, .pricing-table .btn-system.border-btn:hover {
	background-color: #c27c0e;
}
.pricing-table .btn-system:last-child {
	margin-right: 0;
}
.pricing-table .btn-system.border-btn {
	background-color: transparent;
	border: 1px solid;
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.pricing-table .plan-list li:first-child {
	border-top: 1px solid #eee;
}
.pricing-table .plan-signup {
	padding: 25px 0;
}
.pricing-table .plan-signup a {
	text-transform: uppercase;
}
/*************************
********* Contact Us CSS ******
**************************/

#contactForm .text-danger {
	color: #ff3333;
}
.contact_top {
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 2em;
	border-bottom: 2px solid #fff;
}
.contact_details {
	padding: 20px;
	text-align: center;
}
.contact_details i {
	color: #f39c12;
}
.contact_details p {
	padding: 20px 0;
}
.form-group .form-control {
	padding: 7px 12px;
	border-color: #ddd;
	box-shadow: none;
}
.form-group label {
	font-weight: 500;
}
textarea#message {
	resize: none;
	padding: 10px;
	height: 185px;
}
/***********************
********* Footer ******
************************/
#footer {
	padding-top: 60px;
	padding-bottom: 40px;
	color: #aaa;
	background: #2e2e2e;
}
#footer a {
	color: #eee;
}
#footer a:hover {
	color: #f39c12;
}
#footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#footer ul > li {
	display: inline-block;
	margin-left: 15px;
}
.follow-us {
	margin-top: -5px;
	text-align: center;
}
.social-icon {
	padding-top: 6px;
	font-size: 16px;
	text-align: center;
	width: 32px;
	height: 32px;
	border: 2px solid #999;
	border-radius: 50%;
	color: #999;
	margin: 5px;
}
a.social-icon:hover, a.social-icon:active, a.social-icon:focus {
	text-decoration: none;
	color: #f39c12;
	border-color: #f39c12;
}
