@charset 'utf-8';


// 张树垚 2016-01-07 16:01:30 创建
// H5微信端 --- dialog-confirm


.dialog-confirm {
	@extend .dialog-style;
	.dialog-main{
		>p{
			text-align: left;
		}
	}
	&-cancel {
		float: left;
		width: 49%;
		border-right: 1px solid #999;
		margin-right: -1px;
	}
	&-button {
		float: left;
		width: 49%;
		color: $g-blue;
	}
}
