<!-- 果仁宝服务协议 -->
<div class="agreement scroll">
	<div class="agreement-scroll">
		<div class="agreement-title">果仁宝服务协议<br><span id="js-v">V1.0</span></div>
		<div class="agreement-paragraph">果仁宝服务协议（以下简称本协议）由北京果仁宝科技有限公司（以下简称本公司）和您签订。</div>

		<div class="agreement-label">一、声明与承诺</div>
		<div class="agreement-paragraph">（一）在接受本协议或您以本公司允许的其他方式实际使用果仁宝服务之前，请您仔细阅读本协议的全部内容（特别是以粗体标注的内容）。如果您不同意本协议的任意内容，或者无法准确理解本公司对条款的解释，请不要进行后续操作，包括但不限于不要接受本协议，不使用本服务。如果您对本协议的条款有疑问，请通过本公司客服渠道进行询问（客服电话为<a href="tel:400-184-9696" class="blue bold">400-184-9696</a>），本公司将向您解释条款内容。在您完成完成果仁宝注册流程、获得果仁宝账号和密码后，视为您与果仁宝已达成《果仁宝服务协议》。</div>
		<div class="agreement-paragraph">（二）您同意，如本公司需要对本协议进行变更或修改的，须通过网站公告的方式提前予以公布，公告期限届满后即时生效；若您在本协议内容公告变更生效后继续使用果仁宝服务的，表示您已充分阅读、理解并接受变更后的协议内容，也将遵循变更后的协议内容使用果仁宝服务；若您不同意变更后的协议内容，您应在变更生效前停止使用果仁宝服务。</div>
		<div class="agreement-paragraph">（三）如您为无民事行为能力人或为限制民事行为能力人，例如您未满18周岁，则您应在监护人监护、指导下阅读本协议和使用本服务。若您非自然人，则您确认，在您取得果仁宝账户时，或您以其他本公司允许的方式实际使用果仁宝服务时，您为在中国大陆地区合法设立并开展经营活动或其他业务的法人或其他组织，且您订立并履行本协议不受您所属、所居住或开展经营活动或其他业务的国家或地区法律法规的排斥。不具备前述条件的，您应立即终止注册或停止使用果仁宝服务。</span></div>
		<div class="agreement-paragraph">（四）您在使用果仁宝服务时，应自行判断交易对方是否具有完全民事行为能力并自行决定是否使用果仁宝服务与对方进行交易，且您应自行承担与此相关的所有风险。</span></div>

		<div class="agreement-label">二、定义及解释</div>
		<div class="agreement-paragraph">（一）果仁宝账户（或”该账户”）：指您按照本公司允许的方式取得的供您使用果仁宝服务的账户。</div>
		<div class="agreement-paragraph">（二）果仁宝网站：指果仁宝官方网站<a href="https://www.goopal.com.cn/" class="blue">www.goopal.com.cn</a>，及北京果仁宝科技有限公司下支持果仁宝账户名登录的任何网站及/或客户端，以及后续可能开通的其他网站及其他移动客户端应用程序。前述网站及客户端亦可单称或并称本网站。</div>
		<div class="agreement-paragraph">（三）果仁： Goopal集团推出的一种基于区块链技术的全球化数字积分；</div>
		<div class="agreement-paragraph">（四）果仁价格：指“果仁市场”中公示的果仁的实时价格；</div>
		<div class="agreement-paragraph">（五）区块链地址：在区块链上存储果仁的账户名，区块链地址和果仁的关系类似于银行账号和人民币的关系；</div>
		<div class="agreement-paragraph">（六）冻结：指根据本协议的相关条款或有权机关要求的冻结或依据其他协议进行的果仁冻结等。被冻结果仁为不可用状态，被冻结账户不可登录、使用。</div>
		<div class="agreement-paragraph">（七）果仁宝服务：指本协议第三条所描述的服务。</div>

		<div class="agreement-label">三、果仁宝服务</div>
		<div class="agreement-paragraph">果仁宝服务是本公司向您提供的相关服务，是受您委托代您收取果仁、支付果仁和人民币的服务，具体服务项目及内容包括（但不限于）以下服务：</div>
		<div class="agreement-paragraph">（一）代付。即本公司将您的款项和/或果仁代为支付给您指定的第三方。为免疑义，代付具体是指在符合本公司规定或产品规则的情况下: (a)自款项从您的银行账户转出之时起至本公司根据您或有权方给出的指令将上述款项的全部或部分支付给第三方且第三方收到该款项(无论是否要求立即支付或根据届时情况不时支付)之时止的整个过程；或 (b)自果仁从您的果仁宝账户转出之时起至本公司根据您或有权方给出的指令将上述果仁的全部或部分支付给第三方且第三方收到该果仁(无论是否要求立即支付或根据届时情况不时支付)之时止的整个过程；</div>
		<div class="agreement-paragraph">本公司提供的上述的代付服务可以分为以下各类具体服务:</div>
		<div class="agreement-paragraph">1)购买果仁:在符合本公司规定或产品规则的情况下，您委托本公司使用您银行卡内的资金，以果仁的实时价格从果仁宝网站购买相应果仁。</div>
		<div class="agreement-paragraph">2)果仁转账服务:是指接收和付出果仁双方使用本服务，在付出方向本公司指明接收方的果仁宝账户或区块链地址和转账果仁的数额后，本公司将付出方果仁宝账户内指定数量的果仁划转至接收方果仁宝账户或区块链地址的一种服务。本公司提示您注意:该项服务适用于您与接收(付出)方彼此都有充分了解的转账行为，且有真实、合法转账需求的转账行为。在您使用果仁转账服务指示转出果仁时，您所转出的果仁将进入您向本公司指示的接收方的果仁宝账户或区块链地址。在您获得果仁宝账户后，您的果仁宝账户即具备接受(收)来自转账服务的转账果仁的功能，但未经实名认证的果仁宝账户可能会受到转账的限制。基于此项服务可能存在的风险，在使用转账服务时，您理解并接受:</div>
		<div class="agreement-paragraph">a)为控制可能存在的风险，本公司对所有用户使用果仁转账服务时的转账申请进行了不涉及用户隐私的监审，并保留对监审方式和条件等进行无需预告进行调整的权利。</div>
		<div class="agreement-paragraph">b)您可能收到由于使用果仁转账服务的付出方指示错误(失误)而转账到您果仁宝账户或区块链地址的果仁，在此情况下您应该根据国家的相关法律的规定和实际情况处理收到的该笔果仁。</div>
		<div class="agreement-paragraph">c)使用果仁转账服务是基于您对转账对方的充分了解(包括但不限于对方的真实身份及确切的果仁宝账户名等)，一旦您选用果仁转账服务进行果仁转账，您应当自行承担因您指示错误(失误)而导致的风险。本公司依照您指示的接收方并根据本协议的约定完成转账后，即完成了当次服务的所有义务，对于接收方和付出方之间产生的关于当次转账的任何纠纷不承担任何责任，也不提供任何形式的纠纷解决途径，您应当自行处理相关的纠纷。</div>
		<div class="agreement-paragraph">（二）查询。本公司将对您使用本公司服务的操作的全部或部分进行记录，不论该操作之目的最终是否实现。您可以登录果仁宝账户查询您果仁宝账户内的交易记录。</div>

		<div class="agreement-label">四、果仁宝账户</div>
		<div class="agreement-paragraph">（一）注册相关</div>
		<div class="agreement-paragraph">除本协议另有规定或相关产品另有规则外，您须在本网站注册并取得本公司提供给您的果仁宝账户后方可使用本服务。您需使用作为果仁宝账户名的本人手机号码，或者本公司允许的其它方式（例如通过微信授权绑定、扫描二维码、识别生物特征的方式）登录果仁宝账户，并且您应当自行为果仁宝账户设置登录密码。您同意：</div>
		<div class="agreement-paragraph">1、按照本公司要求准确提供并在取得该账户后及时更新您正确、最新及完整的身份信息及相关资料。若本公司有合理理由怀疑您提供的身份信息及相关资料错误、不实、过时或不完整的，本公司有权暂停或终止向您提供部分或全部果仁宝服务。本公司对此不承担任何责任，您将承担因此产生的任何直接或间接支出。若因国家法律法规、部门规章或监管机构的要求，本公司需要您补充提供任何相关资料时，如您不能及时配合提供，本公司有权暂停或终止向您提供部分或全部果仁宝服务。</div>
		<div class="agreement-paragraph">2、您理解并同意，您有义务保持您提供的联系方式的有效性，如有变更需要更新的，您应按本公司的要求进行操作。</div>
		<div class="agreement-paragraph">3、您应及时更新相关资料（包括但不限于身份实名信息、作为果仁宝账户之账户名的手机号码、与果仁宝账户绑定的邮箱、手机号码等），否则本公司有权将果仁宝账户名、果仁宝账户绑定的邮箱、手机号码开放给其他用户注册或使用。因您未及时更新资料导致的一切后果，均应由您自行承担，该后果包括但不限于导致本服务无法提供或提供时发生任何错误、果仁宝账户及该账户内果仁/款项被别人盗用，且您不得将此作为取消交易、拒绝付款的理由。</div>
		<div class="agreement-paragraph">4、若您为个人用户，您确认，本公司有权在出现下列情形时要求核对您的有效身份证件或其他必要文件，留存有效身份证件的彩色扫描件，且完成本公司要求的相关身份认证。您应积极配合，否则本公司有权限制或停止向您提供部分或全部果仁宝服务：</div>
		<div class="agreement-paragraph">A.您的果仁宝账户出现可能会造成您财产损失的安全风险时；</div>
		<div class="agreement-paragraph">B.您要求变更身份信息或您身份信息已过有效期的；</div>
		<div class="agreement-paragraph">C.本公司认为您的交易行为或交易情况出现异常的；</div>
		<div class="agreement-paragraph">D.本公司认为您的身份资料存在疑点或本公司在向您提供服务的过程中认为您已经提供的身份信息或相关资料存在疑点的；</div>
		<div class="agreement-paragraph">E.本公司认为应核对或留存您身份证件或其他必要文件的其他情形的。</div>
		<div class="agreement-paragraph">5、您在果仁宝账户中设置的昵称、头像等必须遵守法律法规、公序良俗、社会公德，且不会侵害其他第三方的合法权益，否则本公司有权对您的果仁宝账户采取限制措施，包括但不限于屏蔽、撤销您果仁宝账户的昵称、头像，停止提供部分或全部果仁宝服务。</div>
		<div class="agreement-paragraph">（二）账户安全</div>
		<div class="agreement-paragraph">您将对使用该账户及密码、验证码进行的一切操作及言论负完全的责任，您同意：</div>
		<div class="agreement-paragraph">1、除相关产品另有规则外，本公司可以通过您的果仁宝账户名和密码或扫描二维码、声波支付、条码支付或识别您的生物特征或者本公司认可的其他方式识别您的身份，您应当对该等果仁宝账户名、密码、验证码、身份识别信息等进行妥善保管，对于因果仁宝账户名、密码、验证码、身份识别信息等泄露所致的损失由您自行承担。您保证不向其他任何人泄露您的果仁宝账户名、密码、验证码以及身份信息等，亦不使用其他任何人的果仁宝账户名、密码、验证码、身份识别信息等。本公司亦可能通过本服务应用您使用的其他产品或设备识别您的指示，您应当妥善保管处于您或应当处于您掌控下的这些产品或设备，对于这些产品或设备因非您本人使用或遗失所致的任何损失，由您自行承担。</div>
		<div class="agreement-paragraph">2、基于计算机端、手机端以及使用其他电子设备的用户使用习惯，我们可能在您使用具体产品时设置不同的账户登录模式及采取不同的措施识别您的身份。</div>
		<div class="agreement-paragraph">3、您同意，（a）如您发现有他人冒用或盗用您的果仁宝账户名及密码或任何其他未经合法授权之情形，或发生与果仁宝账户关联的手机或其他设备遗失或其他可能危及到果仁宝账户权益安全情形时，应立即以有效方式通知本公司，向本公司申请暂停相关服务。您不可撤销地授权本公司将前述情况同步给果仁宝网站，以保障您的合法权益；及（b）确保您在持续登录任一果仁宝网站、产品结束时，以正确步骤离开。本公司不能也不会对因您未能遵守本款约定而发生的任何损失、损毁及其他不利后果负责。您理解本公司对您的请求采取行动需要合理期限，在此之前，本公司对已执行的指令及(或)所导致的您的损失不承担任何责任。</div>
		<div class="agreement-paragraph">4、您确认，您应自行对您的果仁宝账户负责，只有您本人方可使用该账户。该账户不可转让、不可赠与、不可继承，但账户内的相关财产权益可被依法继承。</div>
		<div class="agreement-paragraph">5、您同意，基于运行和交易安全的需要，本公司可以暂时停止提供或者限制本服务部分功能，或提供新的功能，在任何功能减少、增加或者变化时，只要您仍然使用本服务，表示您仍然同意本协议或者变更后的协议。</div>
		<div class="agreement-paragraph">6、本公司有权了解您使用本公司产品或服务的真实交易背景及目的，您应如实提供本公司所需的真实、全面、准确的信息或资料；如果本公司有合理理由怀疑您提供虚假交易信息的，本公司有权暂时或永久限制您所使用本服务的部分或全部功能。</div>
		<div class="agreement-paragraph">7、您同意，本公司有权国家法律或和行政法规所赋予权力的有权机关的要求对您的个人信息或对您的果仁宝账户进行查询、冻结或扣划。</div>
		<div class="agreement-paragraph">(三)注销相关</div>
		<div class="agreement-paragraph">在需要终止使用本服务时，您可以申请注销您的果仁宝账户，您同意:</div>
		<div class="agreement-paragraph">1、您所申请注销的果仁宝账户应当是您本人的账户。如您需要注销您的果仁宝账户，您应当依照本公司规定的程序进行果仁宝账户注销。</div>
		<div class="agreement-paragraph">2、果仁宝账户注销将导致本公司终止为您提供本服务，本协议约定的双方的权利义务终止（依本协议其他条款另行约定不得终止的或依其性质不能终止的除外），同时还可能对于该账户产生如下结果： </div>
		<div class="agreement-paragraph">A、任何兑换代码等都将作废；如您不愿将该部分兑换代码等消耗掉或将其作废，则您不能申请注销果仁宝账户。</div>
		<div class="agreement-paragraph">B、任何银行卡将不能适用该账户内的支付服务。</div>
		<div class="agreement-paragraph">C、您仍应对您在注销果仁宝账户前且使用本服务期间的行为承担相应责任，包括但不限于可能产生的违约责任、损害赔偿责任及履约义务，同时本公司仍可保有您的相关信息。</div>
		<div class="agreement-paragraph">3、您可以通过人工的方式申请注销果仁宝账户。</div>
		<div class="agreement-paragraph">4、您申请注销的果仁宝账户应当处于正常状态，即您的果仁宝账户的账户信息和用户信息是最新、完整、正确的，且该账户可以使用所有果仁宝服务功能。账户信息或用户信息过时、缺失、不正确的账户或被暂停或终止提供服务的账户不能被申请注销。如您申请注销的账户有关联账户或子账户的，在该关联账户或子账户被注销前，该账户不得被注销。</div>
		<div class="agreement-paragraph">5、您申请注销的果仁宝账户应当不存在任何由于该账户被注销而导致的未了结的合同关系与其他基于该账户的存在而产生或维持的权利义务，及本公司认为注销该账户会由此产生未了结的权利义务而产生纠纷的情况。</div>
		<div class="agreement-paragraph">6、如果您申请注销的果仁宝账户一旦注销成功，将不再予以恢复。</div>
		<div class="agreement-paragraph">7、您理解并同意，如您连续6个月未使用您的果仁宝账户名或本公司认可的其他方式登录过果仁宝网站，本公司有权注销您名下的全部或部分果仁宝账户名及果仁宝账户，但本公司承诺将通过短信的方式提前1个月告知和提醒。注销后，您将不能再通过该账户名登录本网站或使用相关果仁宝账户；如该相关果仁宝账户内仍有未使用的果仁，本公司将予以收回。</div>

		<div class="agreement-label">五、果仁宝服务使用规则</div>
		<div class="agreement-paragraph">为有效保障您使用本服务时的合法权益，您理解并同意接受以下规则：</div>
		<div class="agreement-paragraph">（一）本公司通过以下三种方式接受来自您的指令：A、您在本网站或其他可使用本服务的网站或软件上通过以您的果仁宝登陆名及密码或数字证书等安全产品登录果仁宝账户并依照本服务预设流程所修改或确认的交易状态或指令；B、您通过您注册时作为该账户名称或者与该账户绑定的手机或其他专属于您的通讯工具（以下合称该手机）号码向本系统发送的信息（短信或电话等）回复；C、您通过您注册时作为该账户名称或者与该账户名称绑定的其他硬件、终端、软件、代号、编码、代码、其他账户名等有形体或无形体向本系统发送的信息（如本方式所指有形体或无形体具备与该手机接受信息相同或类似的功能，以下第五条第（三）、（四）项和第六条第（三）项涉及该手机的条款同样适用于本方式）。无论您通过以上何种方式中的任一种向本公司发出指令，均被视为您本人的指令且不可撤回或撤销，且成为本公司代理您支付人民币或收取果仁或进行其他账户操作的唯一指令，您应当自己对本公司忠实执行上述指令产生的任何结果承担责任。本协议所称绑定，指您的果仁宝账户与本条上述所称有形体或无形体存在对应的关联关系，这种关联关系使得果仁宝服务的某些服务功能得以实现，且这种关联关系有时使得这些有形体或无形体能够作为本系统对您的果仁宝账户的识别和认定依据。</div>
		<div class="agreement-paragraph">（二）您在使用本服务过程中，本协议内容、网页上出现的关于操作的提示或本公司发送到该手机的信息（短信或电话等）内容是您使用本服务的相关规则，您使用本服务即表示您同意接受本服务的相关规则。您了解并同意本公司有权单方修改本服务的相关规则，而无须征得您的同意，本服务的相关规则应以您使用服务时的页面提示（或发送到该手机的短信或电话或客户端通知等）为准，您同意并遵照本服务的相关规则是您使用本服务的前提。</div>
		<div class="agreement-paragraph">（三）本公司会以网站公告、电子邮件、发送到该手机的短信、电话、站内信或客户端通知等方式向您发送通知，例如通知您交易进展情况，或者提示您进行相关操作，您应及时予以关注。但本公司不保证您能够收到或者及时收到该等通知，且对此不承担任何后果。因您没有及时对交易状态进行修改或确认或未能提交相关申请而导致的任何纠纷或损失，本公司不负任何责任。</div>
		<div class="agreement-paragraph">（四）您应按照本公司的要求完善您的身份信息以最终达到实名，否则您可能会在果仁转账、绑定银行卡等服务中受到限制，直至您达到实名。</div>
		<div class="agreement-paragraph">（五）本公司会将您委托本公司代收或代付的果仁，严格按照法律法规或有权机关的监管要求进行管理；除本协议另有规定外，不作任何其他非您指示的用途。</div>
		<div class="agreement-paragraph">（六）本公司并非银行或金融机构，本协议项下涉及的资金移转均通过银行业金融机构来实现，您接受您的资金在转移转途中产生的合理时间。</div>
		<div class="agreement-paragraph">（七）您理解，基于相关法律法规，对本协议项下的任何服务，本公司均不提供任何担保、垫资。</div>
		<div class="agreement-paragraph">（八）您不得将本服务用于非本公司许可的其他用途。</div>
		<div class="agreement-paragraph">（九）交易风险</div>
		<div class="agreement-paragraph">1、果仁价格随市场波动，您承认并接受购买的果仁可能会因此产生一定程度的贬值。</div>
		<div class="agreement-paragraph">2、因您的过错导致的任何损失由您自行承担，该过错包括但不限于：不按照交易、支付提示操作，未及时进行交易操作，遗忘或泄漏密码，密码被他人破解，您使用的计算机被他人侵入。</div>
		<div class="agreement-paragraph">3、您使用本服务时同意并认可，可能由于银行本身系统问题、银行相关作业网络连线问题、任何互联网系统问题或网络运营商原因、您的电子邮件系统问题或邮件服务商原因、您的手机通讯系统问题或通讯服务商原因或其他不可抗拒因素，造成本服务无法提供，对此本公司不承担任何责任。</div>
		<div class="agreement-paragraph">（十）服务费用</div>
		<div class="agreement-paragraph">1、在您使用本服务时，本公司有权向您收取服务费用。本公司拥有制订及调整服务费之权利，具体服务费用以您使用本服务时本网站、产品页面上所列之收费为准。</div>
		<div class="agreement-paragraph">2、除非另有说明或约定，您同意本公司有权自您委托本公司代收或代付的果仁或您任一果仁宝账户余额或者其他数字资产中直接扣除上述服务费用。</div>
		<div class="agreement-paragraph">（十一）积分</div>
		<div class="agreement-paragraph">1、就您使用本服务过程中本公司向您授予的积分，无论该积分以何种方式获得，您都不得使用该积分换取任何现金或金钱。</div>
		<div class="agreement-paragraph">2、积分并非您拥有所有权的财产，本公司有权单方面调整积分数值或调整本公司的积分规则，而无须征得您的同意。</div>
		<div class="agreement-paragraph">3、您仅有权按本公司的积分规则，将所获积分交换本公司提供的指定的服务或产品。</div>
		<div class="agreement-paragraph">4、如本公司怀疑您的积分的获得及(或)使用存有欺诈、滥用或其它本公司认为不当的行为，本公司可随时取消、限制或终止您的积分或积分使用。</div>
		<div class="agreement-paragraph">（十二）您认可果仁宝账户的使用记录、交易金额数据等均以果仁宝系统记录的数据为准。如您对该等数据存有异议的，应自您账户数据发生变动之日起三日内向本公司提出异议，并提供相关证据供本公司核实，否则视为您认可该数据。</div>
		<div class="agreement-paragraph">（十三）如您使用果仁宝代扣服务的，下面任一情况下均会导致扣款不成功，您需要自行承担该风险：</div>
		<div class="agreement-paragraph">1、您的指定账户余额不足；或</div>
		<div class="agreement-paragraph">2、您的指定账户被有权机关采取强制措施，或者已依据其他协议被冻结、止付。</div>

		<div class="agreement-label">六、果仁宝服务使用限制</div>
		<div class="agreement-paragraph">（一）您在使用本服务时应遵守中华人民共和国相关法律法规及您所属、所居住或开展经营活动或其他业务的国家或地区的法律法规，不得将本服务用于任何非法目的。</div>
		<div class="agreement-paragraph">（二）您不得利用本服务从事侵害他人合法权益之行为，否则本公司有权拒绝提供本服务，且您应承担所有相关法律责任，因此导致本公司/本公司雇员或任何第三方受损的，您应承担赔偿责任。</div>
		<div class="agreement-paragraph">上述（一）和（二）适用的情况包括但不限于</div>
		<div class="agreement-paragraph">1、侵害他人名誉权、隐私权、商业秘密、商标权、著作权、专利权等合法权益。</div>
		<div class="agreement-paragraph">2、违反依法定或约定之保密义务。</div>
		<div class="agreement-paragraph">3、冒用他人名义使用本服务。</div>
		<div class="agreement-paragraph">4、从事不法交易行为，如洗钱、恐怖融资、贩卖枪支、毒品、禁药、盗版软件、黄色淫秽物品、其他本公司认为不得使用本服务进行交易的物品等。</div>
		<div class="agreement-paragraph">5、提供赌博资讯或以任何方式引诱他人参与赌博。</div>
		<div class="agreement-paragraph">6、非法使用他人银行账户（包括信用卡账户）或无效银行账号（包括信用卡账户）交易。</div>
		<div class="agreement-paragraph">7、违反《银行卡业务管理办法》使用银行卡，或利用信用卡套取现金（以下简称套现）。</div>
		<div class="agreement-paragraph">8、进行与您或交易对方宣称的交易内容不符的交易，或不真实的交易。</div>
		<div class="agreement-paragraph">9、从事任何可能含有电脑病毒或是可能侵害本服务系统、资料之行为。</div>
		<div class="agreement-paragraph">10、其他本公司有正当理由认为不适当之行为。</div>
		<div class="agreement-paragraph">（三）您理解并同意，本公司不对因下述任一情况导致的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其他无形损失的损害赔偿 (无论本公司是否已被告知该等损害赔偿的可能性)：</div>
		<div class="agreement-paragraph">1、本公司有权基于单方判断，包含但不限于本公司认为您已经违反本协议的明文规定及精神，对您的名下的全部或部分果仁宝账户暂停、中断或终止向您提供本服务或其任何部分，并移除您的资料。</div>
		<div class="agreement-paragraph">2、在发现异常交易或合理怀疑交易有疑义或有违反法律规定或本协议约定之时，为维护用户资产安全和合法权益，本公司有权不经通知先行暂停或终止您名下全部或部分果仁宝账户的使用（包括但不限于对这些账户名下的果仁和在途交易采取取消交易、调账等措施），同时可能需要您配合提供包括但不限于身份证、银行卡，和交易过程中的其他证明资料。如您未及时、完整、准确提供上述资料，本公司有权采取包括但不限于如下限制措施：关闭账户支付功能、限制接收转账功能或停止提供全部或部分果仁宝服务。如涉嫌犯罪，本公司有权移交公安机关处理。</div>
		<div class="agreement-paragraph">3、您理解并同意，存在如下情形时，本公司有权对您名下果仁宝账户暂停或终止提供全部或部分果仁宝服务，或对资金的全部或部分进行止付，且有权限制您所使用的产品或服务的部分或全部功能（包括但不限于对这些账户名下的果仁/款项和在途交易采取取消交易、调账等限制措施），并通过邮件或站内信或者客户端通知等方式通知您，您应及时予以关注： </div>
		<div class="agreement-paragraph">1）根据本协议的约定；</div>
		<div class="agreement-paragraph">2）根据法律法规及法律文书的规定；</div>
		<div class="agreement-paragraph">3）根据有权机关的要求；</div>
		<div class="agreement-paragraph">4）您使用果仁宝服务的行为涉嫌违反国家法律法规及行政规定的；</div>
		<div class="agreement-paragraph">5）本公司基于单方面合理判断认为账户操作、资金、果仁进出等存在异常时；</div>
		<div class="agreement-paragraph">6）本公司依据自行合理判断认为可能产生风险的；</div>
		<div class="agreement-paragraph">7）您在参加市场活动时有批量注册账户、刷信用及其他舞弊等违反活动规则、违反诚实信用原则的；</div>
		<div class="agreement-paragraph">8）他人向您账户错误汇入果仁等导致您可能存在不当得利的；</div>
		<div class="agreement-paragraph">9）您遭到他人投诉，且对方已经提供了一定证据的；</div>
		<div class="agreement-paragraph">10）您可能错误地将他人果仁宝账户进行了实名的。</div>
		<div class="agreement-paragraph">如您申请恢复服务、解除上述止付或限制，您应按本公司要求如实提供相关资料及您的身份证明以及本公司要求的其他信息或文件，以便本公司进行核实，且本公司有权依照自行判断来决定是否同意您的申请。您应充分理解您的申请并不必然被允许。您拒绝如实提供相关资料及身份证明的，或未通过本公司审核的，则您确认本公司有权长期对该等账户停止提供服务且长期限制该等产品或者服务的部分或全部功能。</div>
		<div class="agreement-paragraph">在本公司认为该等异常已经得到合理解释或有效证据支持或未违反国家相关法律法规及部门规章的情况下，最晚将于止付款项或暂停执行指令之日起的30个日历天内解除止付或限制。但本公司有进一步理由相信该等异常仍可能对您或其他用户或本公司造成损失的情形除外，包括但不限于：</div>
		<div class="agreement-paragraph">1）收到针对该等异常的投诉；</div>
		<div class="agreement-paragraph">2）您已经实质性违反了本协议或另行签署的协议，且我们基于保护各方利益的需要必须继续止付款项或暂停执行指令；</div>
		<div class="agreement-paragraph">3）您虽未违反国家相关法律法规及部门规章规定，但该等使用涉及本公司限制合作的行业类目或商品，包括但不限于通过本公司的产品或服务从事类似金字塔或矩阵型的高额返利业务模式。</div>

		<div class="agreement-label">七、隐私权保护</div>
		<div class="agreement-paragraph">本公司高度重视对用户隐私的保护。关于您的身份资料和其他特定资料均受到本公司严格的保护与规范。</div>

		<div class="agreement-label">八、系统中断或故障</div>
		<div class="agreement-paragraph">本公司系统因下列状况无法正常运作，使您无法使用各项服务时，本公司不承担损害赔偿责任，该状况包括但不限于：</div>
		<div class="agreement-paragraph">（一）本公司在本网站公告之系统停机维护期间。</div>
		<div class="agreement-paragraph">（二）电信设备出现故障不能进行数据传输的。</div>
		<div class="agreement-paragraph">（三）因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成本公司系统障碍不能执行业务的。</div>
		<div class="agreement-paragraph">（四）由于黑客攻击、电信部门技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。</div>

		<div class="agreement-label">九、责任范围及责任限制</div>
		<div class="agreement-paragraph">（一）本公司仅对本协议中列明的责任承担范围负责。</div>
		<div class="agreement-paragraph">（二）您明确因适用本服务从事的交易所产生的任何风险应由您与交易对方承担。</div>
		<div class="agreement-paragraph">（三）果仁宝用户信息是由用户本人自行提供的，本公司无法保证该信息之准确、及时和完整，您应对您的判断承担全部责任。</div>
		<div class="agreement-paragraph">（四）本公司不对交易标的及本服务提供任何形式的保证，包括但不限于以下事项：</div>
		<div class="agreement-paragraph">1、本服务符合您的需求。</div>
		<div class="agreement-paragraph">2、本服务不受干扰、及时提供或免于出错。</div>
		<div class="agreement-paragraph">3、您经由本服务购买或取得之任何产品、服务、资讯或其他资料符合您的期望。</div>
		<div class="agreement-paragraph">4、您使用本服务从事的交易及时或最终完成。</div>
		<div class="agreement-paragraph">（五）本服务之合作单位，所提供之服务品质及内容由该合作单位自行负责。</div>
		<div class="agreement-paragraph">（六）您经由本服务之使用下载或取得任何资料，应由您自行考量且自负风险，因资料之下载而导致您电脑系统之任何损坏或资料流失，您应负完全责任。</div>
		<div class="agreement-paragraph">（七）您自本公司及本公司工作人员或经由本服务取得之建议和资讯，无论其为书面或口头形式，均不构成本公司对本服务之保证。</div>
		<div class="agreement-paragraph">（八）在任何情况下，本公司对于与本协议有关或由本协议引起的任何间接的、惩罚性的、特殊的、派生的损失（包括业务损失、收益损失、利润损失、商誉损失、使用数据或其他经济利益的损失），不论是如何产生的，也不论是由对本协议的违约（包括违反保证）还是由侵权造成的，均不负有任何责任，即使事先已被告知此等损失的可能性。另外即使本协议规定的排他性救济没有达到其基本目的，也应排除本公司对上述损失的责任。</div>
		<div class="agreement-paragraph">（九）在任何情况下，本公司对本协议所承担的违约赔偿责任总额不超过向您收取的当次服务费用总额。</div>
		<div class="agreement-paragraph">（十）您充分知晓并同意本公司可能同时为您及您的（交易）对手方提供本服务，您同意对本公司可能存在的该等行为予以明确豁免任何实际或潜在的利益冲突，并不得以此来主张本公司在提供本服务时存在法律上的瑕疵。</div>
		<div class="agreement-paragraph">（十一）除本协议另有规定或本公司另行同意外，您对本公司的委托及向本公司发出的指令均不可撤销。</div>

		<div class="agreement-label">十、知识产权的保护</div>
		<div class="agreement-paragraph">（一）本公司所有系统及本网站上所有内容，包括但不限于文字、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由本公司依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。</div>
		<div class="agreement-paragraph">（二）非经本公司或本公司关联企业书面同意，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表本网站程序或内容。</div>
		<div class="agreement-paragraph">（三）尊重知识产权是您应尽的义务，如有违反，您应承担损害赔偿责任。</div>

		<div class="agreement-label">十一、法律适用与管辖</div>
		<div class="agreement-paragraph">本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。因本协议产生之争议，均应依照中华人民共和国法律予以处理，并应提交北京仲裁委员会通过仲裁方式解决。</div>

	</div>
</div>
