<!-- 果仁宝服务协议 -->
<div class="agreement">
	<div class="agreement-scroll">
		<div class="agreement-title">果仁宝服务协议<br>V1.0</div>
		<div class="agreement-paragraph">果仁宝服务协议（以下简称本协议）由北京果仁宝科技有限公司（以下简称本公司）和您签订。</div>
		<div class="agreement-label">一、声明与承诺</div>
		<div class="agreement-paragraph">（一）在接受本协议或您以本公司允许的其他方式实际使用果仁宝服务之前，请您仔细阅读本协议的全部内容（特别是以粗体标注的内容）。如果您不同意本协议的任意内容，或者无法准确理解本公司对条款的解释，请不要进行后续操作，包括但不限于不要接受本协议，不使用本服务。如果您对本协议的条款有疑问，请通过本公司客服渠道进行询问（客服电话为400-184-9696），本公司将向您解释条款内容。在您完成完成果仁宝注册流程、获得果仁宝账号和密码后，视为您与果仁宝已达成《果仁宝服务协议》。</div>
		<div class="agreement-paragraph">（二）您同意，如本公司需要对本协议进行变更或修改的，须通过网站公告的方式提前予以公布，公告期限届满后即时生效；若您在本协议内容公告变更生效后继续使用果仁宝服务的，表示您已充分阅读、理解并接受变更后的协议内容，也将遵循变更后的协议内容使用果仁宝服务；若您不同意变更后的协议内容，您应在变更生效前停止使用果仁宝服务。</div>
		<div class="agreement-paragraph">（三）如您为无民事行为能力人或为限制民事行为能力人，例如您未满18周岁，则您应在监护人监护、指导下阅读本协议和使用本服务。若您非自然人，则您确认，在您取得果仁宝账户时，或您以其他本公司允许的方式实际使用果仁宝服务时，您为<span class="bold">求核对您的有效身份证件或其他必要文件， 留存有效身份证件的彩色扫描件，且完成本公司要求的相关身份认证。您应积极配合，否则本公司有权限制或停止向您提供部分或全部果仁宝服务：</span></div>
	</div>
</div>
